<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSK</title>
</head>

<body>
<h3>GSK</h3>
Use el siguiente pin {{ pin }} para firmar los siguientes contratos:
<p>
    <a href="{{link1}}">Firmar Contrato 1</a>.
    Si el link no funciona copie y pegue la siguiente url en el navegador: {{link1}}
</p>
{% if link2 is defined %}
<p>
    <a href="{{link2}}">Firmar Contrato 2</a>.
    Si el link no funciona copie y pegue la siguiente url en el navegador: {{link2}}
</p>
{% endif %}

</body>

</html>

