{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Create news entry {% endblock %}
{% block head %}
    <link href="/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/css/plugins/iCheck/custom.css" rel="stylesheet">

    {{ parent() }}
{% endblock %}
{% block main_title %} {{'Delete News Entry'|trans}} {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('nononsense_home_homepage')}}">Home</a>
    </li>
    <li>
        <a href="{{ path('nononsense_news_homepage')}}">News</a>
    </li>
    <li class="active">
        <strong>{{'Delete'|trans}}</strong>
    </li>
</ol>
{% endblock %}
{% block content %}
    {{ form_start(deleteNews) }}
        {{ form_errors(deleteNews) }}
        
        <div class="row">
            <div class="col-lg-12">
                <div style="margin: 20px 10px">
                <h4>{{'You are about to delete the news item entitled:'|trans}}</h4>
                <h2 class="text-navy">&quot;{{news.title}}&quot;</h2>
                </div>
            </div>
        </div>
            

        <div class="row">
            <div class="col-lg-12">
            {{ form_widget(deleteNews.save, {'attr' : {'class': 'btn btn-danger'}}) }}
            <button type="button" class="btn btn-w-m btn-default" style="margin-left: 8px" onclick="window.location.href='{{path('nononsense_news_homepage')}}'">Cancel</button>
            </div>
        </div>
    
    {{ form_end(deleteNews) }}

{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
        ActivateMenu('browse_news');
        $('#side-menu').metisMenu();
    </script>
{% endblock %}


