{% extends '::base.html.twig' %}
{% block page_title %} Buzón | GSK {% endblock %}
{% block main_title %} Buzón {% endblock %}

    {% block head %}
    {{ parent() }}
        <style type="text/css">
            .mail-box table{
                cursor: pointer;
            }
            .mail-box table tr:hover{
               box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
            }
            .mail-box table tr:hover input[type=checkbox]{
                transform: scale(1.2);
            }
        </style>
    {% endblock %}



{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('nononsense_home_homepage')}}">Home</a>
    </li>
    <li class="active">
        <strong>Mensajes</strong>
    </li>
</ol>
{% endblock %}
{% block content %}

    <div class="mail-box-header">

        <form method="get" action="index.html" class="float-right mail-search">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm" name="search" placeholder="Buscar mensaje">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Buscar
                    </button>
                </div>
            </div>
        </form>
        <h2>
            Inbox ({{emails|length }})
        </h2>
        <div class="mail-tools tooltip-demo m-t-md">
            <div class="btn-group float-right">
                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

            </div>

            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" id="read" title="Mark as read"><i class="fa fa-eye"></i> </button>
            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as important"><i class="fa fa-exclamation"></i> </button>
            <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i> </button>

        </div>
    </div>
        <div class="mail-box">

        <table class="table table-hover table-mail">
        <tbody>
        {% for email in emails %}
            <tr data-id="{{email.id}}" class="{{email.created < email.modified ? 'read' : 'unread'}}">
                <td class="check-mail"><input type="checkbox" class="i-checks"></td>
                <td class="check-mail"><i class="fa fa-star"></i></td>
                <td class="mail-ontact"><span class="label label-warning float-right">System</span></td>
                <td class="mail-subject">{{email.subject}}</td>
                <td class="mail-body">{{email.body|slice(0,80)}}...</td>
                <td class="text-right mail-date">{{email.created|date('Y-m-d')}}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>


        </div>
           
{% endblock %}

{% block scripts %}
{{ parent() }}

    <script type="text/javascript">
        $('td:not(.check-mail)').click(function(){
            var url = "{{ path('nononsense_notifications_mails_view', {id:0})}}";
            url = url.replace('0', $(this).parent().data('id'))
            window.location.href = url;
        })



        $('#read').click(function(){
            var emails = [];
            console.log()
            $('input[type="checkbox"]:checked').each(function(){
                emails.push($(this).closest('tr').data('id'));
            })

            $.ajax({
                url: 'http://gsk.localhost/app_dev.php/messages/mails/edit',
                data: {data: JSON.stringify(emails)},
                method: 'PUT',
                success: function(response){
                    console.log(response)
                }
            })

            // window.location = window.location;
        })
    </script>
{% endblock %}