<!DOCTYPE html>
{% block namespaces %}<html>{% endblock%}
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:;default-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/nononsensehome/css/loader-generic.css') }}">

    <title>{% block page_title %}GSK{% endblock %}</title>
    {% block head %}
        {% include "::head.html.twig" %}
    {% endblock %}
    </head>
    <body class="boxed-layout">
        <div class="header-page">
            {% block nav_top %}
                    {{ render(controller('Nononsense\HomeBundle:Default:topSide')) }}
            {% endblock %} 
        </div>
        <div id="wrapper" class="border-xs-top border-sm-top">
            {% block nav_side %}
                {{ render(controller('Nononsense\HomeBundle:Default:navSide')) }}
            {% endblock %}
            <div id="page-wrapper">
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-sm-12">
                        <h2>{% block main_title %} Title {% endblock %}</h2>
                        {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li>
				<a href="{{ path('nononsense_home_homepage')}}">{{'Home'|trans}}</a>
                            </li>
                        </ol>
                        {% endblock %}
                    </div>      
                </div>
                {% block content %}Content{% endblock %}
                
                {% block help %}
                    {% include "::help.html.twig" %}
                {% endblock %}
            </div>
        </div>
        <div class="footer-wrapper">
            {% block footer %}
                {% include "::footer.html.twig" %}
            {% endblock %}
        </div>
        {% block scripts %}
            {% include "::scripts.html.twig" %}
        {% endblock %}

        <div id='div_mascara' style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; z-index: -1000;"></div>
    
        <div id='div_loader_admin' style="display: none;" class="ui-loader ui-corner-all ui-body-a ui-loader-verbose">
            <span class="ui-icon-loading"></span>
            <h1>{{ 'cargando'|trans|capitalize }}...</h1>
        </div>

        {{ render(controller('Nononsense\HomeBundle:Default:popupAreas')) }}
        {{ render(controller('Nononsense\HomeBundle:Default:popupAZ')) }}

    </body>


</html>

<script>
    function show_loader(){
        $('#div_loader_admin').show();
        $('#div_mascara').css("z-index", "10000");
    }

    function hide_loader(){
        $('#div_mascara').css("z-index", "-1000");
        $('#div_loader_admin').hide();
    }

    function gpassword_valid(password){
        var result;
        $.ajax({
            url: "{{ path('nononsense_mclean_get_sign_valid') }}",
            type: 'POST',
            dataType: 'json',
            async: false,
            data: {password: password},
            success: function(response) {
                console.log(response);
                if(response.valid){
                    result=true;
                }else{
                    result=false;
                }
            },
            error: function() {
                result=false;
            }
        });

        return result;
    }
</script>
