{% set batch = app.session.get('batch')%}

{% set groups = app.user.getGroups    %}
{% set FLL = "0" %}
{% set ECO = "0" %}

{% if groups|length > 0 %}
{% for group in groups %}
{% set type = group.group.tipo %}

{% if type == 'FLL' %}
{% set FLL = "1" %}
{% endif %}
{% if type == 'ECO' %}
{% set ECO = "1" %}
{% endif %}

{% endfor %}
{% endif %}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="navbar-header hidden-xs">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                {{ render(controller('NononsenseUserBundle:Default:widget')) }}
            </li>
            <li id="docxpresso_home">
                <a href="{{path('nononsense_home_homepage')}}"><i class="fa fa-home"></i> <span class="nav-label">{{'Home'|trans}}</span></a>
            </li>
            {% if 'admin_gp' in array_subsecciones or 'elaborador_gp' in array_subsecciones or 'tester_gp' in array_subsecciones  or 'aprobador_gp' in array_subsecciones  or 'dueno_gp' in array_subsecciones %}
                <li>
                    <a href="#"><i class="fa fa-file-word-o"></i> <span class="nav-label">{{'Gestión de plantillas'|trans}}</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if 'elaborador_gp' in array_subsecciones  or 'dueno_gp' in array_subsecciones %}
                            <li id="new_request_gp">
                                <a href="{{path('nononsense_tm_request')}}"><span class="nav-label">Nueva solicitud</span></a>
                            </li>
                        {% endif %}
                        {% if 'admin_gp' in array_subsecciones %}
                            <li id="solicitudes_gestion_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?state=1"><span class="nav-label">Solicitudes pendientes</span></a>
                            </li>
                        {% endif %}
                        {% if 'elaborador_gp' in array_subsecciones %}
                            <li id="elaboracion_gestion_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?state=2"><span class="nav-label">En elaboración</span></a>
                            </li>
                        {% endif %}
                        {% if 'tester_gp' in array_subsecciones %}
                            <li id="test_gestion_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?state=3"><span class="nav-label">En test</span></a>
                            </li>
                        {% endif %}
                        {% if 'aprobador_gp' in array_subsecciones %}
                            <li id="aprobacion_gestion_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?state=4"><span class="nav-label">En aprobación</span></a>
                            </li>
                        {% endif %}
                        {% if 'admin_gp' in array_subsecciones %}
                            <li id="pendientes_gestion_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?state=5"><span class="nav-label">Pdt. configuración</span></a>
                            </li>
                        {% endif %}
                        {% if 'admin_gp' in array_subsecciones %}
                            <li id="pendientes_vigor_gestion_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?state=11"><span class="nav-label">Pdt. puesta en vigor</span></a>
                            </li>
                        {% endif %}
                        {% if 'admin_gp' in array_subsecciones %}
                            <li id="solicitudes_baja_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?request_drop=1"><span class="nav-label">Solicitudes baja</span></a>
                            </li>
                        {% endif %}
                        {% if 'elaborador_gp' in array_subsecciones  or 'dueno_gp' in array_subsecciones  or 'aprobador_gp' in array_subsecciones  %}
                            <li id="solicitudes_revision_plantillas">
                                <a href="{{path('nononsense_tm_templates')}}?request_review=1"><span class="nav-label">Solicitudes revisiones</span></a>
                            </li>
                        {% endif %}
                        <li id="en_vigor_gestion_plantillas">
                            <a href="{{path('nononsense_tm_templates')}}?state=6"><span class="nav-label">En vigor</span></a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            
            <li id="docxpresso_nuevo">
                <a href="#" data-toggle="modal" data-target="#popupArea"><i class="fa fa-pencil-square"></i> <span class="nav-label">{{'Nuevo registro'|trans}}</span></a>
            </li>
            <li id="docxpresso_search">
                <a href="{{path('nononsense_cv_search')}}"><i class="fa fa-search" aria-hidden="true"></i> <span class="nav-label">Buscador</span></a>
            </li>
            <li id="docxpresso_proceso">
                <a href="{{path('nononsense_cv_search')}}?pending_for_me=1"><i class="fa fa-folder"></i> <span class="nav-label">{{'En proceso'|trans}}</span></a>
            </li>
            <li id="docxpresso_archivo">
                <a href="{{path('nononsense_cv_search')}}?status=-5"><i class="fa fa-archive"></i> <span class="nav-label">{{'Archivo'|trans}}</span></a>
            </li>
            <li id="docxpresso_search_contains">
                <a href="{{path('nononsense_cv_content_search')}}"><i class="fa fa-search-plus" aria-hidden="true"></i> <span class="nav-label">Buscador de contenido</span></a>
            </li>
            <li id="docxpresso_gxp">
                <a href="{{path('nononsense_cv_search')}}?gxp=1"><i class="fa fa-magic" aria-hidden="true"></i> <span class="nav-label">{{'Modificaciones GxP'|trans}}</span></a>
            </li>
            <li id="docxpresso_standby">
                <a href="{{path('nononsense_cv_search')}}?blocked=1"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">{{'En revisión'|trans}}</span></a>
            </li>

            {% if 'retention_admin' in array_subsecciones or 'retention_agent' in array_subsecciones %}
                <li>
                    <a href="#">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span class="nav-label">{{'Retención y destrucción'|trans}}</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        {% if 'retention_admin' in array_subsecciones %}
                            <li id="retention_admin">
                                <a href="{{path('nononsense_retention_categories_list')}}">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                    <span class="nav-label"> Categorías</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'retention_agent' in array_subsecciones %}
                            <li id="retention_templ">
                                <a href="{{path('nononsense_retention_list')}}?retention_type=1">
                                    <i class="fa fa-file-word-o"></i>
                                    <span class="nav-label"> Plantillas</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'retention_agent' in array_subsecciones %}
                            <li id="retention_cumpl">
                                <a href="{{path('nononsense_retention_list')}}?retention_type=2">
                                    <i class="fa fa-pencil-square"></i>
                                    <span class="nav-label"> Cumplimentaciones</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if 'retention_admin' in array_subsecciones %}
                            <li id="retention_log">
                                <a href="{{path('nononsense_retention_log')}}">
                                    <i class="fa fa-book" aria-hidden="true"></i>
                                    <span class="nav-label"> Audittrail</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if 'albaran_gestion' in array_subsecciones or 'albaran_use' in array_subsecciones %}
                <li id="docxpresso_plantdocs">
                    <a href="{{path('nononsense_documents')}}"><i class="fa fa-cogs" aria-hidden="true"></i> <span class="nav-label">Plantillas Doc.</span></a>
                </li>
            {% endif %}
            <li id="docxpresso_docs">
                <a href="{{path('nononsense_records')}}"><i class="fa fa-file-text" aria-hidden="true"></i> <span class="nav-label">Documentos</span></a>
            </li>
            <li id="docxpresso_mydocs">
                <a href="{{path('nononsense_records')}}?pending_for_me=1"><i class="fa fa-file" aria-hidden="true"></i> <span class="nav-label">Mis Doc. Pend.</span></a>
            </li> 

            {% if 'graphics_cv' in array_subsecciones or 'graphics_templates' in array_subsecciones or 'graphics_tm' in array_subsecciones %}
                <li>
                    <a href="#">
                        <i class="fa fa-pie-chart" aria-hidden="true"></i>
                        <span class="nav-label">Efectividad de Área</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        {% if 'graphics_tm' in array_subsecciones %}
                            <li id="graphics_tm">
                                <a href="{{path('nononsense_activity_tm_templates')}}?limit_many=15"> <span class="nav-label">Elab./Aprob</span></a>
                            </li>
                        {% endif %}

                        {% if 'graphics_cv' in array_subsecciones %}
                            <li id="graphics_cv">
                                <a href="{{path('nononsense_activity')}}?limit_many=15"> <span class="nav-label">Cumpl./Verif.</span></a>
                            </li>
                        {% endif %}

                        {% if 'graphics_templates' in array_subsecciones %}
                            <li id="graphics_templates">
                                <a href="{{path('nononsense_activity_templates')}}?limit_many=15&group=1"> <span class="nav-label">Plantillas</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if 'plantillas_contratos_gestion' in array_subsecciones or 'contratos_gestion' in array_subsecciones %}
                <li>
                    <a href="#">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span class="nav-label">Contratos</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        {% if 'plantillas_contratos_gestion' in array_subsecciones %}
                            <li id="li_plantillas_contratos"><a href="{{path('nononsense_contracts')}}"><i class="fa fa-cogs" aria-hidden="true"></i> <span class="nav-label">Plantillas Contratos</span></a></li>
                        {% endif %}
                        {% if 'contratos_gestion' in array_subsecciones %}
                            <li id="li_contratos"><a href="{{path('nononsense_records_contracts')}}"><i class="fa fa-file-text" aria-hidden="true"></i> <span class="nav-label">Contratos</span></a></li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}
            
            {% if 'productos_gestion' in array_subsecciones or 'productos_recepcion' in array_subsecciones or 'productos_retirada' in array_subsecciones or 'reactivos_disolution' in array_subsecciones or 'reactivos_use' in array_subsecciones %}
                <li>
                    <a href="#">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <span class="nav-label">{{'Reactivos'|trans}}</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        {% if 'productos_recepcion' in array_subsecciones %}
                        <li>
                            <a href="#">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span class="nav-label">{{'Recepción'|trans}}</span>
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-third-level">
                                <li id="browse_material_inputs">
                                    <a href="{{path('nononsense_products_input_list',{'type': 'material'})}}">{{'Material'|trans}}</a>
                                </li>
                                <li id="browse_reactivos_inputs">
                                    <a href="{{path('nononsense_products_input_list',{'type': 'reactivo'})}}">{{'Reactivos'|trans}}</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if 'productos_retirada' in array_subsecciones %}
                            <li id="browse_product_outputs">
                                <a href="{{ path('nononsense_products_outputs') }}">{{'Retirada de almacén'|trans}}</a>
                            </li>
                        {% endif %}
                        {% if 'reactivos_use' in array_subsecciones %}
                            <li id="browse_product_use">
                                <a href="{{ path('nononsense_products_use') }}">{{'Utilización de reactivo'|trans}}</a>
                            </li>
                        {% endif %}
                        {% if 'reactivos_disolution' in array_subsecciones %}
                            <li id="browse_product_dissolution">
                                <a href="{{ path('nononsense_products_disolution') }}">{{'Lector de disoluciones'|trans}}</a>
                            </li>
                        {% endif %}
                        {% if 'productos_gestion' in array_subsecciones %}
                            <li id="browse_products">
                                <a href="{{ path('nononsense_products',{'type': 'material'}) }}">{{'Revisión del stock'|trans}}</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if
                'mc_products_list' in array_subsecciones or 'mc_materials_list' in array_subsecciones or 'mc_centers_list' in array_subsecciones or
                'mc_codes_list' in array_subsecciones or 'mc_cleans_scan' in array_subsecciones or 'mc_uses_scan' in array_subsecciones or
                'mc_traces_list' in array_subsecciones
            %}
            <li>
                <a href="#">
                    <i class="fa fa-shower" aria-hidden="true"></i>
                    <span class="nav-label">{{'Material Limpio'|trans}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    {% if 'mc_products_list' in array_subsecciones %}
                        <li id="admin_products"><a href="{{path('nononsense_mclean_products_list')}}">{{'Listado de Productos'|trans}}</a></li>
                    {% endif %}
                    {% if 'mc_materials_list' in array_subsecciones %}
                        <li id="admin_materials"><a href="{{path('nononsense_mclean_materials_list')}}">{{'Listado de Materiales'|trans}}</a></li>
                    {% endif %}
                    {% if 'mc_centers_list' in array_subsecciones %}
                        <li id="admin_centers"><a href="{{path('nononsense_mclean_centers_list')}}">{{'Listado de Centros'|trans}}</a></li>
                    {% endif %}
                    {% if 'mc_codes_list' in array_subsecciones %}
                        <li id="admin_codes"><a href="{{path('nononsense_mclean_codes_list')}}">{{'Generación de Códigos de barras'|trans}}</a></li>
                    {% endif %}
                    {% if 'mc_cleans_scan' in array_subsecciones %}
                        <li id="admin_cleans"><a href="{{path('nononsense_mclean_cleans_scan')}}">{{'Limpieza de material'|trans}}</a></li>
                    {% endif %}
                    {% if 'mc_uses_scan' in array_subsecciones %}
                        <li id="admin_uses"><a href="{{path('nononsense_mclean_uses_scan')}}">{{'Utilización de material'|trans}}</a></li>
                    {% endif %}
                    {% if 'mc_traces_list' in array_subsecciones %}
                        <li id="admin_traces"><a href="{{path('nononsense_mclean_traces_list')}}">{{'Trazabilidad'|trans}}</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %} 

            
            <li>
                <a href="#">
                    <i class="fa fa-archive" aria-hidden="true"></i>
                    <span class="nav-label">{{'Archivo y retención'|trans}}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    {% if 'archive_admin' in array_subsecciones %}
                        <li id="archive_types"><a href="{{path('nononsense_archive_types_list')}}">{{'Tipos'|trans}}</a></li>
                    {% endif %}
                    {% if 'archive_admin' in array_subsecciones %}
                        <li id="archive_categories"><a href="{{path('nononsense_archive_categories_list')}}">{{'Categorías'|trans}}</a></li>
                    {% endif %}
                    {% if 'archive_admin' in array_subsecciones %}
                        <li id="archive_preservations"><a href="{{path('nononsense_archive_preservations_list')}}">{{'Preservations notices'|trans}}</a></li>
                    {% endif %}
                    {% if 'archive_admin' in array_subsecciones %}
                        <li id="archive_ubications"><a href="{{path('nononsense_archive_ubications_list')}}">{{'Ubicaciones'|trans}}</a></li>
                    {% endif %}
                    {% if 'archive_admin' in array_subsecciones %}
                        <li id="archive_logs"><a href="{{path('nononsense_archive_log')}}">{{'Audittrail'|trans}}</a></li>
                    {% endif %}
                    {% if 'archive_agent' in array_subsecciones %}
                        <li id="document_records"><a href="#">{{'Registros'|trans}}</a></li>
                    {% endif %}
                    {% if 'archive_agent' in array_subsecciones %}
                        <li id="document_records"><a href="#">{{'Gestión de prestamos'|trans}}</a></li>
                    {% endif %}
                    <li id="document_records"><a href="#">{{'Solicitar prestamo'|trans}}</a></li>
                </ul>
            </li>
            

            {% if 'qrs_gestion' in array_subsecciones or 'areas_gestion' in array_subsecciones or 'usuarios_gestion' in array_subsecciones  or 'grupos_gestion' in array_subsecciones or 'delegations_gestion' in array_subsecciones or 'notifications_gestion' in array_subsecciones or 'usuarios_acceso' in array_subsecciones %}
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> <span class="nav-label">{{'Configuración'|trans}}</span><span
                            class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {% if 'qrs_gestion' in array_subsecciones %}
                            <li id="qr_list">
                                <a href="{{path('nononsense_qr_list')}}"><span class="nav-label">QRs</span></a>
                            </li>
                        {% endif %}
                        {% if 'areas_gestion' in array_subsecciones %}
                            <li id="areas_list">
                                <a href="{{path('nononsense_areas')}}"><span class="nav-label">Areas</span></a>
                            </li>
                        {% endif %}
                        {% if 'delegations_gestion' in array_subsecciones %}
                            <li id="delegations_list">
                                <a href="{{path('nononsense_delegations_list')}}"><span class="nav-label">Delegación de firmas</span></a>
                            </li>
                        {% endif %}
                        {% if 'grupos_gestion' in array_subsecciones %}
                            <li id="browse_groups">
                                <a href="{{path('nononsense_groups_homepage')}}"><span class="nav-label">Grupos</span></a>
                            </li>
                        {% endif %}
                        {% if 'usuarios_gestion' in array_subsecciones %}
                            <li id="browse_users">
                                <a href="{{path('nononsense_users_homepage')}}"><span class="nav-label">Usuarios</span></a>
                            </li>
                            <li id="browse_requests">
                                <a href="{{path('nononsense_user_check_requests')}}"><span class="nav-label">Solicitudes</span></a>
                            </li>
                        {% endif %}
                        {% if 'notifications_gestion' in array_subsecciones %}
                            <li id="notifications">
                                    <a href="{{path('nononsense_notifications_templates_notification_list')}}"><span class="nav-label">Modelo de notificaciones</span></a>
                            </li>
                        {% endif %}
                        {% if 'usuarios_acceso' in array_subsecciones %}
                            <li id="browse_access_log">
                                <a href="{{path('nononsense_users_log')}}"><span class="nav-label">Log General</span></a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
             {% endif %}

             {% if 'crt_gestion' in array_subsecciones %}
                <li id="certifications">
                    <a href="{{path('nononsense_certifications_list')}}"><i class="fa fa-certificate"></i> <span class="nav-label">Certificados</span></a>
                </li>
             {% endif %}

        </ul>
    </div>
</nav>