{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Documentos {% endblock %}
{% block head %}
    {{ parent() }}
    <link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
{% endblock %}
{% block main_title %} Areas {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('deletedUser') %}
            <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ flashMessage }} 
            </div>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('createdUser') %}
            <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ flashMessage }}
            </div>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_areas_update',{'id': item.id is defined ? item.id : 0}) }}" method="POST"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control" value="{{item.name is defined ? item.name : ''}}" required="required">
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input name="is_active" value="1" type="checkbox" {% if item is not defined or (item.isActive is defined and  item.isActive == 1) %} checked="checked" {% endif %}> Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="col-md-7">
                    
                    <div class="ibox" id="addusers" style="display: none">
                        <div class="ibox-title">
                            <h5>Add users </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a id="restart">
                                <i class="fa fa-times"></i>
                            </a>
                            </div>
                        </div>
                        <div class="ibox-content" id="loadusers"> 
                            <div class="text-center" style="font-size: 22px">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <br />
                        </div>
                    </div>
                    
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>{{'Members'|trans}}
                                    &nbsp; <span  class="btn btn-primary btn-xs " id="addMember"><i class="fa fa-user"> </i> &nbsp;{{'Add members'|trans}}</span>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" id="memberlist">
                            <div class="text-center" style="font-size: 22px">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </form>
       
    </div>

    <div class="modal inmodal fade" id="removeModal" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close'|trans}}</span></button>
                    <h4 class="modal-title">{{'Remove'|trans}}</h4>
                </div>
                <div class="modal-body" id="modal-data">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">{{'Close'|trans}}</button>
                    <button type="button" class="btn btn-primary" id="deleteUser">{{'Remove'|trans}}</button>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <!-- Chosen -->
    <script src="/js/plugins/chosen/chosen.jquery.js"></script>
    
    <script>
        window.members = {};
        function deleteUser(data) {
            content = '<div class="text-center"><img alt="image" class="img-circle" style="width: 112px; height: 112px" src="' + data.image + '"><h3>' + data.name + '</h3></div>';
            $('#deleteUser').click(function(){window.location.href="{{ path('nononsense_areas_remove_user')}}" + '/{{item.id}}/' + data.user});
            $('#modal-data').html(content);
            $('#removeModal').modal('toggle');
        }
        
        function insertUser (id) {            
            $('#instructions').hide();
            $('#userlist').append('<li id="user_' + id + '"><i class="fa fa-spinner fa-spin"> </i></li>');
            $('#user_' + id ).load('{{ url('nononsense_group_addone')}}?id=' + id);
        }
        
        function removeNewUser (id) {
            delete members['id_' + id]
            $('#newUser_' + id).parent().remove();
        }
        
        function addListOfUsers () {
            users = JSON.stringify(window.members);
            if (users != '{}') {
                window.location.href = '{{ url('nononsense_area_addbulk')}}?users=' + users + '&id={{item.id}}';
            } else {
                toastr.error('{{'There are no users selected.'|trans}}','{{'Warning'|trans}}');
            }
        }
        
        $(document).ready(function(){
            
            ActivateMenu('areas_list');
            $('#side-menu').metisMenu();
            
            $('#memberlist').load('{{ path('nononsense_areas_users', {"id" : item.id})}}', function(){
                $('.remove_member').click(function(){deleteUser($(this).data())});
            });
            
            /*add users*/
            
            $('#addMember').click(function() {newUsers('member')});
            $('#restart').click(function() {
                $('#addMember').show();
                $('#addusers').hide();
                $('#userlist').html('<div class="text-center" style="font-size: 22px"><i class="fa fa-spinner fa-spin"></i></div>');
                window.members = {};
            });
            
            
            function newUsers (type) {
                
                $('#addusers').show();
                $('#addMember').hide();
                if (type == 'admin') {
                    h5 = '{{'Add administrators'|trans}}';
                    $('#loadusers').load('{{ url('nononsense_group_addusers', {"id" : item.id})}}');
                } else {
                    h5 = '{{'Add members'|trans}}';
                    $('#loadusers').load('{{ url('nononsense_group_addusers', {"id" : item.id})}}');
                }
                $('#addusers h5').html(h5);
                
            }
            
            
       });
    </script>
{% endblock %}


