{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Documentos/Contratos {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block main_title %} Documentos/Contratos {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_documents_update',{'id': item.id is defined ? item.id : 0}) }}" method="POST">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control" value="{{item.name is defined ? item.name : ''}}" required="required">
                            </div>
                        </div>  

                        {% if types is defined %}
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tipo</label>
                                <div class="col-sm-7">
                                  <select class="form-control" {% if not_update is defined %} readonly="readonly" {% else %} name="type" {% endif %} style="width: 100%;" required="required">
                                    <option value=""></option>
                                    {% for type in types %}
                                      <option value="{{type.id}}" {{ item.type.id is defined and item.type.id==type.id ? 'selected="selected"' : ''}}>{{type.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div> 
                        {% endif %}

                        <div class="form-group">
                            <label class="col-sm-3 control-label">ID. Plantilla</label>
                            <div class="col-sm-7">
                                <input type="number" {% if not_update is defined %} readonly="readonly" {% else %} name="plantilla_id" {% endif %} class="form-control" value="{{item.plantilla_id is defined ? item.plantilla_id : ''}}"  required="required">
                            </div>
                        </div>   
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Descripción</label>
                            <div class="col-sm-7">
                                <textarea name="description" rows="10" cols="40" required="required">{{item.description is defined ? item.description : ''}}</textarea>
                            </div>
                        </div>  
                        
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input id="sign_creator" name="sign_creator" value="1" type="checkbox" {% if item is not defined or (item.signCreator is defined and  item.signCreator == 1) %} checked="checked" {% endif %}> Firma del creador
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="div_attachment" {% if item is not defined or (item.signCreator is defined and  item.signCreator == 1) %} style="display:block"{% else %} style="display:none"{% endif %}>
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input name="attachment" id="attachment" value="1" type="checkbox" {% if item.attachment is defined and  item.attachment == 1 %} checked="checked" {% endif %}> Anexo
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input name="is_active" value="1" type="checkbox" {% if item is not defined or (item.isActive is defined and  item.isActive == 1) %} checked="checked" {% endif %}> Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
                <div class="col-lg-6">
                    <div id="master_workflow">
                        <h1>Workflow</h1>
                        <hr>
                        {% if baseSignatures is defined %}
                            {% for baseSignature in baseSignatures %}
                                <div class="row line_workflow">
                                    <div class="form-group">
                                        <div class="col-sm-2 masterbox_type_workflow">
                                            <select class="form-control type_workflow" name="types[]" style="width: 100%;">
                                                <option value="1" {% if baseSignature.groupid is defined and baseSignature.groupid is not empty %} selected="selected" {% endif %}>Grupo</option>
                                                <option value="2" {% if baseSignature.userid is defined and baseSignature.userid is not empty %} selected="selected" {% endif %}>Usuario</option>
                                            </select>
                                        </div>
                                        {% if baseSignature.groupid is defined and baseSignature.groupid is not empty %}
                                            <div class="master_box_group">
                                                <div class="col-sm-3">
                                                    <select class="form-control" name="relationals[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for group in groups %}
                                                            <option value="{{group.id}}" {{ baseSignature.groupid==group.id ? 'selected="selected"' : ''}}>{{group.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="email" name="emails[]" class="form-control" value="{{baseSignature.email is defined ? baseSignature.email : ''}}" placeholder="Email">
                                                </div>
                                            </div>
                                        {% else %} 
                                            <div class="master_box_user">
                                                <div class="col-sm-3">
                                                    <select class="form-control" name="relationals[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}" {{ baseSignature.userid==user.id ? 'selected="selected"' : ''}}>{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% endif %} 

                                        <div class="master_box_remove">
                                            <div class="col-sm-1">
                                                <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-default pull-right" id="add_line"><i class="fa fa-plus"></i> Añadir</button>
                    </div><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </form>
        <div style="display:none">
            <div id="box_groups">
                <div class="master_box_group">
                    <div class="col-sm-3">
                        <select class="form-control" name="relationals[]" style="width: 100%;" required="required">
                            <option value=""></option>
                            {% for group in groups %}
                                <option value="{{group.id}}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input type="email" name="emails[]" class="form-control" value="{{baseSignature.email is defined ? baseSignature.email : ''}}"  placeholder="Email">
                    </div>
                </div>
            </div>
            <div id="box_users">
                <div class="master_box_user">
                    <div class="col-sm-3">
                        <select class="form-control" name="relationals[]" style="width: 100%;" required="required">
                            <option value=""></option>
                            {% for user in users %}
                                <option value="{{user.id}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div id="box_remove">
                <div class="master_box_remove">
                    <div class="col-sm-1">
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <did style="display:none" id="new_line">
            <div class="row line_workflow">
                <div class="form-group">
                    <div class="col-sm-2 masterbox_type_workflow">
                        <select class="form-control type_workflow" name="types[]" style="width: 100%;">
                            <option value="1" selected="selected">Grupo</option>
                            <option value="2">Usuario</option>
                        </select>
                    </div>
                </div>
            </div> 
        </did>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
    $( document ).ready(function() {
        $('#sign_creator').change(function () {
            anexo($(this));
        });

        function anexo(thisObj){
            $('#attachment').prop("checked", false);
            if (thisObj.is(':checked')) {
               $('#div_attachment').show();
            }
            else{
                $('#div_attachment').hide();
            }
        }

        if ($('#sign_creator').is(':checked')) {
           $('#div_attachment').show();
        }
        else{
            $('#div_attachment').hide();
        }

        $(document).on('click', '.remove_line', function() {
            $(this).closest(".line_workflow").remove();
        });

        $(document).on('click', '#add_line', function() {
            $("#master_workflow").append($("#new_line").html());
            $("#master_workflow").find(".masterbox_type_workflow:last").after($("#box_groups").html()+$("#box_remove").html());
        });

        $(document).on('change', '.type_workflow', function() {
            switch($(this).val()){
                case "1":
                    $(this).closest(".line_workflow").find(".master_box_user").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_groups").html());
                    break;
                case "2":
                    $(this).closest(".line_workflow").find(".master_box_group").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_users").html());
                    break;
            }
        });
    });
    </script>
{% endblock %}


