{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>
    #loadingChart {
        display: none
    }

    .doc-box-filters {
        display: none
    }

    .form-control {
        width: 120px !important
    }

    table.datos-proveedor {
        width: 100%;
        float: left;
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    table.datos-proveedor thead td {
        font-weight: bold;
        font-size: 14px;
    }

    table.datos-proveedor thead tr {
        border-bottom: 1px solid #ccc;
    }

    tbody tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody.datos-proveedor tr td.pdte {
        color: #ae3d3d;
    }

    tbody.datos-proveedor tr td.pdte-ok {
        color: #00cc00;
    }

    tbody.datos-proveedor tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody tr td.pdte {
        color: #ae3d3d;
    }

    tbody tr td.pdte-ok {
        color: #00cc00;
    }

    a.btn-table {
        background: #0fba40;
        border-radius: 0;
        color: #fff;
        font-size: 12px;
        width: 100%;
        margin: 0;
        border: 1px solid #0fba40;
        padding: 5px 0;
    }

    a.btn-cancel {
        background: red;
        border: 1px solid red;
    }

    a.btn-table:hover {
        background: #fff;
        color: #0fba40;
    }

    a.btn-cancel:hover {
        background: #fff;
        color: red;
    }

    .row.wrapper-blocks {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .block-wrapper {
        padding: 0 5px;
        min-width: 170px;
    }

    .block-content {
        background: #f3f3f3;
        padding: 10px 0;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 168px;
        display: table;
        width: 100%;
    }

    .wrapper-blocks-home .block-content {
        background: #f3f3f3;
        padding: 15px;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 210px;
        display: table;
        width: 100%;
    }

    h3.title-block {
        font-size: 24px;
        color: #4c91d2;
        max-width: 200px;
        font-weight: normal;
        margin-top: 0;
    }

    h3.title-block + a img {
        width: 75px;
        height: 75px;
        margin: auto;
        display: table;
        bottom: 40px;
        left: 40%;
    }

    tbody.datos-proveedor tr td.complet {
        color: #009900;
    }

    /*
     * Style Cesar
     */
    .row.buscador {
        margin: 25px 0;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="search"] {
        width: 100%;
        border: 1px solid #3c89ce;
        padding: 5px 7px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    select {
        padding: 4px 7px;
    }

    .disabled-box {
        background: #9f9f9f;
        padding: 15px;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 210px;
        display: table;
        width: 100%;
    }


</style>
{% endblock %}
{% block main_title %} {{'¿Qué quieres hacer?'|trans}}{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div><br>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="row wrapper-blocks wrapper-blocks-home">
                <div class="col-sm-3 block-wrapper">
                    <div class="block-content" style="text-align: -webkit-center;">
                        <h3 class="title-block"><a class="iframe" href="{{path('nononsense_tm_templates')}}?state=6">{{'Nuevo registro'|trans}}</a></h3>
                        <a class="iframe" href="{{path('nononsense_tm_templates')}}?state=6"><img
                                src="/img/icono-edit.png"/></a>
                        <a class="btn btn-primary" href="{{path('nononsense_tm_templates')}}?state=6">{{'Empezar'|trans}}</a>
                    </div>
                </div>
                <div class="col-sm-3 block-wrapper" style="text-align: -webkit-center;">
                    <div class="block-content">
                        <h3 class="title-block"><a href="{{path('nononsense_cv_search')}}">Buscador</a></h3>
                        <a href="{{path('nononsense_cv_search')}}"><img src="/img/icono-search.png"/></a>
                        <a class="btn btn-primary" href="{{path('nononsense_cv_search')}}">Buscar registros</a>
                    </div>
                </div>
                <div class="col-sm-3 block-wrapper">
                    <div class="block-content" style="text-align: -webkit-center;">
                        <h3 class="title-block"><a href="{{path('nononsense_cv_search')}}?pending_for_me=1">{{'En proceso'|trans}}</a></h3>
                        <a href="{{path('nononsense_cv_search')}}?pending_for_me=1"><img src="/img/icono-archivo.png"/></a>
                        <a class="btn btn-primary" href="{{path('nononsense_cv_search')}}?pending_for_me=1">{{'Continuar'|trans}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block scripts %}
    {{ parent() }}
    <script>


        $(document).ready(function () {
            //$('#samples').load('http://localhost/CORS/index_{{locale}}.php');
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            ActivateMenu('docxpresso_home');
            $('#side-menu').metisMenu();


        });


    </script>
    {% endblock %}
