{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>
    #loadingChart {
        display: none
    }

    .doc-box-filters {
        display: none
    }

    table.datos-proveedor {
        width: 100%;
        float: left;
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    table.datos-proveedor thead td {
        font-weight: bold;
        font-size: 14px;
    }

    table.datos-proveedor thead tr {
        border-bottom: 1px solid #ccc;
    }

    tbody tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody.datos-proveedor tr td.pdte {
        color: #ae3d3d;
    }

    tbody.datos-proveedor tr td.pdte-ok {
        color: #00cc00;
    }

    tbody.datos-proveedor tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody tr td.pdte {
        color: #ae3d3d;
    }

    tbody tr td.pdte-ok {
        color: #00cc00;
    }

    a.btn-table {
        background: #0fba40;
        border-radius: 0;
        color: #fff;
        font-size: 12px;
        width: 100%;
        margin: 0;
        border: 1px solid #0fba40;
        padding: 5px 0;
    }

    a.btn-cancel {
        background: red;
        border: 1px solid red;
    }

    a.btn-table:hover {
        background: #fff;
        color: #0fba40;
    }

    a.btn-cancel:hover {
        background: #fff;
        color: red;
    }

    .row.wrapper-blocks {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .block-wrapper {
        padding: 0 5px;
        min-width: 170px;
    }

    .block-content {
        background: #f3f3f3;
        padding: 10px 0;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 168px;
        display: table;
        width: 100%;
    }

    .wrapper-blocks-home .block-content {
        background: #f3f3f3;
        padding: 15px;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 210px;
        display: table;
        width: 100%;
    }

    h3.title-block {
        font-size: 24px;
        color: #4c91d2;
        max-width: 200px;
        font-weight: normal;
        margin-top: 0;
    }

    h3.title-block + a img {
        width: 75px;
        height: 75px;
        margin: auto;
        display: table;
        bottom: 40px;
        left: 40%;
    }

    tbody.datos-proveedor tr td.complet {
        color: #009900;
    }

    /*
     * Style Cesar
     */
    .row.buscador {
        margin: 25px 0;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="search"] {
        width: 100%;
        border: 1px solid #3c89ce;
        padding: 5px 7px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    select {
        padding: 4px 7px;
    }

    .disabled-box {
        background: #9f9f9f;
        padding: 15px;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 210px;
        display: table;
        width: 100%;
    }

    .doc-box-filters {
        display: none
    }

    table.datos-proveedor {
        width: 100%;
        float: left;
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    table.datos-proveedor thead td {
        font-weight: bold;
        font-size: 14px;
    }

    table.datos-proveedor thead tr {
        border-bottom: 1px solid #ccc;
    }

    tbody.datos-proveedor tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody.datos-proveedor tr td.pdte {
        color: #ae3d3d;
    }

    tbody.datos-proveedor tr td.pdte-ok {
        color: #00cc00;
    }

    tbody.datos-proveedor tr td.complet {
        color: #009900;
    }

</style>
{% endblock %}
{% block main_title %} {{'¿Qué quieres hacer?'|trans}}{% endblock %}
{% block content %}


<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <form id="buscarProveedor" method="get" action="">
                <div class="row">
                    <div class="col-sm-5 ">
                        <strong>Nombre de la plantilla</strong>
                        <div class="input-group m-t-sm">
                            <span class="input-group-addon"><i class="fa fa-tag"> </i></span>
                            <input type="text" class="form-control"
                                   name="search"
                                   placeholder="Término de búsqueda*"
                                   id="searchinput"
                                   value="{{termino}}">
                        </div>
                        <div class="m-t-sm">
                            <small>*Mínimo tres caracteres para permitir la búsqueda.</small>
                        </div>
                        <div class="m-t-sm">
                            <small>Para la prueba se permite cualquier valor</small>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="input-group m-t-sm">
                            <strong>Categorías</strong>
                            <select id="categoriasSelect" name="categoriasSelect">
                                <option value="0">Todas</option>
                                {% for cat in categorias %}
                                <option value="{{cat.id}}" data-id="{{cat.id}}">{{cat.name}}</option>
                                {% endfor %}
                            </select>
                            <select id="subCategoriasSelect" name="subcategoriaSelected">
                                <option>Selecciona sub categoría</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-sm btn-primary" id="searchButton" onclick="return false"><i
                                class="fa fa-search"> </i> {{'Buscar Documento'|trans}}
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <a href="{{ path('nononsense_templates_edit',{'id': '0'}) }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nueva plantilla</a>
                    </div>
                </div>
            </form>
            <hr>
            <div class="row">
                <div>
                    {% if templates|length > 0 %}
                    <table id="datos" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Categoría</th>
                            <th>SubCategoria</th>
                            <th>Nombre</th>
                            <th>Iniciar</th>
                        </tr>
                        </thead>
                        {% for plantilla in templates %}
                        <tr>
                            <td>{{plantilla.category}}</td>
                            <td>{{plantilla.subCatName}}</td>
                            <td><a href="{{ path('nononsense_templates_edit',{'id': plantilla.id}) }}">{{plantilla.name}}</a></td>
                            <td><a class="btn btn-xs btn-primary crearregistro" name="crearregistro" data-template="{{plantilla.id}}"
                                   data-loogbook="{{plantilla.logbook}}">{{'Crear
                                Registro'|trans}}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
            <div style="display: none">
                <form id="createRegistro" action="{{path('nononsense_contrato_crear_registro', {'templateid': 0})}}">
                    <input type="hidden" name="templateid" id="templateidForm">
                    <input type="hidden" name="logbook" id="logbookForm">
                </form>
            </div>
            <div class="modal" id="editModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>Número de registros del logbook </h4>
                            <p>Introduzca el número de registros anteriores que quiere ver en el logbook</p>
                            <p>
                                Nombre: <input id="logbook" name="logbook" type="number"
                                               min="0"
                                               max="10"
                                               step="1"
                                               value=""
                                               class="form-control"></br>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="editBtnNo"
                                    data-dismiss="modal">
                                <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                            </button>
                            <a
                                    class="btn btn-success" id="editBtnYes"
                                    data-dismiss="modal">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                Aceptar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div style="display: none">
                {% for catelement in todasCat %}
                <input name="todascats" data-id="{{catelement.id}}" data-name="{{catelement.name}}"
                       data-padre="{{catelement.padre}}">
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}
    {% block scripts %}
    {{ parent() }}
    <script>


        $(document).ready(function () {
            //$('#samples').load('http://localhost/CORS/index_{{locale}}.php');
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            ActivateMenu('docxpresso_home');
            $('#side-menu').metisMenu();

            $('.crearregistro').click(function () {
                console.log("click yeah!")

                var templateid = $(this).attr('data-template');
                $('#templateidForm').val(templateid);
                //envío de email
                var logbookTemplate = $(this).attr('data-loogbook');

                console.log(logbookTemplate);
                if (logbookTemplate == 1) {
                    console.log('showModal!');
                    $("#editModal").show();
                } else {
                    console.log('submit!');
                    $('#logbookForm').val(0);
                    $('#createRegistro').submit();
                }

            });

            $('#editBtnNo').click(function () {
                $("#editModal").hide();

            });

            $('#editBtnYes').click(function () {

                var logbook = $('#logbook').val();

                if(logbook == ""){
                    toastr.error('Debe introducir un número válido', 'Aviso');
                    return false;
                }else{
                    $('#logbookForm').val(logbook);
                    $('#createRegistro').submit();
                }



            });

            $('#searchButton').on('click', function () {
                var texto = $('#searchinput').val();
                var categoriaselected = $("#categoriasSelect option:selected").val();

                /*
                 * if (texto.length < 3 && texto.length > 0 ) {
                    toastr.error('Por favor, el texto de búsqueda debe tener al menos 3 caracteres', 'Aviso');
                    return false;

                } else if(categoriaselected == 0 && texto.length == 0){
                    toastr.error('Por favor, si no ha introducido filtro por nombre, seleccione una categoría', 'Aviso');
                    return false;
                }else {

                }
                 */
                $(this).find('i').removeClass('fa-search').addClass('fa-spinner').addClass('fa-spin');
                $('#buscarProveedor').submit();

            });


            $('#categoriasSelect').on('change', function () {
                var categoriaselected = $("#categoriasSelect option:selected").val();
                console.log("seleccionado la categoria: " + categoriaselected);


                $('#subCategoriasSelect').empty();

                $('#subCategoriasSelect').append('<option value="0">Todas</option>');

                if($(this).val()!="0"){
                    $('input[name="todascats"]').each(function () {
                        var idCat = $(this).attr("data-id");
                        var padreCat = $(this).attr("data-padre");
                        var nameCat = $(this).attr("data-name");

                        if (padreCat == categoriaselected) {
                            $('#subCategoriasSelect').append('<option value="' + idCat + '">' + nameCat + '</option>');
                        }

                    });
                }

            });
        });


    </script>
    {% endblock %}
