{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block main_title %} Listado de documentos y contratos{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_records')}}" method="GET">
                        <div class="form-group">

                            <label class="col-sm-1 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>

                            {% if types is defined %}
                                <label class="col-sm-1 control-label item_filter">Tipo</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="type">
                                    <option value=""></option>
                                    {% for type in types %}
                                      <option value="{{type.id}}" {{ filters.type is defined and filters.type==type.id ? 'selected="selected"' : ''}}>{{type.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}

                            {% if states is defined %}
                                <label class="col-sm-1 control-label item_filter">Estado</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="status">
                                    <option value=""></option>
                                    {% for key,state in states %}
                                      <option value="{{key}}" {{ filters.status is defined and filters.status==key ? 'selected="selected"' : ''}}>{{state}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}

                            <div class="col-sm-1 item_filter">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row">
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Creador</th>
                            <th>Próx.Firmante</th>
                            <th>Tipo</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        {% if items is defined %}
                            {% for item in items %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.usuario}}</td>
                                <td>
                                    {% if item.nameNextSigner is defined and item.nameNextSigner is not empty  %}
                                       <i class="fa fa-user" aria-hidden="true"></i> {{item.nameNextSigner}}
                                    {% else %}
                                        {% if item.nameNextSignerGroup is defined and item.nameNextSignerGroup is not empty  %}
                                            <i class="fa fa-users" aria-hidden="true"></i> {{item.nameNextSignerGroup}}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{{item.nameType}}</td>
                                <td>
                                {% if item.status is defined and item.status==1 and suser.id==item.usercreatedid %}
                                    <a href="{{path('nononsense_records_edit', {'id': item.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-lock"> </i> Completar registro</a>
                                {% endif %}

                                {% if item.status is defined and item.status==2 and not (suser.id==item.idNextSigner or item.idNextSignerGroup in suser.groups) %}
                                    <a href="#" class="btn btn-xs btn-warning disabled"><i class="fa fa-pencil" aria-hidden="true"></i> Pendiente de firma</a>
                                {% endif %}

                                {% if item.status is defined and item.status==2 and (suser.id==item.idNextSigner or item.idNextSignerGroup in suser.groups) %}
                                    <a href="{{path('nononsense_records_edit', {'id': item.id}) }}" class="btn btn-xs btn-danger"><i class="fa fa-pencil" aria-hidden="true"></i> Firmar</a>
                                {% endif %}

                                {% if item.status is defined and item.status==3 %}
                                    <a href="{{path('nononsense_records_edit', {'id': item.id}) }}" class="btn btn-xs btn-info"><i class="fa fa-eye" aria-hidden="true"></i> Completado</a>
                                {% endif %}
                                </td>
                                <td>
                                    {% if item.files is defined and item.files is not empty %}
                                        <a href="{{path('nononsense_records_file', {'id': item.id}) }}" class="btn btn-xs" target="_blank"><i class="fa fa-paperclip" aria-hidden="true"></i> Anexo</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.status is defined and (item.status==2 or item.status==3) %}
                                    <a href="{{path('nononsense_records_pdf', {'id': item.id}) }}" class="btn btn-xs" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Descargar pdf</a>
                                    {% endif %}  
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>

</script>
{% endblock %}
