{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Listado de contratos{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ flashMessage }}
                        </div>
                        <br>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('message') %}
                        <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ flashMessage }}
                        </div>
                        <br>
                    {% endfor %}
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_records_contracts')}}" method="GET">
                        
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Contenido</label>
                            <div class="col-sm-9 item_filter">
                                <input type="text" name="content" class="form-control" value="{{filters.content is defined ? filters.content : ''}}">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-1 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>

                            {% if states is defined %}
                                <label class="col-sm-1 control-label item_filter">Estado</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="status">
                                    <option value=""></option>
                                    {% for key,state in states %}
                                      <option value="{{key}}" {{ filters.status is defined and filters.status==key ? 'selected="selected"' : ''}}>{{state}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label item_filter">Fecha</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="from" id="from" value="{{filters.from is defined ? filters.from|date("Y-m-d") : ''}}">
                            </div>

                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="until" id="until" value="{{filters.until is defined ? filters.until|date("Y-m-d") : ''}}">
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                              <div class="checkbox">
                                <label>
                                  <input name="pending_for_me" value="1" type="checkbox" {% if filters.pending_for_me is defined and  filters.pending_for_me == true %} checked="checked" {% endif %}> Mis Doc. Pend.
                                </label>
                              </div>
                            </div>

                            <div class="col-sm-1 item_filter">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row">
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre</th>
                            <th>Creador</th>
                            <th>Próx.Firmante</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% if items is defined %}
                            {% for item in items %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.usuario}}</td>
                                <td>
                                    {% if item.status is defined and item.status==1 %}
                                        <i class="fa fa-users" aria-hidden="true"></i> {{ group_direccion_rrhh.name }}
                                    {% endif %}
                                    {% if item.status is defined and item.status==2 %}
                                        <i class="fa fa-users" aria-hidden="true"></i> {{ group_comite_rrhh.name }}
                                    {% endif %}
                                </td>
                                <td>{{item.created|date("d/m/Y")}}</td>
                                <td>
                                    {% if item.status is defined and item.status==0 %}
                                        <a href="{{path('nononsense_records_contracts_link', {'id': item.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Creado</a>
                                    {% endif %}

                                    {% if item.status is defined and item.status==1 %}
                                        <a href="{{path('nononsense_records_contracts_link', {'id': item.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Dirección RRHH</a>
                                    {% endif %}

                                    {% if item.status is defined and item.status==2 %}
                                        <a href="{{path('nononsense_records_contracts_link', {'id': item.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> En Comité</a>
                                    {% endif %}

                                    {% if item.status is defined and item.status==3 %}
                                        <a href="{{path('nononsense_records_contracts_link', {'id': item.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Para enviar</a>
                                    {% endif %}

                                    {% if item.status is defined and item.status==4 %}
                                        <a href="{{path('nononsense_records_contracts_link', {'id': item.id}) }}" class="btn btn-xs btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Firmado</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.status is defined and item.status==3 %}
                                        <btn onclick='open_dialog_enviar_sms({{item.id}});' class="btn btn-xs btn-primary"><i class="fa fa-phone" aria-hidden="true"></i> Enviar por SMS</btn>
                                        <btn onclick='open_dialog_enviar_email({{item.id}});' class="btn btn-xs btn-primary"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar por Email</btn>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog_enviar_sms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-table">
            <div class="modal-header">                                
                <div class="box border primary">
                    <div class="box-title">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                    </div>
                    <div class="box-body">                                              
                        <form id='form_sign_sms' class="form-horizontal" action='{{path('nononsense_records_contracts_send_sms') }}' role="form">
                            <input type="hidden" id='record_contract_id_dialog_sms' name='record_contract_id_dialog_sms' value="" >
                            <div class="row">                                              
                                <div class="col-md-12">         
                                    <label class="control-label">Teléfono:</label>
                                    <input type="text" class="form-control" style="width: 100%;" id='phone_sms' name='phone_sms'></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <div style="float: right;">
                                <button type="button" style="margin-right: 15px; background-color: white; color: #4B739A;" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="enviarSmsEnviar();">Enviar SMS</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="modal fade" id="dialog_enviar_email" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-table">
            <div class="modal-header">                                
                <div class="box border primary">
                    <div class="box-title">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
                    </div>
                    <div class="box-body">                                              
                        <form id='form_sign_email' class="form-horizontal" action='{{path('nononsense_records_contracts_send_email') }}' role="form">
                            <input type="hidden" id='record_contract_id_dialog_email' name='record_contract_id_dialog_email' value="" >
                            <div class="row">                                              
                                <div class="col-md-12">         
                                    <label class="control-label">Email:</label>
                                    <input type="text" class="form-control" style="width: 100%;" id='email_email' name='email_email'></textarea>
                                </div>
                            </div>
                        </form>
                        <div class="modal-footer">
                            <div style="float: right;">
                                <button type="button" style="margin-right: 15px; background-color: white; color: #4B739A;" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-primary" onclick="enviarEmailEnviar();">Enviar Email</button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div> 


{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script>
  $(function () {

    ActivateMenu('li_contratos');
    $('#side-menu').metisMenu();

    $('#from').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
    $('#until').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
  });


  function open_dialog_enviar_sms(id){
    $('#phone_sms').val("");
    $('#record_contract_id_dialog_sms').val(id);
    $('#dialog_enviar_sms').modal('toggle');
  }

  function open_dialog_enviar_email(id){
    $('#email_email').val("");
    $('#record_contract_id_dialog_email').val(id);
    $('#dialog_enviar_email').modal('toggle');
  }

  function enviarSmsEnviar(){
    if(confirm('¿Seguro que quieres enviar el SMS?')){
        $('#form_sign_sms').submit();
    }
  }

  function enviarEmailEnviar(){
    if(confirm('¿Seguro que quieres enviar el Email?')){
        $('#form_sign_email').submit();
    }
  }
  

</script>
{% endblock %}
