{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>


</style>
{% endblock %}
{% block main_title %} Se va a proceder con la devolución del documento {{documentName}}{% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <div class="col-sm-5 ">
                <h1>Devolución de documento</h1>
                <form id="cancelform" action="{{path('nononsense_record_return', {'id': id})}}" method="POST" enctype="multipart/form-data">
                    
                    <div class="input-group">
                        <textarea id="comment" name="comment" form="cancelform" rows="10" cols="91"></textarea>
                    </div>

                    <div id="signature-pad" class="input-group">
                        <h2>Introduzca su contraseña para firmar el documento</h2>
                        <input type="password" name="password" id="box_password" class="form-control" required="required"><br>
                    </div><br>
                    <input type="hidden" id="firma" name="firma" />
                    <a name="volver" class="btn btn-default" id="backButton">Volver</a>
                    <a name="guardarRegistro" class="btn btn-secondary">Devolver</a>
                </form>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>
    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        ActivateMenu('docxpresso_home');
        $('#side-menu').metisMenu();



        $('a[name="guardarRegistro"]').on('click', function () {
            var valueSelect = $("#motivoSelect").val();
            var text = $("#comment").val();

            console.log(text);

            if (text == ""){
                toastr.error("Debe escribir un motivo, no puede dejar el cuadro en blanco",'aviso');
            }else{
                if($("#box_password").length){
                    $(this).hide(function() {
                        valid_password=password_valid($("#box_password").val());
                        console.log(valid_password);
                        if (!valid_password) {
                            $(this).show();
                            toastr.error("La contraseña es incorecta", 'aviso');
                        } else {
                            $("#cancelform").submit();
                        }
                    });

                }
            }


        });

        $('#backButton').on('click', function () {
            window.history.back();
        });


        function password_valid(password){
            var result;
            $.ajax({
                url: "{{ path('nononsense_mclean_get_sign_valid') }}",
                type: 'POST',
                dataType: 'json',
                async: false,
                data: {password: password},
                success: function(response) {
                    console.log(response);
                    if(response.valid){
                        result=true;
                    }else{
                        result=false;
                    }
                },
                error: function() {
                    result=false;
                }
            });

            return result;
        }

    });

</script>
{% endblock %}
