{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>


</style>
{% endblock %}
{% block main_title %} {{subCat}}{% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <div class="col-sm-6 ">
                <h3>{{documentName}}</h3>
                <form id="createform"
                      action="{{path('nononsense_precreation_codigo_lote_save', {'registroid': registroid, 'logbook': logbook})}}">
                    <div class="row" style="padding: 5px">

                        <div class="col-sm-5">
                            <label for="material"> Código Material: </label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" placeholder="codigo" name="material" id="material">
                        </div>

                    </div>
                    <div class="row" style="padding: 5px">
                        <div class="col-sm-5">
                            <label for="lote"> Lote: </label>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" placeholder="lote" name="lote" id="lote">
                        </div>

                    </div>
                    <div class="row">
                        <a name="guardarRegistro" class="btn btn-success">Iniciar</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>


    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        ActivateMenu('docxpresso_home');
        $('#side-menu').metisMenu();


        $('a[name="guardarRegistro"]').on('click', function () {
            var lote = $("#lote").val();
            var material = $("#material").val();


            if (lote == "" || material == "") {
                toastr.error("Debe completar ambos campos", 'aviso');
            } else {
                $("#createform").submit();
            }


        });

    });

</script>
{% endblock %}
