{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>


</style>
{% endblock %}
{% block main_title %} {{subCat}}{% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <div class="col-sm-6 ">
                <h3>{{documentName}}</h3>
                <form id="createform"
                      action="{{path('nononsense_precreation_equipo_pesa_qr_save', {'registroid': registroid})}}">
                    <div class="row" style="padding: 5px">

                        <div class="col-sm-5">
                            <label for="imageQR"> Código QR: </label>
                        </div>
                        <div class="col-sm-5">
                            <input id="imageQR" type="file" name="pic" accept="image/*;capture=camera" capture="camera"
                                   onchange="handleFiles(this.files)">
                        </div>
                    </div>
                    <div class="row" style="padding: 5px">
                        <div class="col-sm-5">
                            <label for="equipo"> Equipo: </label>
                            <input type="text" placeholder="equipo" name="equipo" id="equipo" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="equipo"> SAP: </label>
                            <input type="text" placeholder="sap" name="sap" id="sap" readonly>
                        </div>
                        <!--
                        <div class="col-sm-5">
                            <label for="ubicacion"> Ubicación: </label>
                            <input type="text" placeholder="ubicacion" name="ubicacion" id="ubicacion" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="decimales"> Decimales </label>
                            <input type="text" placeholder="decimales" name="decimales" id="decimales" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="legibilidad"> Legibilidad: </label>
                            <input type="text" placeholder="legibilidad" name="legibilidad" id="legibilidad" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="pesada_maxima"> Pesada máxima: </label>
                            <input type="text" placeholder="pesada_maxima" name="pesada_maxima" id="pesada_maxima" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="pesada_minima"> Pesada mínima: </label>
                            <input type="text" placeholder="pesada_minima" name="pesada_minima" id="pesada_minima" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="pesa_chequeo_sensibilidad"> Peso chquero Sensibilidad (diario): </label>
                            <input type="text" placeholder="pesa_chequeo_sensibilidad" name="pesa_chequeo_sensibilidad" id="pesa_chequeo_sensibilidad" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="cl"> CL </label>
                            <input type="text" placeholder="cl" name="cl" id="cl" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="cl_sup"> CLsup: </label>
                            <input type="text" placeholder="cl_sup" name="cl_sup" id="cl_sup" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="cl_inf"> Clinf: </label>
                            <input type="text" placeholder="cl_inf" name="cl_inf" id="cl_inf" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="wl"> WL: </label>
                            <input type="text" placeholder="wl" name="wl" id="wl" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="wl_sup"> WLsup: </label>
                            <input type="text" placeholder="wl_sup" name="wl_sup" id="wl_sup" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="wl_inf"> WFinf: </label>
                            <input type="text" placeholder="wl_inf" name="wl_inf" id="wl_inf" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="peso_chequeo_repetibilidad"> Pesa chequeo Repetibilidad (mensual): </label>
                            <input type="text" placeholder="peso_chequeo_repetibilidad" name="peso_chequeo_repetibilidad" id="peso_chequeo_repetibilidad" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="cl_desv_std"> CL (desv std): </label>
                            <input type="text" placeholder="cl_desv_std" name="cl_desv_std" id="cl_desv_std" readonly>
                        </div>
                        <div class="col-sm-5">
                            <label for="wl_desv_std"> WL (desc std): </label>
                            <input type="text" placeholder="wl_desv_std" name="wl_desv_std" id="wl_desv_std" readonly>
                        </div>
                        -->
                    </div>
                    <div class="row">
                        <a name="guardarRegistro" class="btn btn-success">Iniciar</a>
                    </div>
                </form>
            </div>
            {% for itemPESA in valoresAdmitidos %}

            <input type="hidden" name="sap_admitido" value="{{itemPESA}}" class="sap_admitido">

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/grid.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/version.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/detector.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/formatinf.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/errorlevel.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/bitmat.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/datablock.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/bmparser.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/datamask.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/rsdecoder.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/gf256poly.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/gf256.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/decoder.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/qrcode.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/findpat.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/alignpat.js"></script>
<script type="text/javascript" src="/js/plugins/jsqrcode-master/src/databr.js"></script>
<script>


    $(document).ready(function () {


        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        ActivateMenu('docxpresso_home');
        $('#side-menu').metisMenu();


        qrcode.callback = putQrValue;
    });


    function putQrValue(a) {
        console.log("funcion callback: " + a);
        var objet = JSON.parse(a);
        $('#equipo').val(objet.name);
        $('#sap').val(objet.sap);
        /*
        $('#ubicacion').val(objet.ubicacion);
        $('#decimales').val(objet.decimales);
        $('#legibilidad').val(objet.legibilidad);
        $('#pesada_maxima').val(objet.pesada_maxima);
        $('#pesada_minima').val(objet.pesada_minima);
        $('#pesa_chequeo_sensibilidad').val(objet.pesa_chequeo_sensibilidad);
        $('#cl').val(objet.cl);
        $('#cl_sup').val(objet.cl_sup);
        $('#cl_inf').val(objet.cl_inf);
        $('#wl').val(objet.wl);
        $('#wl_sup').val(objet.wl_sup);
        $('#wl_inf').val(objet.wl_inf);
        $('#peso_chequeo_repetibilidad').val(objet.peso_chequeo_repetibilidad);
        $('#cl_desv_std').val(objet.cl_desv_std);
        $('#wl_desv_std').val(objet.wl_desv_std);
        */
        if(!checkQRValue(objet.sap)){
            toastr.error("El Código escaneado no se corresponde con esta plantilla.", 'aviso');
        }
    }

    function handleFiles(files) {
        /*
        var oneFile = files[0];
        console.log(oneFile);
        qrcode.decode(oneFile);
*/
        var o = [];
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    console.log("cargar imagen");
                    qrcode.decode(e.target.result);
                };
            })(files[i]);
            // Read in the image file as a data URL.
            reader.readAsDataURL(files[i]);
        }
    }

    $('a[name="guardarRegistro"]').on('click', function () {

        var sap = $("#sap").val();
        console.log(sap);
        if (equipo == "") {
            toastr.error("Debe escanear un código QR para completar el valor de equipo.", 'aviso');
        } else if (checkQRValue(sap)) {
            $("#createform").submit();
        } else {
            toastr.error("El Código escaneado no se corresponde con esta plantilla.", 'aviso');

        }

    });

    function checkQRValue(value) {
        // Debería hacerse por ajax.
        var valid = true;
        var master = '{{master}}';
        var valoresAdmitidos = [];

        if (master == 4 || master == 5) {

            //sap_admitido
            $("input[name='sap_admitido']" ).each(function() {
                valoresAdmitidos.push($(this).val());
            });

        }

        if (valoresAdmitidos.indexOf(value) != -1) {
            valid = true;
        } else {
            valid = false;
        }


        return valid;
    }

</script>
{% endblock %}
