{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>


</style>
{% endblock %}
{% block main_title %} Cancelación de Registro del documento: {{documentName}}{% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <div class="col-sm-5 ">
                <h1>Cancelar registro</h1>
                <form id="cancelform" action="{{path('nononsense_registro_cancelado_validation', {'revisionid': revisionid})}}">
                    <div class="input-group">
                        <span class="input-group-addon"
                              style="background-color: #62bbe2; color: #fff"> Indicar motivo</span>
                    </div>
                    <div class="input-group">
                        <textarea id="comment" name="comment" form="cancelform" rows="10" cols="91"></textarea>
                    </div>
                    <a name="cancelarRegistro" class="btn btn-secondary" href="{{path('nononsense_registro_enproceso')}}">Volver</a>
                    <a name="guardarRegistro" class="btn btn-danger">Enviar cancelación</a>
                </form>
            </div>
        </div>
        <hr>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>


    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        ActivateMenu('docxpresso_home');
        $('#side-menu').metisMenu();


        $('a[name="guardarRegistro"]').on('click', function () {
            var valueSelect = $("#motivoSelect").val();
            var text = $("#comment").val();

            console.log(text);

            if (text == ""){
                toastr.error("Debe escribir un motivo, no puede dejar el cuadro en blanco",'aviso');
            }else{
                $("#cancelform").submit();
            }


        });

    });

</script>
{% endblock %}
