{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>


</style>
{% endblock %}
{% block main_title %} Reconciliación {% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <h1>Reconciliación</h1>
        </div>
        <div>
            <p>¿Qué quiere hacer?</p>
            <a class="btn btn-default"
               href="{{path('nononsense_home_homepage')}}" name="volver">Volver</a>
            <a class="btn btn-primary"
               href="{{path('nononsense_solicitud_reconciliacion_formulario', {'registroid': registroid,'nuevoregistroid': nuevoregistroid})}}" name="guardarenviar">Solicitar reconciliación</a>
            
        </div>

    </div>
</div>
    {% endblock %}
    {% block scripts %}
    {{ parent() }}
    <script>


        $(document).ready(function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            ActivateMenu('docxpresso_home');
            $('#side-menu').metisMenu();

        });

    </script>
    {% endblock %}
