{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>


</style>
{% endblock %}
{% block main_title %} Se ha guardado la verificación parcial del registro del documento {{documentName}}{% endblock %}
{% block content %}
<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    <div class="row">
        <div>
            <h1>Se ha guardado la verificación</h1>
        </div>

    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>


    $(document).ready(function () {

        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        ActivateMenu('docxpresso_home');
        $('#side-menu').metisMenu();

    });

</script>
{% endblock %}
