{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<style>
    #loadingChart {
        display: none
    }

    .doc-box-filters {
        display: none
    }

    table.datos-proveedor {
        width: 100%;
        float: left;
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    table.datos-proveedor thead td {
        font-weight: bold;
        font-size: 14px;
    }

    table.datos-proveedor thead tr {
        border-bottom: 1px solid #ccc;
    }

    tbody tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody.datos-proveedor tr td.pdte {
        color: #ae3d3d;
    }

    tbody.datos-proveedor tr td.pdte-ok {
        color: #00cc00;
    }

    tbody.datos-proveedor tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody tr td.pdte {
        color: #ae3d3d;
    }

    tbody tr td.pdte-ok {
        color: #00cc00;
    }
    .not-allowed     { cursor: not-allowed; }

    a.btn-table {
        background: #0fba40;
        border-radius: 0;
        color: #fff;
        font-size: 12px;
        width: 100%;
        margin: 0;
        border: 1px solid #0fba40;
        padding: 5px 0;
    }

    a.btn-cancel {
        background: red;
        border: 1px solid red;
    }

    a.btn-table:hover {
        background: #fff;
        color: #0fba40;
    }

    a.btn-cancel:hover {
        background: #fff;
        color: red;
    }

    .row.wrapper-blocks {
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .block-wrapper {
        padding: 0 5px;
        min-width: 170px;
    }

    .block-content {
        background: #f3f3f3;
        padding: 10px 0;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 20px;
        display: table;
        width: 100%;
    }

    .wrapper-blocks-home .block-content {
        background: #f3f3f3;
        padding: 15px;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 30px;
        display: table;
        width: 100%;
    }

    h3.title-block {
        font-size: 24px;
        color: #4c91d2;
        max-width: 200px;
        font-weight: normal;
        margin-top: 0;
    }

    h3.title-block + a img {
        width: 75px;
        height: 75px;
        margin: auto;
        display: table;
        bottom: 40px;
        left: 40%;
    }

    tbody.datos-proveedor tr td.complet {
        color: #009900;
    }

    /*
     * Style Cesar
     */
    .row.buscador {
        margin: 25px 0;
    }

    select,
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="search"] {
        width: 100%;
        border: 1px solid #3c89ce;
        padding: 5px 7px;
        font-size: 14px;
        margin-bottom: 15px;
    }

    select {
        padding: 4px 7px;
    }

    .disabled-box {
        background: #9f9f9f;
        padding: 15px;
        margin-bottom: 10px;
        border: 2px solid #adb5bc;
        height: 210px;
        display: table;
        width: 100%;
    }

    .doc-box-filters {
        display: none
    }

    table.datos-proveedor {
        width: 100%;
        float: left;
        margin: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    table.datos-proveedor thead td {
        font-weight: bold;
        font-size: 14px;
    }

    table.datos-proveedor thead tr {
        border-bottom: 1px solid #ccc;
    }

    tbody.datos-proveedor tr td {
        padding: 3px 5px;
        font-size: 14px;
        font-weight: 400;
        height: 34px;
    }

    tbody.datos-proveedor tr td.pdte {
        color: #ae3d3d;
    }

    tbody.datos-proveedor tr td.pdte-ok {
        color: #00cc00;
    }

    tbody.datos-proveedor tr td.complet {
        color: #009900;
    }

</style>
{% endblock %}
{% block main_title %} {{'Proceso'|trans}}{% endblock %}
{% block content %}


<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12">
            <div>
                <button class="btn btn-outline-info active" id="tituloregistros">Registros en cumplimentación</button>
                <button class="btn btn-outline-secondary" id="tituloparcial">Cumplimentación parcial en proceso</button>
                <hr>
                <div class="row" id="filtroparciales" style="display: none">
                    <form>
                        <div class="col-sm-3">
                            <label for="idunicocodigomaterial">Código Material</label>
                            <input type="text" name="idunicocodigomaterial" id="idunicocodigomaterial"
                                   value="{{codigomaterial}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="idLote">Lote</label>
                            <input type="text" name="idLote" id="idLote" value="{{lote}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="idcodigoequipo">Código Equipo</label>
                            <input type="text" name="idcodigoequipo" id="idcodigoequipo" value="{{codigoequipo}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="idworkordersap">Work order SAP</label>
                            <input type="text" name="idworkordersap" id="idworkordersap" value="{{workordersap}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="idcodigodocumento">Código de documento</label>
                            <input type="text" name="idcodigodocumento" id="idcodigodocumento"
                                   value="{{codigodocumento}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="idregistro">ID Registro</label>
                            <input type="text" name="idregistro" id="idregistro" value="{{idregistro}}">
                        </div>
                        <div class="col-sm-1">
                            <label for="idfiltrar" style="color: white">ID Registro</label>
                            <input type="text" name="idfiltrar" id="idfiltrar" value="Filtrar" class="btn btn-primary"
                                   readonly>

                        </div>
                    </form>
                </div>
                {% if documentsProcessParcial|length > 0 %}
                <div class="row" style="display: none" id="cumplimentacionParcialDiv">
                    <h2>Registros en cumplimentación parcial: </h2>
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nº</th>
                            <th>SubCategoria</th>
                            <th>Nombre</th>
                            <!--<th>Descripcion</th>-->
                            <th>Estado</th>
                            <th>Fecha Iniciado</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        {% for plantilla in documentsProcessParcial %}
                        <tr>
                            <td>{{plantilla.id}}</td>
                            <td>{{plantilla.companyName}}</td>
                            <td>{{plantilla.masterWorkflowName}}</td>
                            {% if plantilla.status == 0 %}
                            <td>Iniciado</td>
                            {% elseif plantilla.status == 16 %}
                            <td>Esperando autorización para reconciliación</td>
                            {% elseif plantilla.status == 6 %}
                            <td class="pdte">Devuelto para edición</td>
                            {% else %}
                            <td class="pdte">No deberías estar viendo este registro</td>
                            {% endif %}
                            <td>{{plantilla.fecha | date('d-m-Y H:i:s') }}</td>
                            {% if plantilla.status == 0 or plantilla.status == 6 %}
                            {% if plantilla.in_edition == 0 %}
                            <td><a class="btn btn-xs btn-primary" name="completarregistro"
                                   data-template="{{plantilla.id}}"
                                   data-loogbook="{{plantilla.logbook}}">{{'Completar
                                registro'|trans}}</a>
                                {% if plantilla.reconciliacion != 'NO' %}
                                <a class="btn btn-xs btn-primary" name="verregistro"
                                   href="{{path('nononsense_ver_registro', {'revisionid': plantilla.reconciliacion})}}"
                                   target="_blank">{{'Ver reconciliado'|trans}}</a>
                                {% endif %}
                            </td>
                            {% else %}
                            <td><a class="btn btn-xs btn-secondary not-allowed"><i class="fa fa-lock"> </i>
                                {{'En edicion'|trans}}</a></td>
                            {% endif %}
                            {% else %}
                            <td>                            {% if plantilla.firma != '' %}
                                <a class="btn btn-xs btn-warning" name="firmar"
                                   href="{{plantilla.firma}}"
                                   target="_self">{{'Firmar'|trans}}</a>
                                {% endif %}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    {% include '::pagination.html.twig' %}
                </div>
                {% endif %}

                {% if documentsProcess|length > 0 %}
                <table id="inProcess" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nº</th>
                        <th>SubCategoria</th>
                        <th>Nombre</th>
                        <!--<th>Descripcion</th>-->
                        <th>Estado</th>
                        <th>Fecha Iniciado</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    {% for plantilla in documentsProcess %}
                    <tr>
                        <td>{{plantilla.id}}</td>
                        <td>{{plantilla.companyName}}</td>
                        <td>{{plantilla.name}}</td>
                        <!--<td>{{plantilla.description}}</td>-->
                        {% if plantilla.status == 0 %}
                        <td>Iniciado</td>
                        {% elseif plantilla.status == 1 %}
                        <td>Esperando firma guardado parcial</td>
                        {% elseif plantilla.status == 2 %}
                        <td>Esperando firma envío</td>
                        {% elseif plantilla.status == 3 %}
                        <td>Esperando firma cancelación</td>
                        {% elseif plantilla.status == 4 %}
                        <td>En verificación</td>
                        {% elseif plantilla.status == 5 %}
                        <td>Pendiente cancelación en edición</td>
                        {% elseif plantilla.status == 6 %}
                        <td class="pdte">Cancelado en edición</td>
                        {% elseif plantilla.status == 7 %}
                        <td class="pdte">Esperando firma verificación total</td>
                        {% elseif plantilla.status == 8 %}
                        <td class="pdte">Cancelado</td>
                        {% elseif plantilla.status == 9 %}
                        <td>Archivado</td>
                        {% elseif plantilla.status == 10 %}
                        <td>Reconciliado</td>
                        {% elseif plantilla.status == 11 %}
                        <td class="pdte">Bloqueado</td>
                        {% elseif plantilla.status == 12 %}
                        <td>Esperando firma cancelación en verificación</td>
                        {% elseif plantilla.status == 13 %}
                        <td>Esperando firma devolución a edición</td>
                        {% elseif plantilla.status == 14 %}
                        <td>Pendiente de cancelación en verificación</td>
                        {% elseif plantilla.status == 15 %}
                        <td>Esperando firma verificación parcial</td>
                        {% elseif plantilla.status == 16 %}
                        <td>Esperando autorización para reconciliación</td>
                        {% elseif plantilla.status == 17 %}
                        <td>Bloqueado, esperando decisión de ECO</td>
                        {% else %}
                        <td class="pdte">{{plantilla.status}}</td>
                        {% endif %}
                        <td>{{plantilla.fecha | date('d-m-Y H:i:s') }}</td>
                        {% if plantilla.status == 0  %}
                        {% if plantilla.in_edition == 0%}
                        <td><a class="btn btn-xs btn-primary" name="completarregistro"
                               data-template="{{plantilla.id}}"
                               data-loogbook="{{plantilla.logbook}}">{{'Completar
                            registro'|trans}}</a>
                            {% if plantilla.reconciliacion != 'NO' %}
                            <a class="btn btn-xs btn-primary" name="verregistro"
                               href="{{path('nononsense_ver_registro', {'revisionid': plantilla.reconciliacion})}}"
                               target="_blank">{{'Ver reconciliado'|trans}}</a>
                            {% endif %}
                        </td>
                        {% else %}
                        <td><a class="btn btn-xs btn-secondary not-allowed"><i class="fa fa-lock"> </i>
                            {{'En edicion'|trans}}</a></td>
                        {% endif %}
                        {% else %}
                        <td>
                            {% if plantilla.firma != '' %}
                            <a class="btn btn-xs btn-warning" name="firmar"
                               href="{{plantilla.firma}}"
                               target="_self">{{'Firmar'|trans}}</a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>No hay registros en Processo</p>
                {% endif %}
            </div>
            <hr>
            <div>
                <h2>Registro en validación</h2>
                {% if documents|length > 0 %}
                <table id="datos" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Nº</th>
                        <th>SubCategoria</th>
                        <th>Nombre</th>
                        <th>Iniciador Por:</th>
                        <!--<th>Descripcion</th>-->
                        <th>Lote</th>
                        <th>Código Material</th>
                        <th>Fecha inicio</th>
                        <th>Estado</th>
                        <th>Iniciar</th>
                    </tr>
                    </thead>
                    {% for plantilla in documents %}
                    <tr>
                        <td>{{plantilla.registroid}}</td>
                        <td>{{plantilla.companyName}}</td>
                        <td>{{plantilla.name}}</td>
                        <td>{{plantilla.namecreated}}</td>
                        <!--<td>{{plantilla.description}}</td>-->
                        <td>
                            {{plantilla.lote}}
                        </td>
                        <td>
                            {{plantilla.codigo}}
                        </td>
                        <td>{{plantilla.fecha | date('d-m-Y H:i:s')}}</td>
                        {% if plantilla.status == 0 %}
                        <td>Iniciado</td>
                        {% elseif plantilla.status == 1 %}
                        <td>Esperando firma guardado parcial</td>
                        {% elseif plantilla.status == 2 %}
                        <td>Esperando firma envío</td>
                        {% elseif plantilla.status == 3 %}
                        <td>Esperando firma cancelación</td>
                        {% elseif plantilla.status == 4 %}
                        <td>En verificación</td>
                        {% elseif plantilla.status == 5 %}
                        <td>Pendiente cancelación en edición</td>
                        {% elseif plantilla.status == 6 %}
                        <td class="pdte">Cancelado en edición</td>
                        {% elseif plantilla.status == 7 %}
                        <td class="pdte">Esperando firma verificación total</td>
                        {% elseif plantilla.status == 8 %}
                        <td class="pdte">Cancelado</td>
                        {% elseif plantilla.status == 9 %}
                        <td>Archivado</td>
                        {% elseif plantilla.status == 10 %}
                        <td>Reconciliado</td>
                        {% elseif plantilla.status == 11 %}
                        <td class="pdte">Bloqueado</td>
                        {% elseif plantilla.status == 12 %}
                        <td>Esperando firma cancelación en verificación</td>
                        {% elseif plantilla.status == 13 %}
                        <td>Esperando firma devolución a edición</td>
                        {% elseif plantilla.status == 14 %}
                        <td>Pendiente de cancelación en verificación</td>
                        {% elseif plantilla.status == 15 %}
                        <td>Esperando firma verificación parcial</td>
                        {% elseif plantilla.status == 17 %}
                        <td>Bloqueado, esperando decisión de ECO</td>
                        {% else %}
                        <td class="pdte">{{plantilla.status}}</td>
                        {% endif %}
                        <td>
                            {% if plantilla.status == 4 or plantilla.status == 5 or plantilla.status == 14 %}
                            {% if plantilla.in_edition == 0 %}
                            <a class="btn btn-xs btn-primary" name="verregistro"
                               href="{{path('nononsense_ver_registro', {'revisionid': plantilla.registroid})}}"
                               target="_self">{{'Ver'|trans}}</a>
                            {% else %}
                        <a class="btn btn-xs btn-secondary not-allowed"><i class="fa fa-lock"> </i>
                            {{'En revision'|trans}}</a>
                        {% endif %}
                            {% endif %}

                            {% if plantilla.reconciliacion != 'NO' %}
                            <a class="btn btn-xs btn-primary" name="verregistro"
                               href="{{path('nononsense_ver_registro', {'revisionid': plantilla.reconciliacion})}}"
                               target="_blank">{{'Ver reconciliado'|trans}}</a>
                            {% endif %}
                            {% if plantilla.firma != '' %}
                            <a class="btn btn-xs btn-warning" name="firmar"
                               href="{{plantilla.firma}}"
                               target="_self">{{'Firmar'|trans}}</a>

                            {% endif %}
                        </td>
                    </tr>
                    {% if plantilla.checklist == 1 and ( plantilla.status == 4 or plantilla.status == 7 or  plantilla.status == 12 or plantilla.status == 15) %}
                    <tr>
                        <td>{{plantilla.registroid}}</td>
                        <td>{{plantilla.companyName}}</td>
                        <td>{{plantilla.checklistName}}</td>
                        <td>{{plantilla.namecreated}}</td>
                        <td>
                            {{plantilla.lote}}
                        </td>
                        <td>
                            {{plantilla.codigo}}
                        </td>
                        <td>{{plantilla.fecha | date('d-m-Y H:i:s') }}</td>
                        {% if plantilla.status == 0 %}
                        <td>Iniciado</td>
                        {% elseif plantilla.status == 1 %}
                        <td>Esperando firma guardado parcial</td>
                        {% elseif plantilla.status == 2 %}
                        <td>Esperando firma envío</td>
                        {% elseif plantilla.status == 3 %}
                        <td>Esperando firma cancelación</td>
                        {% elseif plantilla.status == 4 %}
                        <td>En verificación</td>
                        {% elseif plantilla.status == 5 %}
                        <td>Pendiente cancelación en edición</td>
                        {% elseif plantilla.status == 6 %}
                        <td class="pdte">Cancelado en edición</td>
                        {% elseif plantilla.status == 7 %}
                        <td class="pdte">Esperando firma verificación total</td>
                        {% elseif plantilla.status == 8 %}
                        <td class="pdte">Cancelado</td>
                        {% elseif plantilla.status == 9 %}
                        <td>Archivado</td>
                        {% elseif plantilla.status == 10 %}
                        <td>Reconciliado</td>
                        {% elseif plantilla.status == 11 %}
                        <td class="pdte">Bloqueado</td>
                        {% elseif plantilla.status == 12 %}
                        <td>Esperando firma cancelación en verificación</td>
                        {% elseif plantilla.status == 13 %}
                        <td>Esperando firma devolución a edición</td>
                        {% elseif plantilla.status == 14 %}
                        <td>Pendiente de cancelación en verificación</td>
                        {% elseif plantilla.status == 15 %}
                        <td>Esperando firma verificación parcial</td>
                        {% elseif plantilla.status == 17 %}
                        <td>Bloqueado, esperando decisión de ECO</td>
                        {% else %}
                        <td class="pdte">{{plantilla.status}}</td>
                        {% endif %}
                        <td>
                            {% if plantilla.status == 4 %}
                            <a class="btn btn-xs btn-primary" name="verregistro"
                               href="{{path('nononsense_ver_checklist', {'revisionid': plantilla.registroid})}}"
                               target="_self">{{'Ver checklist'|trans}}</a>
                            {% endif %}
                            {% if plantilla.firmachecklist != '' %}
                            <a class="btn btn-xs btn-warning" name="firmar"
                               href="{{plantilla.firmachecklist}}"
                               target="_self">{{'Firmar'|trans}}</a>
                            {% endif %}

                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% else %}
                <p>No hay registros pendientes</p>
                {% endif %}
            </div>
        </div>
        <div style="display: none">
            <form id="createRegistro" action="{{path('nononsense_registro_completar', {'registroid': 0})}}">
                <input type="hidden" name="registroidForm" id="registroidForm">
                <input type="hidden" name="logbook" id="logbookForm">
            </form>
        </div>
        <div class="modal" id="editModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <h4>Número de registros del logbook </h4>
                        <p>Introduzca el número de registros anteriores que quiere ver en el logbook</p>
                        <p>
                            Nombre: <input id="logbook" name="logbook" type="number"
                                           min="0"
                                           max="10"
                                           step="1"
                                           value=""
                                           class="form-control"></br>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="editBtnNo"
                                data-dismiss="modal">
                            <i class="fa fa-ban" aria-hidden="true"></i> Cancelar
                        </button>
                        <a
                                class="btn btn-success" id="editBtnYes"
                                data-dismiss="modal">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            Aceptar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>


    $(document).ready(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "400",
            "hideDuration": "1000",
            "timeOut": "7000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        ActivateMenu('docxpresso_home');
        $('#side-menu').metisMenu();


        $('#factBtnNo').click(function () {
            $("#factModal").hide();

        });

        $('[name="completarregistro"]').click(function () {
            console.log("click yeah!")

            var templateid = $(this).attr('data-template');
            $('#registroidForm').val(templateid);
            //envío de email
            var logbookTemplate = $(this).attr('data-loogbook');

            console.log(logbookTemplate);
            if (logbookTemplate == 1) {
                console.log('showModal!');
                $("#editModal").show();
            } else {
                console.log('submit!');
                $('#logbookForm').val(0);
                $('#createRegistro').submit();
            }

        });

        $('#editBtnNo').click(function () {
            $("#editModal").hide();

        });

        $('#editBtnYes').click(function () {

            var logbook = $('#logbook').val();

            $('#logbookForm').val(logbook);
            $('#createRegistro').submit();


        });

        $('#tituloparcial').click(function () {
            $(this).addClass('active');
            $('#tituloregistros').removeClass('active');

            $('#cumplimentacionParcialDiv').show();
            $('#filtroparciales').show();
            $('#inProcess').hide();
        });

        $('#tituloregistros').click(function () {
            $(this).addClass('active');
            $('#tituloparcial').removeClass('active');

            $('#filtroparciales').hide();
            $('#inProcess').show();
            $('#cumplimentacionParcialDiv').hide();

        });

        $('#idfiltrar').click(function () {
            var idRegistro = $('#idregistro').val();

            var idcodigomaterial = $('#idunicocodigomaterial').val();
            var idlote = $('#idLote').val();
            var idcodigoequipo = $('#idcodigoequipo').val();
            var idworkordersap = $('#idworkordersap').val();
            var idcodigodocumento = $('#idcodigodocumento').val();

            if (idRegistro == "") {
                idRegistro = "-1";
            }
            if (idcodigomaterial == "") {
                idcodigomaterial = "-1";

            }
            if (idlote == "") {
                idlote = "-1";

            }
            if (idcodigoequipo == "") {
                idcodigoequipo = "-1";

            }
            if (idworkordersap == "") {
                idworkordersap = "-1";

            }
            if (idcodigodocumento == "") {
                idcodigodocumento = "-1";

            }

            var query = idRegistro + "_" + idcodigomaterial + "_" + idlote + "_" + idcodigoequipo + "_" + idworkordersap + "_" + idcodigodocumento;

            var server = "/registro_process/1/" + query;

            location.replace(server);

        });

        if ("{{query}}" != 'q') {
            console.log("Me ejecuto");
            $("#tituloparcial").trigger("click");
        } else {
            console.log("{{query}}");
        }

    });


</script>
{% endblock %}
