{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Listado de registros {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Buscador de contenido en plantillas{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div><br>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div><br>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_search')}}" method="GET">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Contenido</label>
                            <div class="col-sm-9 item_filter">
                                <input type="text" name="content" class="form-control" value="{{filters.content is defined ? filters.content : ''}}">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">ID</label>
                            <div class="col-sm-1 item_filter">
                                <input type="number" name="id" class="form-control" value="{{filters.id is defined ? filters.id : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">ID.Plant.</label>
                            <div class="col-sm-1 item_filter">
                                <input type="number" name="plantilla_id" class="form-control" value="{{filters.plantilla_id is defined ? filters.plantilla_id : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Usuario</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="creator" class="form-control" value="{{filters.creator is defined ? filters.creator : ''}}">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-1 control-label">Fecha</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="from" id="from" value="{{filters.from is defined ? filters.from|date("Y-m-d") : ''}}">
                            </div>

                            <div class="col-sm-1">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="until" id="until" value="{{filters.until is defined ? filters.until|date("Y-m-d") : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Estado</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" style="width: 100%;" name="status">
                                    <option value=""></option>
                                    <option value="1" {{filters.status is defined and filters.status == 1 ? 'selected="selected"' : ''}}>Iniciado</option>
                                    <option value="2" {{filters.status is defined and filters.status == 2 ? 'selected="selected"' : ''}}>Pendiente cancelación en edición</option>
                                    <option value="3" {{filters.status is defined and filters.status == 3 ? 'selected="selected"' : ''}}>Cancelado en edición</option>
                                    <option value="4" {{filters.status is defined and filters.status == 4 ? 'selected="selected"' : ''}}>Verificación</option>
                                    <option value="5" {{filters.status is defined and filters.status == 5 ? 'selected="selected"' : ''}}>Pendiente cancelación en verificación</option>
                                    <option value="6" {{filters.status is defined and filters.status == 6 ? 'selected="selected"' : ''}}>Cancelado en verificación</option>
                                    <option value="7" {{filters.status is defined and filters.status == 7 ? 'selected="selected"' : ''}}>Completado</option>
                                    <option value="8" {{filters.status is defined and filters.status == 8 ? 'selected="selected"' : ''}}>Reconciliado</option>
                                    <option value="9" {{filters.status is defined and filters.status == 9 ? 'selected="selected"' : ''}}>Bloqueado</option>
                                  </select>
                            </div>
                            
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">Lote</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" name="lot" class="form-control" value="{{filters.lot is defined ? filters.lot : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Material</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" name="material" class="form-control" value="{{filters.material is defined ? filters.material : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Work Order SAP</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" name="sap" class="form-control" value="{{filters.sap is defined ? filters.sap : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Núm. Equipo</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" name="equipment_number" class="form-control" value="{{filters.equipment_number is defined ? filters.equipment_number : ''}}">
                            </div>

                            <div class="col-sm-offset-1 col-sm-1">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>


                        <input type="hidden" name="record_contains" value="{{filters.record_contains is defined ? filters.record_contains : ''}}">
                      </form>
                </div>
                <div class="row">
                {% if filters.showTable is defined %}
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Acción</th>
                            <th>Producto/Análisis</th>
                            <th>SS/Lote</th>
                            <th>Firma</th>
                            <th>Fecha Firma</th>
                        </tr>
                        </thead>
                        
                        <tr>
                            <td>7154</td>
                            <td>13/09/2019 08:28:17</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Almidón de maiz / CP-156</td>
                            <td>PL00017058</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/en/3/38/Jimmy_warshawsky_signature.png" style="height:50px"></td>
                            <td>13/09/2019</td>
                        </tr>

                        <tr>
                            <td>7173</td>
                            <td>20/09/2019 11:50:32</td>
                            <td>Desecar muestra para IR</td>
                            <td>Almidón de maiz / CP-075</td>
                            <td>PL00017158</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Chris_Hemsworth_Signature.png" style="height:50px"></td>
                            <td>20/09/2019</td>
                        </tr>

                        <tr>
                            <td>7249</td>
                            <td>23/09/2019 10:40:55</td>
                            <td>Desecar muestra para IR</td>
                            <td>Lactosa Monohidrato / CP-056</td>
                            <td>PL00017330</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Timothy_Spall_Signature.png" style="height:50px"></td>
                            <td>24/09/2019</td>
                        </tr>

                        <tr>
                            <td>7254</td>
                            <td>24/09/2019 13:09:11</td>
                            <td>Pérdida en peso para JP</td>
                            <td>Lactosa Monohidrato / CP-056</td>
                            <td>PL00017458</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Paco_Moncayo_signature.png" style="height:50px"></td>
                            <td>24/09/2019</td>
                        </tr>

                        <tr>
                            <td>7377</td>
                            <td>25/09/2019 08:28:00</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Almidón de maiz / CP-156</td>
                            <td>PL00017458</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Signature_of_Sara_Jean_Underwood.png" style="height:50px"></td>
                            <td>25/09/2019</td>
                        </tr>

                        <tr>
                            <td>7404</td>
                            <td>26/09/2019 08:18:09</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Zyban / CF-012</td>
                            <td>K86S (150mg)<br>K86U (150mg)<br>K86V (150mg)</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Joachim_Gaucks_signature.svg" style="height:50px"></td>
                            <td>26/09/2019</td>
                        </tr>

                        <tr>
                            <td>7422</td>
                            <td>30/09/2019 09:43:27</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Zyban / CF-012</td>
                            <td>K86S (150mg)<br>K86U (150mg)</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Clint_Eastwood_Signature.png" style="height:50px"></td>
                            <td>30/09/2019</td>
                        </tr>

                        <tr>
                            <td>7599</td>
                            <td>01/10/2019 10:12:39</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Zyban / CF-012</td>
                            <td>K86V (150mg)</td>
                            <td><img src="https://i.pinimg.com/originals/97/d2/4b/97d24bb50bbec20228b7770a50553675.jpg" style="height:50px"></td>
                            <td>01/10/2019</td>
                        </tr>

                        <tr>
                            <td>8154</td>
                            <td>13/10/2019 08:28:17</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Almidón de maiz / CP-156</td>
                            <td>PL00017058</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/en/3/38/Jimmy_warshawsky_signature.png" style="height:50px"></td>
                            <td>13/10/2019</td>
                        </tr>

                        <tr>
                            <td>8173</td>
                            <td>20/19/2019 11:50:32</td>
                            <td>Desecar muestra para IR</td>
                            <td>Almidón de maiz / CP-075</td>
                            <td>PL00017158</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Chris_Hemsworth_Signature.png" style="height:50px"></td>
                            <td>20/10/2019</td>
                        </tr>

                        <tr>
                            <td>8249</td>
                            <td>23/10/2019 10:40:55</td>
                            <td>Desecar muestra para IR</td>
                            <td>Lactosa Monohidrato / CP-056</td>
                            <td>PL00017330</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Timothy_Spall_Signature.png" style="height:50px"></td>
                            <td>24/10/2019</td>
                        </tr>

                        <tr>
                            <td>8254</td>
                            <td>24/10/2019 13:09:11</td>
                            <td>Pérdida en peso para JP</td>
                            <td>Lactosa Monohidrato / CP-056</td>
                            <td>PL00017458</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Paco_Moncayo_signature.png" style="height:50px"></td>
                            <td>24/10/2019</td>
                        </tr>

                        <tr>
                            <td>8377</td>
                            <td>25/10/2019 08:28:00</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Almidón de maiz / CP-156</td>
                            <td>PL00017458</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/9/93/Signature_of_Sara_Jean_Underwood.png" style="height:50px"></td>
                            <td>25/10/2019</td>
                        </tr>

                        <tr>
                            <td>8404</td>
                            <td>26/10/2019 08:18:09</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Zyban / CF-012</td>
                            <td>K86S (150mg)<br>K86U (150mg)<br>K86V (150mg)</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/8/80/Joachim_Gaucks_signature.svg" style="height:50px"></td>
                            <td>26/10/2019</td>
                        </tr>

                        <tr>
                            <td>8422</td>
                            <td>30/10/2019 09:43:27</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Zyban / CF-012</td>
                            <td>K86S (150mg)<br>K86U (150mg)</td>
                            <td><img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Clint_Eastwood_Signature.png" style="height:50px"></td>
                            <td>30/10/2019</td>
                        </tr>

                        <tr>
                            <td>8599</td>
                            <td>01/11/2019 10:12:39</td>
                            <td>Pérdida en peso por desecación</td>
                            <td>Zyban / CF-012</td>
                            <td>K86V (150mg)</td>
                            <td><img src="https://i.pinimg.com/originals/97/d2/4b/97d24bb50bbec20228b7770a50553675.jpg" style="height:50px"></td>
                            <td>01/11/2019</td>
                        </tr>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script>
  $(function () {
    $('#from').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
    $('#until').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
  });
</script>
{% endblock %}
