{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Documentos/Contratos {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block main_title %} Documentos/Contratos {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_templates_update',{'id': item.id is defined ? item.id : 0}) }}" method="POST"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nombre</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control" value="{{item.name is defined ? item.name : ''}}" required="required">
                            </div>
                        </div>  

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Categoría</label>
                            <div class="col-sm-3">
                                <select class="form-control" id="categoriasSelect" name="categoriasSelect">
                                    <option value="0">Todas</option>
                                    {% for cat in categorias %}
                                    <option value="{{cat.id}}" data-id="{{cat.id}}" {% if item.categoryId is defined and  item.categoryId == cat.id %} selected="selected" {% endif %}>{{cat.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select class="form-control" id="subCategoriasSelect" name="category_id" required="required">
                                    {% for subcat in subcategorias %}
                                        {% if item.categoryId is defined and subcat.padre == item.categoryId %}
                                            <option value="{{subcat.id}}" data-id="{{subcat.id}}" {% if item.subcategoryId is defined and  item.subcategoryId == subcat.id %} selected="selected" {% endif %}>{{subcat.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            {% if not_update is not defined %}
                                {% if item.id is defined %}
                                    <label class="col-sm-3 control-label">Versión</label>
                                    <div class="col-sm-7">
                                        <input type="text" name="template_name" class="form-control" value="">
                                    </div>
                                {% endif %}
                                <label class="col-sm-3 control-label">Plantilla</label>
                                <div class="col-sm-2">    
                                    <input type='file' name="template" id="template" />
                                </div>
                            {% endif %}
                        </div>  
                        {% if apiTemplate is defined and apiTemplate.name is defined %} 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Versión</label>
                                <label class="col-sm-6">{{apiTemplate.version.name}}</label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Configuración</label>
                                <label class="col-sm-6">{{apiTemplate.version.configuration.name}}</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <a class="btn btn-xs btn-info pull-left" href="{{apiTemplate.configurationUrl}}" target="_blank" style="margin-right:2px">Configuración</a>
                                    <a class="btn btn-xs btn-info pull-left" href="{{apiTemplate.fillInUrl}}" target="_blank">Vista previa</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Descripción</label>
                            <div class="col-sm-7">
                                <textarea name="description" rows="10" cols="40" required="required">{{item.description is defined ? item.description : ''}}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Typo</label>
                            <div class="col-sm-7">
                              <select class="form-control" {% if not_update is defined %} disabled="disabled" {% else %} name="precreation" {% endif %} style="width: 100%;" required="required">
                                <option value=""></option>
                                <option value="equipoqr" {% if item.precreation is defined and  item.precreation == "equipoqr" %} selected="selected" {% endif %}>EQUIPO QR</option>
                                <option value="equipopesaqr" {% if item.precreation is defined and  item.precreation == "equipopesaqr" %} selected="selected" {% endif %}>PESAS</option>
                                <option value="codigolote"  {% if item.precreation is defined and  item.precreation == "codigolote" %} selected="selected" {% endif %}>CODIGO LOTE</option>
                                <option value="default" {% if item.precreation is defined and  item.precreation == "default" %} selected="selected" {% endif %}>DEFAULT</option>
                              </select>
                            </div>
                        </div> 
                        
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input id="tiene_checklist" {% if not_update is defined %} disabled="disabled" {% else %} name="tiene_checklist" {% endif %} value="1" type="checkbox" {% if item is defined and  item.checklist == 1 %} checked="checked" {% endif %}> Tiene verificación de IT-C-OP-144ANEXO5
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input name="logbook" value="1" type="checkbox" {% if item is not defined or (item.logbook is defined and  item.logbook == 1) %} checked="checked" {% endif %}> Logbook
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>
                                        <input name="is_active" value="1" type="checkbox" {% if item is not defined or (item.isActive is defined and  item.isActive == 1) %} checked="checked" {% endif %}> Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>

            <div style="display: none">
                {% for catelement in subcategorias %}
                <input name="todascats" data-id="{{catelement.id}}" data-name="{{catelement.name}}"
                       data-padre="{{catelement.padre}}">
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>
    $( document ).ready(function() {
        $('#categoriasSelect').on('change', function () {
                
            update_categories($(this));
        });
        //update_categories($('#categoriasSelect'));
    });

    function update_categories(element){
        var categoriaselected = $("#categoriasSelect option:selected").val();
        console.log("seleccionado la categoria: " + categoriaselected);


        $('#subCategoriasSelect').empty();

        $('#subCategoriasSelect').append('<option value="0">Todas</option>');

        if(element.val()!="0"){
            $('input[name="todascats"]').each(function () {

                var idCat = $(this).attr("data-id");
                var padreCat = $(this).attr("data-padre");
                var nameCat = $(this).attr("data-name");
                if (padreCat == categoriaselected) {
                    $('#subCategoriasSelect').append('<option value="' + idCat + '">' + nameCat + '</option>');
                }

            });
        }
    }
    </script>
{% endblock %}


