{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Listado de productos{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_products')}}" method="GET">
                        <input type="hidden" id='a_excel' />
                        <div class="form-group">
                            <label class="col-sm-2 control-label item_filter">Part. Number</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="partNumber" class="form-control" value="{{filters.partNumber is defined ? filters.partNumber : ''}}">
                            </div>

                            <label class="col-sm-1 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label item_filter">Stock mínimo</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="minimum_stock_from" id="minimum_stock_from" value="{{filters.minimum_stock_from is defined ? filters.minimum_stock_from : ''}}">
                            </div>

                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="minimum_stock_to" id="minimum_stock_to" value="{{filters.minimum_stock_to is defined ? filters.minimum_stock_to : ''}}">
                            </div>

                            <div class="col-sm-1 item_filter">
                                <button type="button" onclick="javascript:filtering();" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div>
                      <a href="{{ path('nononsense_products_edit',{'id': '0'}) }}" target="_self" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nuevo Producto</a>
                    </div><br>
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Part. Number</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Stock</th>
                            <th>Proveedor</th>
                            <th>Presentación</th>
                            <th>Stock mínimo</th>
                            <th>Método de análisis</th>
                            <th>Observaciones</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                        </thead>
                        {% if items is defined %}
                            {% for item in items %}
                            <tr>
                                <td>{{item.partNumber}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td>{{item.stock}}</td>
                                <td>{{item.provider}}</td>
                                <td>{{item.presentation}}</td>
                                <td>{{item.stockMinimum}}</td>  
                                <td>{{item.analysisMethod}}</td>
                                <td>{{item.observations}}</td>
                                <td>{{item.nameType}}</td>
                                <td>
                                    <a href="{{path('nononsense_products_edit', {'id': item.id}) }}" class="btn btn-xs" target="_self"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}
                    <a href="javascript:export_excel();" class="btn btn-primary pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a> 
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>
  $(function () {

    ActivateMenu('browse_products');
    $('#side-menu').metisMenu();

  });

  function filtering(){
    $('#a_excel').val(0);
    $('#form_item').attr("target","_self");
    $('#form_item').submit();
  }

  function export_excel(){
    $('#a_excel').val(1);
    $('#form_item').attr("target","_blank");
    $('#form_item').submit();
  }
</script>
{% endblock %}
                        