{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK |  Productos / {{productInput.id is not null ? 'Editar' : 'Crear'}} recepción de {{ type is defined ? type.name : ''}} {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block main_title %} Productos / {{productInput.id is not null ? 'Editar' : 'Crear'}} recepción de {{ type is defined ? type.name : ''}} {% endblock %}

{% block content %}

    <link rel="stylesheet" href="{{ asset('bundles/nononsensehome/css/select2.min.css') }}">

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        <br>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_products_inputs',{'type': type.slug,'qrCode': qrCode}) }}" method="POST">
            <input type="hidden" id='url_get_products_json' value="{{ path('nononsense_products_json') }}" />
            <input type="hidden" name="active" value="1" />
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Código QR</label>
                            <div class="col-sm-5">
                                <input type="text" name="qrCode" class="form-control" value="{{ qrCode }}" readonly="readonly" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Código interno</label>
                            <div class="col-sm-5">
                                <input type="text" name="internalCode" class="form-control" required="required"
                                       value="{{ product.internalCode is defined and product.internalCode is not null ? product.internalCode : ''}}">
                            </div>
                            {% if not (product.internalCode is defined and product.internalCode is not null) %}
                                <div class="col-sm-3">
                                    <a href="#" class="btn btn-primary internalCodeBtn">Comprobar</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="product-data" {{ product.internalCode is defined and product.internalCode is not null ? '' : 'style="display:none;"' }}>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">CAS Number</label>
                                <div class="col-sm-5">
                                    <input type="text" name="casNumber" readonly="readonly" class="form-control" required="required"
                                           value="{{ product.casNumber is defined and product.casNumber is not null ? product.casNumber : '' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Part. Number</label>
                                <div class="col-sm-5">
                                    <input type="text" name="partNumber" readonly="readonly" class="form-control" required="required"
                                           value="{{ product.partNumber is defined and product.partNumber is not null ? product.partNumber : '' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nombre</label>
                                <div class="col-sm-5">
                                    <input type="text" name="name" readonly="readonly" class="form-control" required="required"
                                           value="{{product.name is defined and product.name is not null ? product.name : ''}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Proveedor</label>
                                <div class="col-sm-5">
                                    <input type="text" name="provider" readonly="readonly" class="form-control" required="required"
                                           value="{{ product.provider is defined and product.provider is not null ? product.provider : ''}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Presentación</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="presentation">
                                        <option value=""></option>
                                        {% for presentation in presentations %}
                                            <option value="{{ presentation.name }}">{{ presentation.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Stock mínimo</label>
                                <div class="col-sm-5">
                                    <input type="text" name="stockMinimum" readonly="readonly" class="form-control" required="required"
                                           value="{{ product.stockMinimum is defined and product.stockMinimum is not null ? product.stockMinimum : '' }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Lote</label>
                                <div class="col-sm-5">
                                    <input type="text" name="lotNumber" class="form-control" required="required"
                                           value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Fecha recepción</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control pull-right my_date" readonly="readonly" autocomplete="off" name="receptionDate" id="receptionDate"  required="required"
                                           value="{{ 'now'|date('Y-m-d') }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Fecha destrucción</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control pull-right my_date" autocomplete="off" name="destructionDate" id="destructionDate" required="required"
                                        value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Cantidad</label>
                                <div class="col-sm-5">
                                    <input readonly="readonly" type="text" name="amount" class="form-control" required="required" value="1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Observaciones</label>
                                <div class="col-sm-5">
                                    <textarea class="form-control" name="observations" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">QR Estático</label>
                                <div class="col-sm-7">
                                    <input name="static" value="1" type="checkbox"
                                            {% if product.static is defined and product.static is not null  and product.static == true %} checked="checked" {% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Activo</label>
                                <div class="col-sm-7">
                                    <input name="active" value="1" type="checkbox" disabled="disabled"
                                            {% if product.active is defined and product.active is not null  and product.active == true %} checked="checked" {% endif %}>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{productInput.id is not null ? 'Editar' : 'Registrar'}} recepción</button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/datapicker/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/plugins/datapicker/locales/bootstrap-datepicker.es.js') }}" charset="UTF-8"></script>
    <script src="{{ asset('bundles/nononsensehome/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bundles/nononsensehome/js/i18n/es.js') }}"></script>
    <script>

    $( document ).ready(function() {
        ActivateMenu('browse_product_inputs');
        $('#side-menu').metisMenu();

        $('.my_date').datepicker({
          autoclose: true,
          orientation: 'bottom auto',
          format: 'yyyy-mm-dd',
          language: 'es'
        });

        $(document).on('click','.internalCodeBtn',function(e){
            $('.product-data').hide();
            const url_get_products_json = $('#url_get_products_json').val();
            e.preventDefault();
            $.ajax({
                url: url_get_products_json,
                type: 'GET',
                dataType: 'json',
                data: {internalCode: $('input[name="internalCode"]').val()},
                success: function(response) {
                    if(response.data.name){
                        fillForm(response.data);
                        $('.product-data').show();
                    }else{
                        cleanForm();
                        $('.product-data').show();
                    }
                },
                error: function() {
                    console.log("No se ha podido obtener la información");
                }
            });
        });

        $(document).on('change', 'input[name="internalCode"]',function(){
            $('.product-data').hide();
        });
    });

    function getFormInputs()
    {
        return {
            'partNumber': $('input[name="partNumber"]'),
            'name': $('input[name="name"]'),
            'casNumber': $('input[name="casNumber"]'),
            'presentation': $('input[name="presentation"]'),
            'provider': $('input[name="provider"]'),
            'minStock': $('input[name="stockMinimum"]')
        };
    }

    function getFormCheckbox()
    {
        return {
            'static': $('input[name="static"]'),
            'active': $('input[name="active"]'),
        };
    }

    function fillForm(data)
    {
        const formInputs = getFormInputs();
        const formCheckbox = getFormCheckbox();
        $.each(formInputs,function(key,item){
            item.val(data[key]);
            item.attr('readonly','readonly');
        });
        $.each(formCheckbox,function(key,item){
            if(data[key]){
                item.attr('checked','checked');
            }
            item.attr('disabled','disabled');
        });
    }

    function cleanForm()
    {
        const formItems = getFormInputs();
        const formCheckbox = getFormCheckbox();
        $.each(formItems,function(key,item){
            item.val('');
            item.removeAttr('readonly');
        });
        $.each(formCheckbox,function(key,item){
            item.removeAttr('checked');
            item.removeAttr('disabled');
        });
    }

    </script>
{% endblock %}
