{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Listado de retiradas de material{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_products_outputs')}}" method="GET">
                        <input type="hidden" id='a_excel' name='a_excel' />
                        <div class="form-group">
                            <label class="col-sm-2 control-label item_filter">Part. Number</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="partNumber" class="form-control" value="{{filters.partNumber is defined ? filters.partNumber : ''}}">
                            </div>

                            <label class="col-sm-2 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label item_filter">Fecha retirada</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" style="width: 100px;" class="form-control my_date" autocomplete="off" name="withdrawalDateFrom" id="withdrawalDateFrom" value="{{filters.withdrawalDateFrom is defined ? filters.withdrawalDateFrom : ''}}">
                            </div>
                            <div class="col-sm-1 item_filter">
                                <input type="text" style="width: 100px;" class="form-control my_date" autocomplete="off" name="withdrawalDateTo" id="withdrawalDateTo" value="{{filters.withdrawalDateTo is defined ? filters.withdrawalDateTo : ''}}">
                            </div>

                            <div class="col-sm-1 item_filter">
                                <button type="button" onclick="javascript:filtering();" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="row">
                    <div>
                      <a href="{{ path('nononsense_products_outputs_edit',{'id': '0'}) }}" target="_self" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nueva retirada</a>
                    </div><br>
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id.</th>
                            <th>Entrada Id.</th>
                            <th>Part. Number</th>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Fecha retirada</th>
                        </tr>
                        </thead>
                        {% if items is defined %}
                            {% for item in items %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.productInputId}}</td>
                                <td>{{item.productPartNumber}}</td>
                                <td>{{item.productName}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{item.date|date('Y-m-d')}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}
                    <a href="javascript:export_excel();" class="btn btn-primary pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a> 
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script>
  $(function () {

    ActivateMenu('browse_product_outputs');
    $('#side-menu').metisMenu();

    $('.my_date').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });

  });

  function filtering(){
    $('#a_excel').val(0);
    $('#form_item').attr("target","_self");
    $('#form_item').submit();
  }

  function export_excel(){
    $('#a_excel').val(1);
    $('#form_item').attr("target","_blank");
    $('#form_item').submit();
  }


</script>
{% endblock %}
                        