{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO |  Productos / {{productOutput.id is not null ? 'Editar' : 'Crear'}} retirada {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block main_title %} Productos / {{productOutput.id is not null ? 'Editar' : 'Crear'}} retirada{% endblock %}


{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        <br>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_products_outputs_edit',{'id': productOutput.id is not null ? productOutput.id : 0}) }}" method="POST">
            
            <input type="hidden" id='productInputId' value="{{ productOutput.productInput.id is defined and productOutput.productInput.id is not null ? productOutput.productInput.id : '' }}" />
            <input type="hidden" id='url_get_data_input_json' value="{{ path('nononsense_products_inputs_get_data_json',{'id': 'xxx'}) }}" />

            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Imagen Qr</label>
                            <div class="col-sm-7">
                                <input id="imageQR" type="file" name="pic" accept="image/*" capture="camera" onchange="handleFiles(this.files)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Texto Qr</label>
                            <div class="col-sm-7">
                                <div style="float: left; width: 80%;">
                                    <input type="text" id="input_id" name="input_id" class="form-control" value="{{productOutput.productInput.id is defined and productOutput.productInput.id is not null ? productOutput.productInput.id : ''}}" required="required">
                                </div>
                                <div style="float: left; width: 20%;">
                                    <a href="javascript:show_data_inputs();" class="btn" target="_self"><i class="fa fa-search" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>  

                        <div id='div_data_input' style="display: none;">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Part. Number</label>
                                <div class="col-sm-7">
                                    <input type="text" id="partNumberProduct" class="form-control" value="{{productOutput.productInput.partNumber is defined and productOutput.productInput.partNumber is not null ? productOutput.productInput.partNumber : ''}}" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nombre</label>
                                <div class="col-sm-7">
                                    <input type="text" id="nameProduct" class="form-control" value="{{productOutput.productInput.name is defined and productOutput.productInput.name is not null ? productOutput.productInput.name : ''}}" readonly="readonly">
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Cantidad</label>
                                <div class="col-sm-7">
                                    <input {% if productOutput.id is not null %} readonly="readonly" {% endif %} type="text" name="amount" class="form-control" required="required" value="{{productOutput.amount is not null ? productOutput.amount : ''}}">
                                </div>
                            </div> 
                        </div>
                        
                    </div>  

                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> {{productOutput.id is not null ? 'Editar' : 'Registrar'}} retirada</button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/grid.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/version.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/detector.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/formatinf.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/errorlevel.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/bitmat.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/datablock.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/bmparser.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/datamask.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/rsdecoder.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/gf256poly.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/gf256.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/decoder.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/qrcode.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/findpat.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/alignpat.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/databr.js"></script>
    <script>
    $( document ).ready(function() {
        ActivateMenu('browse_product_outputs');
        $('#side-menu').metisMenu();

        var productInputId = $('#productInputId').val();
        show_data_inputs(productInputId);

        qrcode.callback = putQrValue;
    });

    function putQrValue(a) {        
        $('#input_id').val(a);
        show_data_inputs();
    }

    function handleFiles(files) {
        var o = [];
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();
            reader.onload = (function (theFile) {
                return function (e) {
                    var value = qrcode.decode(e.target.result);
                };
            })(files[i]);
            reader.readAsDataURL(files[i]);
        }
    }

    function show_data_inputs(){
        var input_id = $('#input_id').val();

        var url = $('#url_get_data_input_json').val();
        url = url.replace("xxx", input_id);

        if(input_id!=''){

            show_loader();
            
            $.ajax({
                async:true,
                url: url,
                type: 'GET',
                complete: function ( respuesta ) {
                    
                    hide_loader();
                    var datos = JSON.parse(respuesta.responseText);
                    if(datos.status==200){
                        $('#partNumberProduct').val(datos.data.partNumberProduct);
                        $('#nameProduct').val(datos.data.nameProduct);
                        $('#div_data_input').show();
                    }
                    else{
                        alert("El QR no se corresponde con una entrada válida");
                        $('#partNumberProduct').val('');
                        $('#nameProduct').val('');
                        $('#div_data_input').hide(); 
                    }
                }
            });
        }
        else{
            $('#div_data_input').hide();   
        }
    }
    </script>
{% endblock %}


