{% extends '::base.html.twig' %}
{% block page_title %}
    DOCXPRESSO |  Productos / {{product.id is not null ? 'Editar' : 'Alta de'}} {{ type is defined ? type.name : ''}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/js/plugins/sweetalert/sweetalert.min.css') }}">
{% endblock %}
{% block main_title %}
    Productos / {{product.id is not null ? 'Editar' : 'Alta de'}} {{ type is defined ? type.name : ''}}
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <form class="form-horizontal" id="form_item" method="POST"
                action="{{ path('nononsense_products_edit_stock',{'id': product.id is not null ? product.id : 0})}}">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        {% if product is defined %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Código QR</label>
                            <div class="col-sm-7">
                                <input type="text" name="qrCode" class="form-control" value="{{product.qrCode is not null ? product.qrCode : ''}}" readonly="readonly">
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nombre</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control" value="{{product.name is not null ? product.name : ''}}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Código interno</label>
                            <div class="col-sm-7">
                                <input type="text" name="internalCode" class="form-control" value="{{product.internalCode is not null ? product.internalCode : ''}}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Part. Number</label>
                            <div class="col-sm-7">
                                <input type="text" name="partNumber" class="form-control" value="{{product.partNumber is not null ? product.partNumber : ''}}" readonly="readonly">
                            </div>
                        </div>
                        {% if type is defined and type.slug == 'reactivo' %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cas. Number</label>
                            <div class="col-sm-7">
                                <input type="text" name="casNumber" class="form-control" value="{{product.casNumber is not null ? product.casNumber : ''}}" readonly="readonly">
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Proveedor</label>
                            <div class="col-sm-7">
                                <input type="text" name="provider" class="form-control" value="{{product.provider is not null ? product.provider : ''}}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Presentación</label>
                            <div class="col-sm-7">
                                <input type="text" name="presentation" class="form-control" value="{{product.presentation is not null ? product.presentation : ''}}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock mínimo</label>
                            <div class="col-sm-7">
                                <input type="text" name="stockMinimum" class="form-control" value="{{product.stockMinimum is not null ? product.stockMinimum : ''}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock</label>
                            <div class="col-sm-7">
                                <input type="text" name="stock" class="form-control" value="{{product.stock is not null ? product.stock : ''}}" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Activo</label>
                            <div class="col-sm-7">
                                <input name="active" value="1" type="checkbox" {% if product.active == true %} checked="checked" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Observaciones</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="observations" rows="4" required="required"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-11">
                    <a href="#" class="btn btn-primary pull-right btn-save">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        {{product.id is not null ? 'Editar' : 'Registrar'}} {{ type is defined ? type.name : ''}}
                    </a>
                </div>
                <input type="hidden" name="password">
                <input type="hidden" name="passCheck" value="{{ path('nononsense_mclean_get_sign_valid') }}">
            </form>
        </div>
        <div class="row">
            <form class="form-horizontal" id="form_delete" method="POST"
                  action="{{ path('nononsense_products_edit_stock',{'id': product.id is not null ? product.id : 0})}}">
                <div class="col-xs-12">
                    <br>
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id.</th>
                            <th>Código QR</th>
                            <th>Número de lote</th>
                            <th>Fecha de recepción</th>
                            <th>Fecha de caducidad</th>
                            <th>Fecha de destrucción</th>
                            <th>Observaciones</th>
                            <th>Eliminar del stock</th>
                        </tr>
                        </thead>
                        {% if productsInput is defined %}
                            {% for item in productsInput %}
                                <tr>
                                    <td>{{item.id}}</td>
                                    <td>{{item.qrCode}}</td>
                                    <td>{{item.lotNumber}}</td>
                                    <td>{{ item.receptionDate | date('d-m-Y') }}</td>
                                    <td>{{ item.expiryDate | date('d-m-Y') }}</td>
                                    <td>{{ item.destructionDate | date('d-m-Y') }}</td>
                                    <td>
                                        <p data-toggle="tooltip" data-placement="left" title="{{ item.observations|length > 50 ? item.observations : '' }}">
                                            {{ item.observations|length > 50 ? item.observations|slice(0, 50) ~ '...' : item.observations  }}
                                        </p>
                                    </td>
                                    <td>
                                        <input type="checkbox" class="form-control check-del" name="output[]" value="{{ item.id }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <label class="col-sm-4 col-sm-offset-5 control-label">Observaciones</label>
                        <div class="col-sm-3">
                            <textarea class="form-control" name="observations" rows="4" required="required"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <br/>
                </div>
                <div class="col-sm-12">
                    {% if productsInput is defined and productsInput is not empty %}
                    <a href="#" class="btn btn-primary pull-right btn-del-stock">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Eliminar stock seleccionado
                    </a>
                    {% else %}
                        No hay stock para este reactivo.
                    {% endif %}
                    <a href="{{ path('nononsense_products_reception',{'type': type.slug, 'casNb' : product.casNumber|url_encode}) }}" target="_self" class="btn btn-primary pull-right m-r-md">
                        <i class="fa fa-plus"></i> Añadir stock
                    </a>
                </div>
                <input type="hidden" name="password">
            </form>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $( document ).ready(function() {
            ActivateMenu('browse_products');
            $('#side-menu').metisMenu();

            $( document ).on('click', '.btn-del-stock', function(e){
                e.preventDefault();
                let checked = false;
                $('.check-del:checked').each(
                    function() {
                        checked = true;
                    }
                );
                if(checked){
                    swal({
                        title: "Contraseña necesaria",
                        text: "Introduce tu contraseña para eliminar stock.",
                        type: "input",
                        inputType: "password",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#62bbe2',
                        cancelButtonColor: '#ac2925',
                        confirmButtonText: "Guardar",
                        cancelButtonText: "Cancelar",
                        closeOnConfirm: false,
                        showLoaderOnConfirm: true,
                    }, function (password) {
                        if(password !== false && password !== ''){
                            $.ajax({
                                url: $('input[name="passCheck"]').val(),
                                type: 'POST',
                                dataType: 'json',
                                data: {password: password},
                                success: function(response) {
                                    console.log(response);
                                    if(response.valid){
                                        $('input[name="password"]').val(password);
                                        $('#form_delete').submit();
                                    }else{
                                        swal({
                                            title: "Error",
                                            text: "La contraseña no es válida",
                                            icon: 'warning',
                                            showCancelButton: false,
                                            confirmButtonColor: '#62bbe2',
                                            confirmButtonText: "Ok",
                                            closeOnConfirm: true
                                        });
                                    }
                                },
                                error: function() {
                                    swal({
                                        title: "Error",
                                        text: "Ha ocurrido un error al intentar validar la contraseña",
                                        icon: 'warning',
                                        showCancelButton: false,
                                        confirmButtonColor: '#62bbe2',
                                        confirmButtonText: "Ok",
                                        closeOnConfirm: true
                                    });
                                }
                            });
                        }
                    });
                }else{
                    swal({
                        title: "Error",
                        text: "Tienes que seleccionar un producto para eliminar del stock",
                        icon: 'warning',
                        showCancelButton: false,
                        confirmButtonColor: '#62bbe2',
                        confirmButtonText: "Ok",
                        closeOnConfirm: true
                    });
                }
            });
        });

        $(document).on('click', '.btn-save', function(e){
            e.preventDefault();
            modify();
        });

        function modify()
        {
            swal({
                title: "Contraseña necesaria",
                text: "Introduce tu contraseña para modificar los datos.",
                type: "input",
                inputType: "password",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62bbe2',
                cancelButtonColor: '#ac2925',
                confirmButtonText: "Guardar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            }, function (password) {
                if(password !== false && password !== ''){
                    $.ajax({
                        url: $('input[name="passCheck"]').val(),
                        type: 'POST',
                        dataType: 'json',
                        data: {password: password},
                        success: function(response) {
                            console.log(response);
                            if(response.valid){
                                $('input[name="password"]').val(password);
                                $('#form_item').submit();
                            }else{
                                swal({
                                    title: "Error",
                                    text: "La contraseña no es válida",
                                    icon: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#62bbe2',
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: true
                                });
                            }
                        },
                        error: function() {
                            swal({
                                title: "Error",
                                text: "Ha ocurrido un error al intentar validar la contraseña",
                                icon: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#62bbe2',
                                confirmButtonText: "Ok",
                                closeOnConfirm: true
                            });
                        }
                    });
                }
            });
        }

    </script>
{% endblock %}
