{% extends '::base.html.twig' %}
{% block page_title %}
    DOCXPRESSO |  Productos / {{product.id is not null ? 'Editar' : 'Alta de'}} {{ type is defined ? type.name : ''}}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block main_title %}
    Productos / {{product.id is not null ? 'Editar' : 'Alta de'}} {{ type is defined ? type.name : ''}}
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInUp">
        <form class="form-horizontal" id="form_item" method="POST"
              action="{{ path('nononsense_products_edit',{
                  'type': type is defined ? type.slug : '',
                  'id': product.id is not null ? product.id : 0,
                  'qrCode': product.qrCode is not null ? product.qrCode : ''
                })
              }}">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        {% if product is defined %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Código QR</label>
                            <div class="col-sm-7">
                                <input type="text" name="qrCode" class="form-control" value="{{product.qrCode is not null ? product.qrCode : ''}}" readonly="readonly">
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nombre</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" class="form-control" value="{{product.name is not null ? product.name : ''}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Código interno</label>
                            <div class="col-sm-7">
                                <input type="text" name="internalCode" class="form-control" value="{{product.internalCode is not null ? product.internalCode : ''}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Part. Number</label>
                            <div class="col-sm-7">
                                <input type="text" name="partNumber" class="form-control" value="{{product.partNumber is not null ? product.partNumber : ''}}" required="required">
                            </div>
                        </div>
                        {% if type is defined and type.slug == 'reactivo' %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cash. Number</label>
                            <div class="col-sm-7">
                                <input type="text" name="cashNumber" class="form-control" value="{{product.cashNumber is not null ? product.cashNumber : ''}}" required="required">
                            </div>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Proveedor</label>
                            <div class="col-sm-7">
                                <input type="text" name="provider" class="form-control" value="{{product.provider is not null ? product.provider : ''}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Presentación</label>
                            <div class="col-sm-7">
                                <input type="text" name="presentation" class="form-control" value="{{product.presentation is not null ? product.presentation : ''}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Stock mínimo</label>
                            <div class="col-sm-7">
                                <input type="text" name="stockMinimum" class="form-control" value="{{product.stockMinimum is not null ? product.stockMinimum : ''}}" required="required">
                            </div>
                        </div>  
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Activo</label>
                            <div class="col-sm-7">
                                <input name="active" value="1" type="checkbox" {% if product.active == true %} checked="checked" {% endif %}>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        {{product.id is not null ? 'Editar' : 'Registrar'}} {{ type is defined ? type.name : ''}}
                    </button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script>

        $( document ).ready(function() {
            ActivateMenu('browse_products');
            $('#side-menu').metisMenu();
        });
    </script>
{% endblock %}
