{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | Documentos {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/plugins/sweetalert/sweetalert.min.css">
{% endblock %}
{% block main_title %} Inicio cumplimentación {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{path('nononsense_cv_save', {'template': item.id}) }}" method="POST"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">

                    {% if item.logbook %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Registros Logbook</label>
                            <div class="col-sm-8">
                                <div class="col-sm-3">
                                    <input id="logbook" required="required" name="logbook" type="number" min="0" max="10" step="1" value="" class="form-control">
                                </div>
                                <div class="col-sm-9">
                                    Introduzca el número de registros anteriores que quiere ver en el logbook
                                </div>
                            </div>
                        </div>
                        <br>
                    {% endif %}

                    {% if item.uniqid %}
                        <div id="box_unique_codes">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Código Material</label>
                                <div class="col-sm-8">
                                    <input type="text" required="required" name="u_material" id="material" class="form-control uniqid">
                                    <input type="hidden" name="unique[]" value="u_material">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Lote</label>
                                <div class="col-sm-8">
                                    <input type="text" required="required" name="u_lote" id="lote" class="form-control uniqid">
                                    <input type="hidden" name="unique[]" value="u_lote">
                                </div>
                            </div>
                            <br>
                        </div>
                    {% endif %}

                    {% if item.qr is defined and item.qr is not empty %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Código QR: </label>
                        <div class="col-sm-8">
                            <input id="imageQR" type="file" name="pic" accept="image/*" capture="camera" onchange="handleFiles(this.files)"  class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Valor</label>
                        <div class="col-sm-8">
                            <input type="text" name="value_qr" id="value_qr" readonly="readonly" class="form-control">
                        </div>
                    </div><br>
                    {% endif %}
                </div>
                <div class="col-lg-5" id="box_workflow">
                    {% if secondWf is defined and secondWf is not empty %}
                        {% set count = 0 %}
                        {% for wf in secondWf %}
                            {% for number in 1..wf.signaturesNumber %}
                                {% if last_type is defined and wf.tmCumplimentation.tmType != last_type %}
                                    <div>
                                        <button type="button" class="btn btn-default pull-right add_line1" data-type="test"><i class="fa fa-plus"></i> Añadir</button>
                                    </div><br><br>
                                    {% set last_type = wf.tmCumplimentation.tmType  %}
                                {% endif %}
                                <div class="row line_workflow">
                                    <div class="form-group">
                                        <div class="col-sm-4">
                                            <input class="form-control" type="text" value="{{wf.tmCumplimentation.name}}" readonly="readonly">
                                            <input type="hidden" name="types[]" value="{{wf.tmCumplimentation.tmType.id}}" required="required"> 
                                        </div>
                                        <div class="col-sm-3 masterbox_type_workflow">
                                            {% if count!=0 %}
                                                <select class="form-control type_workflow" required="required" name="entities[]" style="width: 100%;">
                                                    <option value=""></option>
                                                    <option value="1">Grupo</option>
                                                    <option value="2">Usuario</option>
                                                </select>
                                            {% else %}
                                                <input class="form-control" type="text" value="Usuario" readonly="readonly">
                                                <input type="hidden" name="entities[]" value="2" required="required"> 
                                            {% endif %}
                                        </div>
                                        {% if count == 0 %}
                                            <div class="master_box_user">
                                                <div class="col-sm-4">
                                                    <input class="form-control" type="text" value="{{app.user.name}}" readonly="readonly">
                                                    <input type="hidden" name="relationals[]" value="{{app.user.id}}" required="required"> 
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% set count = count + 1 %}
                            {% endfor %}
                            asdfasdfasdf
                            {% set last_type = wf.tmCumplimentation.tmType  %}
                        {% endfor %}
                    {% endif %}
                    <div>
                        <button type="button" class="btn btn-default pull-right add_line{{last_type.id}}" data-type="test"><i class="fa fa-plus"></i> Añadir</button>
                    </div><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-pencil" aria-hidden="true"></i> Iniciar cumplimentación</button>
                </div>
            </div>
            <input type="hidden" name="nest" value="{{ nest is defined and nest is not empty ? nest }}">
        </form>
    </div>


    <div style="display:none">
        <div id="box_groups">
            <div class="master_box_group">
                <div class="col-sm-4">
                    <select class="form-control select_group" name="relationals[]" style="width: 100%;" required="required">
                        <option value=""></option>
                        {% for group in groups %}
                            <option value="{{group.id}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div id="box_users">
            <div class="master_box_user">
                <div class="col-sm-4">
                    <select class="form-control select_user" name="relationals[]" style="width: 100%;" required="required">
                        <option value=""></option>
                        {% for user in users %}
                            <option value="{{user.id}}">{{user.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div id="box_remove">
            <div class="master_box_remove">
                <div class="col-sm-1">
                    <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>

    <did style="display:none" id="new_line1">
        <div class="row line_workflow">
            <div class="form-group">
                <div class="col-sm-4">
                    <select class="form-control select_user" name="types[]" style="width: 100%;" required="required">
                        {% for type in type_cumplimentations %}
                            {% if type.tmType.id == 1 %}
                                <option value="{{type.id}}" class="{{type.tmType.name}}">{{type.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 masterbox_type_workflow">
                    <select class="form-control type_workflow" name="entities[]" style="width: 100%;" required="required">
                        <option value=""></option>
                        <option value="1">Grupo</option>
                        <option value="2">Usuario</option>
                    </select>
                </div>
            </div>
        </div> 
    </did>

    <did style="display:none" id="new_line2">
        <div class="row line_workflow">
            <div class="form-group">
                <div class="col-sm-4">
                    <select class="form-control select_user" name="types[]" style="width: 100%;" required="required">
                        {% for type in type_cumplimentations %}
                            {% if type.tmType.id == 2 %}
                                <option value="{{type.id}}" class="{{type.tmType.name}}">{{type.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-3 masterbox_type_workflow">
                    <select class="form-control type_workflow" name="entities[]" style="width: 100%;" required="required">
                        <option value=""></option>
                        <option value="1">Grupo</option>
                        <option value="2">Usuario</option>
                    </select>
                </div>
            </div>
        </div> 
    </did>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/grid.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/version.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/detector.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/formatinf.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/errorlevel.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/bitmat.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/datablock.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/bmparser.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/datamask.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/rsdecoder.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/gf256poly.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/gf256.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/decoder.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/qrcode.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/findpat.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/alignpat.js"></script>
    <script type="text/javascript" src="/js/plugins/jsqrcode-master/src/databr.js"></script>
    <script type="text/javascript" src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script  charset="utf-8">
    var dataworkflow;
    var array_elements = {};
    $( document ).ready(function() {
        
        
        ActivateMenu('en_vigor_gestion_plantillas');
        $('#side-menu').metisMenu();

        /* Eliminamos linea en ese paso del workflow */
        $(document).on('click', '.remove_line', function() {
            $(this).closest(".line_workflow").remove();
        });

        /* Añadimos linea en ese paso del workflow */
        $(document).on('click', '.add_line1', function() {
            add_line($(this),1);
        });

        $(document).on('click', '.add_line2', function() {
            add_line($(this),2);
        });

        $(document).on('change', '.type_workflow', function() {
            switch($(this).val()){
                case "1":
                    $(this).closest(".line_workflow").find(".master_box_user").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_groups").html());
                    break;
                case "2":
                    $(this).closest(".line_workflow").find(".master_box_group").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_users").html());
                    break;
                default:
                    $(this).closest(".line_workflow").find(".master_box_group").remove();
                    $(this).closest(".line_workflow").find(".master_box_user").remove();
                    break;
            }
        });

        $('#form_item').on('submit', function(e){
            if(!repeat_workflow()){
                if(!checkErrors()){
                    if(!$("#value_qr").length || $("#value_qr").val()){
                        {% if item.uniqid %}
                            $('#box_unique_codes').find('.uniqid').each(function () {
                                array_elements[$(this).attr('name')] = $(this).val();
                            });
                            array_elements["gsk_template_id"] = {{item.id}};
                            console.log(array_elements);
                            if(start_cumplimentation()){
                                return true;
                            }
                        {% else %}
                            return true;
                        {% endif %}
                    }
                    else{
                        if (confirm('No se ha detectado un QR y los datos deberán ser inputados de forma manual, ¿Dese continuar?')) {
                            {% if item.uniqid %}
                                $('#box_unique_codes').find('.uniqid').each(function () {
                                    array_elements[$(this).attr('name')] = $(this).val();
                                });
                                array_elements["gsk_template_id"] = {{item.id}};
                                console.log(array_elements);
                                if(start_cumplimentation()){
                                    return true;
                                }
                            {% else %}
                                return true;
                            {% endif %}
                        } else {
                            return false;
                        }
                    }
                }
            }
            else{
                toastr.error("No puede haber un mismo usuario en el workflow",'aviso');
            }
            return false;
        });

        qrcode.callback = putQrValue;

    });

    function start_cumplimentation (){
        var start_c=0;
        $.ajax({
            url: "{{ path('nononsense_check_code_unique', {'id': item.id}) }}",
            type: 'POST',
            dataType: 'json',
            async: false,
            data: {code_unique: JSON.stringify(array_elements) },
            success: function(data) {
                if(data.ok){
                    start_c=1;
                }
                else{
                    start_c=2;
                }
            },
            error: function (request, status, error) {
                  console.log(request.responseText);
                  console.log(status);
                  console.log(error);
                  toastr.error("No puede iniciarse la cumplimentación",'aviso');
            }
        });

        if(start_c>0){
            if(start_c==1){
                if (confirm('Ya existe un registro para este "Identificador único", ¿desea continuar?')) {
                    return true;
                } else {
                    return false;
                }
            }
            else{
                return true;
            }
        }
        
        return false;
        
    }
    
    function putQrValue(a) {
        var read=true;
        var json;
        if (isJson(a) && isNaN(a)) {
            json=decodeURIComponent(escape(a));
            $('#value_qr').val(json);
        }
        else{
            if(validURL(a)){
                $.getJSON(a, function( data ) {
                    json=data;
                    $('#value_qr').val(JSON.stringify(json));
                });
            }
            else{
                read=false;
            }
        }
        
        if(!read){
            toastr.error("El Código escaneado no es compatible.", 'error');
        }
    }

    function checkErrors() {
        var error=0;
        if($("#box_unique_codes input[name]").length){
            $("#box_unique_codes input[name]").each(function() {
                if($(this).val() && $("#value_qr").val()){
                    conflict=getObjects(JSON.parse($("#value_qr").val()), $(this).attr("name"), $(this).val());
                    if(conflict.length>0){
                        toastr.error("No puede introduccir valores distintos para los mismos campos en el código único y en el QR", 'error');
                        error=1;
                        return true;
                    }
                }
            });
        }
        if(error==1){
            return true;
        }
        else{
            return false;
        }
    }

    function repeat_workflow(){
        var result = true;
        var array = [];
        $('.select_user','#box_workflow').each(function() {
            array.push($(this).val());
        });
        if(checkIfArrayIsUnique(array)){
            return false;
        }
        return result;
    }

    function add_line(element,type){
        element.parent().before($("#new_line"+type).html());
        element.parent().prev().find(".masterbox_type_workflow").after($("#box_remove").html());
        //element.closest("#box_workflow").find(".line_workflow:last").find(".masterbox_type_workflow").after($("#box_remove").html());
    }

</script>
{% endblock %}


