{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | Documentos {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/plugins/sweetalert/sweetalert.min.css">
{% endblock %}
{% block main_title %} Desbloqueo de registro en Stand By {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}

        <div class="row">
            <div class="col-lg-11">
                <table id="inProcess" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id Registro afectado</th>
                        <th>Area</th>
                        <th>Nombre</th>
                        <th>Última vez modificado</th>
                        <th>Creado por por</th>
                        <th>Acción</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.area}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.modified | date('d-m-Y H:i:s') }}</td>
                        <td>{{item.creator}}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="{{path('nononsense_cv_docoaro_new', {'id': item.id})}}?in_edition=1" target="_blank" target="_blank">{{'Ver registro bloqueado'|trans}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <form class="form-horizontal" id="form_item" action="{{path('nononsense_request_save_standby', {'id': item.id}) }}" method="POST"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    

                </div>
                <div class="col-lg-5" id="box_workflow">
                    <div id="verifications">
                        {% if secondWf is defined and secondWf is not empty %}
                            {% for wf in secondWf %}
                                <div class="line_workflow">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">{{wf.numberSignature==1 ? 'ECO' : 'FLL'}}</label>
                                        <div class="col-sm-4 masterbox_type_workflow">
                                            <select class="form-control type_workflow" style="width: 100%;" disabled="disabled">
                                                <option value=""></option>
                                                <option value="1" {{wf.group is defined and wf.group is not empty ? 'selected="selected"'}}>Grupo</option>
                                                <option value="2" {{wf.user is defined and wf.user is not empty ? 'selected="selected"'}}>Usuario</option>
                                            </select>
                                        </div>

                                        {% if wf.group is defined and wf.group is not empty %}
                                            <div class="master_box_group">
                                                <div class="col-sm-4">
                                                    <select class="form-control select_group" disabled="disabled" style="width: 100%;">
                                                        <option value=""></option>
                                                        {% for group in groups %}
                                                            <option value="{{group.id}}" {{wf.group.id==group.id ? 'selected="selected"'}}>{{group.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="master_box_user">
                                                <div class="col-sm-4">
                                                    <select class="form-control select_user" disabled="disabled" style="width: 100%;">
                                                        <option value=""></option>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}" {{wf.user.id==user.id ? 'selected="selected"'}}>{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div>
                            <p>Justificación</p>
                            <textarea id="comment" name="observations" class="form-control" rows="10" cols="91" required="required"></textarea>
                        </div><br>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-4">
                            <div id="signature-pad">
                                <p>Introduzca su firma</p>
                                <input type="password" name="password" id="box_password" class="form-control" required="required"><br>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary pull-right" data-action="1" value="Aprobar" style="margin-left:10px">
                            {% if currentWf is defined and (currentWf.group is empty and currentWf.group!=eco) %}
                                <input type="submit" class="btn btn-warning pull-right" data-action="3" value="Pedir confirmación ECO" style="margin-left:10px">
                            {% endif %}
                            <input type="submit" class="btn btn-danger pull-right" data-action="2" value="Rechazar">
                            
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="action" value="" required="required" />
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script type="text/javascript" src="/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script  charset="utf-8">
    var dataworkflow;
    var array_elements = {};
    $( document ).ready(function() {

        ActivateMenu('docxpresso_standby');
        $('#side-menu').metisMenu();

        $('#form_item').on('submit', function(e){
            if(password_valid($("#box_password").val())){
                $("[name='action']").val($(document.activeElement).data("action"));
                return true;
            }
            else{
                toastr.error("La contraseña es incorecta", 'aviso');
            }

            return false;
        });

    });


    function password_valid(password){
        var result;
        $.ajax({
            url: "{{ path('nononsense_mclean_get_sign_valid') }}",
            type: 'POST',
            dataType: 'json',
            async: false,
            data: {password: password},
            success: function(response) {
                console.log(response);
                if(response.valid){
                    result=true;
                }else{
                    result=false;
                }
            },
            error: function() {
                result=false;
            }
        });

        return result;
    }

</script>
{% endblock %}


