{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | Actividad de área {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Actividad de área{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div><br>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div><br>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_activity')}}" method="GET">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Contenido</label>
                            <div class="col-sm-9 item_filter">
                                <input type="text" name="content" class="form-control" value="{{filters.content is defined ? filters.content : ''}}">
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">ID</label>
                            <div class="col-sm-1 item_filter">
                                <input type="number" name="id" class="form-control" value="{{filters.id is defined ? filters.id : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">ID.Plant.</label>
                            <div class="col-sm-1 item_filter">
                                <input type="number" name="plantilla_id" class="form-control" value="{{filters.plantilla_id is defined ? filters.plantilla_id : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Plantilla</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Usuario</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="creator" class="form-control" value="{{filters.creator is defined ? filters.creator : ''}}">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-sm-1 control-label">Fecha</label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="from" id="from" value="{{filters.from is defined ? filters.from|date("Y-m-d") : ''}}">
                            </div>

                            <div class="col-sm-1">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="until" id="until" value="{{filters.until is defined ? filters.until|date("Y-m-d") : ''}}">
                            </div>

                            <label class="col-sm-1 control-label">Acción</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" name="action" style="width: 100%;">
                                    <option value=""></option>
                                    {% for action in actions %}
                                        <option value="{{action.id}}" {{filters.action is defined and filters.action==action.id ? 'selected="selected"'}}>{{action.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">Reg.Página</label>
                            <div class="col-sm-1 item_filter">
                                <select class="form-control" style="width: 100%;" name="limit_many">
                                    <option value=""></option>
                                    <option value="15" {{filters.limit_many is defined and filters.limit_many == 15 ? 'selected="selected"' : ''}}>15</option>
                                    <option value="50" {{filters.limit_many is defined and filters.limit_many == 50 ? 'selected="selected"' : ''}}>50</option>
                                    <option value="100" {{filters.limit_many is defined and filters.limit_many == 100 ? 'selected="selected"' : ''}}>100</option>
                                    <option value="500" {{filters.limit_many is defined and filters.limit_many == 500 ? 'selected="selected"' : ''}}>500</option>
                                  </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-1 control-label">Agrupar por</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" style="width: 100%;" name="group">
                                    <option value=""></option>
                                    {% if filters.action is not defined or filters.action != 6 %}
                                        <option value="1" {{filters.group is defined and filters.group == 1 ? 'selected="selected"' : ''}}>Acción</option>
                                    {% endif %}
                                    <option value="2" {{filters.group is defined and filters.group == 2 ? 'selected="selected"' : ''}}>Usuario</option>
                                    <option value="3" {{filters.group is defined and filters.group == 3 ? 'selected="selected"' : ''}}>Plantilla</option>
                                    {% if filters.action is not defined or filters.action != 6 %}
                                    <option value="4" {{filters.group is defined and filters.group == 4 ? 'selected="selected"' : ''}}>Acción+Usuario</option>
                                    <option value="5" {{filters.group is defined and filters.group == 5 ? 'selected="selected"' : ''}}>Acción+Plantilla</option>
                                    {% endif %}
                                    <option value="6" {{filters.group is defined and filters.group == 6 ? 'selected="selected"' : ''}}>Usuario+Plantilla</option>
                                    {% if filters.action is not defined or filters.action != 6 %}
                                    <option value="7" {{filters.group is defined and filters.group == 7 ? 'selected="selected"' : ''}}>Usuario+Plantilla+Acción</option>
                                    {% endif %}
                                  </select>
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {% if filters.group is not defined %}
                            {% include 'NononsenseHomeBundle:Activity:table_activity_general.html.twig' %}
                        {% else %}
                            {% if filters.group == 1 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_action.html.twig' %}
                            {% endif %}
                            {% if filters.group == 2 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_user.html.twig' %}
                            {% endif %}
                            {% if filters.group == 3 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_template.html.twig' %}
                            {% endif %}
                            {% if filters.group == 4 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_action_user.html.twig' %}
                            {% endif %}
                            {% if filters.group == 5 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_action_template.html.twig' %}
                            {% endif %}
                            {% if filters.group == 6 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_user_template.html.twig' %}
                            {% endif %}
                            {% if filters.group == 7 %}
                                {% include 'NononsenseHomeBundle:Activity:table_activity_group_action_user_template.html.twig' %}
                            {% endif %}
                        {% endif %}
                        
                        {% if pagination is defined and pagination.needed %}
                            {% include '::pagination2.html.twig' %}
                        {% endif %}
                        
                        {% if count==0 %}
                            <br><b>No se han encontrado datos disponibles</b>
                        {% endif %}
                    </div>
                    {% if items is defined and filters.group is defined %}
                        <div class="col-sm-8 col-sm-offset-2">
                            <br><br>
                            <div class="box-body">
                                <canvas id="pieChart" style="height:250px"></canvas>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script src="/js/plugins/chartJs/Chart.min.js"></script>
<script>
$(function () {
    $('#from').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
    $('#until').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });

    {% if items is defined and filters.group is defined %}
      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieChart       = new Chart(pieChartCanvas)
      
        var PieData        = [
            {% for item in items %}
                {
                  value    : {{item.duration}},
                  color    : getRandomColor(),
                  highlight: "#ffcc33",
                    {% if filters.group == 1 %}
                        label    : '{{item.accion|capitalize}}: {{item.formatDuration}}'
                    {% endif %}
                    {% if filters.group == 2 %}
                        label    : '{{item.creator}}: {{item.formatDuration}}'
                    {% endif %}
                    {% if filters.group == 3 %}
                        label    : '{{item.name}}: {{item.formatDuration}}'
                    {% endif %}
                    {% if filters.group == 4 %}
                        label    : '{{item.creator}} - {{item.accion|capitalize}}: {{item.formatDuration}}'
                    {% endif %}
                    {% if filters.group == 5 %}
                        label    : '{{item.name}} - {{item.accion|capitalize}}: {{item.formatDuration}}'
                    {% endif %}
                    {% if filters.group == 6 %}
                        label    : '{{item.creator}} - {{item.name}}: {{item.formatDuration}}'
                    {% endif %}
                    {% if filters.group == 7 %}
                        label    : '{{item.creator}} - {{item.name}} - {{item.accion|capitalize}}: {{item.formatDuration}}'
                    {% endif %}
                },
            {% endfor %}
        
        ]
      
        var pieOptions     = {
            //Boolean - Whether we should show a stroke on each segment
            segmentShowStroke    : true,
            //String - The colour of each segment stroke
            segmentStrokeColor   : '#fff',
            //Number - The width of each segment stroke
            segmentStrokeWidth   : 2,
            //Number - The percentage of the chart that we cut out of the middle
            percentageInnerCutout: 50, // This is 0 for Pie charts
            //Number - Amount of animation steps
            animationSteps       : 100,
            //String - Animation easing effect
            animationEasing      : 'easeOutBounce',
            //Boolean - Whether we animate the rotation of the Doughnut
            animateRotate        : true,
            //Boolean - Whether we animate scaling the Doughnut from the centre
            animateScale         : false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive           : true,
            // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            maintainAspectRatio  : true,
            tooltipTemplate: '<%= label %>',
            tooltipFontSize: 10
          }
          //Create pie or douhnut chart
          // You can switch between pie and douhnut using the method below.
          pieChart.Doughnut(PieData, pieOptions)

      {% endif %}

});

function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}
</script>
{% endblock %}
