<table id="inProcessParcial" class="table table-striped">
    <thead>
    <tr>
        <th>Nº</th>
        <th>Plantilla</th>
        <th>Usuario</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Acción</th>
        <th>Tiempo</th>
    </tr>
    </thead>
    {% if items is defined %}
        {% for item in items %}
            <tr>
                <td>{{item.id_reg}}</td>
                <td>{{item.name}}</td>
                <td>{{item.creator}}</td>
                <td>{{item.created is defined and item.created is not empty ? item.created|date("d/m/Y H:i:s") : '' }}</td>
                <td>{{item.modified is defined and item.modified is not empty  ? item.modified|date("d/m/Y H:i:s") : '' }}</td>
                <td>{{item.accion|capitalize}}</td>
                <td>{{item.formatDuration}}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
