{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Homepage'|trans}} {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/plugins/select2/dist/css/select2.min.css">
{% endblock %}
{% block main_title %} {{'Detalle de la solicitud'|trans}}{% endblock %}
{% block content %}


    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row form-horizontal">

                    <form class="form-horizontal" id="notification_creation_form" action="{{ path('nononsense_notifications_templates_notification_add')}}" method="GET">
                        <div class="form-group">
                            <label class="col-sm-2">Buscar Plantilla</label>
                            <div class="col-sm-4">
                                <select class="form-control select_template" style="width: 100%;">
                                    {% if item is defined %}
                                        <option value="{{item.id}}" selected="selected">{{item.name}}</option>
                                    {% endif %}
                                </select>
                            </div>
                            <input type="hidden" name="templateId" id="templateId" value="">
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Estado</label>
                            <div class="col-sm-3 item_filter">
                                <select class="form-control" style="width: 100%;" id="state" name="state">
                                    {% for i in range (0,finder.statuses | length - 1 ) %}
                                        <option value="{{finder.statuses[i].id}}">{{finder.statuses[i].name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="subjectId">Asunto</label>
                            <div class="col-sm-4 item_filter">
                                <input type="text" class="form-control" name="subject" id="subjectId" required ></input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="msg">Mensaje</label>
                            <div class="col-sm-4 item_filter">
                                <textarea name="msg" id="msg" style="width: 100%; height: 300px;"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2" for="msg">Destino</label>
                            <div class="form-group">
                                <div class="col-sm-4 masterbox_type_workflow">
                                    <select class="form-control" id="types" name="type" style="width: 100%;">
                                        <option value="1">Grupo</option>
                                        <option value="2" selected="selected">Usuario</option>
                                        <option value="3" selected="selected">Email específico:</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 masterbox_type_workflow" id="collection" style="display: none">
                                    <select class="form-control type_workflow" id="collectionId" name="collectionId" style="width: 100%;"></select>
                                </div>
                                <div class="form-group" id="emailData">
                                    <div class="input-group col-sm-3">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                        <input type="email" class="form-control" id="email" name="email" style="width: 100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group pull-right">
                                <div class="col-sm-1 item_filter">
                                    <button type="submit" class="btn btn-primary pull-right"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="/plugins/select2/es.js"></script>
    <script>
        $( document ).ready(function() {
            {% if item is defined %}
            $('input[name ="template"]').val("{{item.id}}");
            {% endif %}
            /* Buscamos la plantilla sobre la que queremos crear una nueva notificación */
            $(".select_template").select2({
                templateResult: format_template,
                minimumInputLength: 3,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                    url: function () {
                        return url_templates_json();
                    },
                    dataType: 'json',
                    quietMillis: 250,
                    data: function (params, page) {
                        return {
                            name: params.term, // search term
                        };

                    },
                    processResults: function (data, page) { // parse the results into the format expected by Select2.
                        console.log(data);
                        return {results: data.items};
                    },
                    cache: false
                },
                escapeMarkup: function(m) { return m; }
            });
            $('.select_template').on("select2:select", function(e) {
                console.log(e.params.data.templateId);
                $('input[name ="templateId"]').val(e.params.data.templateId);
            });
        });

        function format_template (option) {
            console.log("format_template");
            if (!option.id) { return option.text; }
            var ob = option.text;
            return ob;
        }
        function url_templates_json(){
            url="{{ path('nononsense_templates_active_json') }}?no_request_in_proccess=1";
            return url;
        }
        function showSelection(selectedOption) {
            const GROUPS = 1;   const URL_GROUPS =      "{{ path('nononsense_notifications_templates_creator_groups_json') }}";
            const USERS = 2;    const URL_USERS =       "{{ path('nononsense_notifications_templates_creator_users_json') }}";
            const EMAIL = 3;
            switch(selectedOption) {
                case GROUPS:
                    document.getElementById("collection").style.display="block";
                    document.getElementById("emailData").style.display="none";
                    document.getElementById("collectionId")
                    load_collection(URL_GROUPS);
                    break;
                case USERS:
                    document.getElementById("collection").style.display="block";
                    document.getElementById("emailData").style.display="none";
                    load_collection(URL_USERS);
                    break;
                case EMAIL:
                    document.getElementById("collection").style.display="none";
                    document.getElementById("emailData").style.display="block";
                    break;
            }
        }
        /* Buscamos el json de usuarios y grupos para el area seleccionado */
        function load_collection(url){
            $.ajax({
                type: 'GET',
                dataType: "json",
                url,
                success: function(data){
                    const collection = data.data;
                    if(collection) {
                        $("#collectionId").empty();
                        for (let i = 0; i < collection.length; i++) {
                            $("#collectionId").append(new Option(collection[i].name, collection[i].id));
                        }
                    }
                    else{
                        toastr.error("No ha sido posible cargar la información solicitada", 'Error');
                    }
                },
                error: function (request, status, error) {
                    console.log(request);
                    toastr.error("No ha sido posible cargar la información solicitada", 'Error');
                }
            });
        }
    </script>
    <script>
        $('#types').on("change", function(e) {
            showSelection(parseInt($( this ).val()));
        });
    </script>
    <script>
        // $('#collectionId').on("change", function(e) {
        //     document.getElementById("collectionDataValue").value = $( this ).val();
        // });
    </script>
    <script>
        $('#notification_creation_form').submit(function(e) {
            const templateId = $("#templateId").val();
            if (templateId === '' || templateId === null) {
                toastr.error("Debe indicar una plantilla o esta plantilla no tiene un id válido", 'aviso');
                e.preventDefault();
            }
            const subject = $("#subjectId").val();
            if (subject === '') {
                toastr.error("Debe indicar un asunto", 'aviso');
                e.preventDefault();
            }

            const EMAIL_VALUE = 3;
            const email = $("#email").val();
            const emailSeleccionado = parseInt($("#types").val()) === EMAIL_VALUE;
            if (emailSeleccionado && email === '') {
                toastr.error("Debe indicar una dirección de correo electrónico", 'aviso');
                e.preventDefault();
            }

            const msg = $("#msg").val();
            if (msg === '') {
                toastr.error("Debe escribir un mensaje", 'aviso');
                e.preventDefault();
            }
            {% if data is defined %}
            estadoActual = '{{ data.template.statusId }}';
            const estadoSeleccionado = $("#state").val();
            if (parseInt(estadoActual) === parseInt(estadoSeleccionado)) {
                toastr.error("El estado seleccionado es el mismo que el estado actual de la plantilla. Por favor, elija otro.", 'aviso');
                e.preventDefault();
            }
            {% endif %}
        });
    </script>
{% endblock %}
