{{ form_start(createGroup) }}
    {{ form_errors(createGroup) }}
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Metadata <small>Todos los campos son obligatorios</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content form-horizontal">
                        {% if form_errors(createGroup.name) %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ form_errors(createGroup.name) }}    
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                                    {{ form_widget(
                                        createGroup.name, 
                                        {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Insertar nombre de grupo'
                                                }
                                        }
                                    ) 
                                    }}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        {% if form_errors(createGroup.color) %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ form_errors(createGroup.color) }}    
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Color del grupo</label>
                            <div class="input-group m-b color">
                                <span class="input-group-addon"><i></i></span>
                                    {{ form_widget(
                                        createGroup.color, 
                                        {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Elige un color único para identificar al grupo'
                                                }
                                        }
                                    ) 
                                    }}
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Activo</label>
                            <div class="col-sm-10">
                                <div class="checkbox i-checks">
                                    <label>{{ form_widget(createGroup.isActive)}}</label>
                                </div>
                            </div>
                        </div>
                        <!-- This control is hidden -->
                        <div  class="hiddenField">              
                            {{ form_widget(createGroup.description, {'value': createGroup.description.vars.value|escape_tags}) }}
                        </div>
                        <div class="hr-line-dashed"></div>
                        {% if form_errors(createGroup.description) %}    
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ form_errors(createGroup.description) }}    
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>Descripción</h5>
                                    </div>
                                    <div class="ibox-content no-padding">
                                        <div class="summernote"><p>Inserte <strong>aquí</strong> la descripción del grupo.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>{{'Permisos'|trans}}</h5>
                                    </div>
                                    <div class="ibox-content no-padding">
                                        <div style="width: 100%;">
                                            <div style="text-align: right;"><input value="1" type="checkbox" id="mastercheck" onclick="javascript:mastercheck_select()"> marcar desmarcar</div>
                                            <div style="margin-top:-20px"><div>
                                            {% for seccion in secciones %}
                                                </div></div><br><br>
                                                <div class="panel panel-primary" style="border: 1px solid #1b9cd5; border-radius: 4px;">
                                                  <div class="panel-heading" style="background-color: #1b9cd5; border: 1px solid #1b9cd5; color: white; padding:10px 15px">
                                                    {{ seccion.name }}
                                                    <div style="float:right"><input value="1" type="checkbox" id='mastercheck_{{ seccion.id }}' class="supcheck checkAll" onclick="javascript:seccion_select({{ seccion.id }});"> marcar desmarcar</div>
                                                  </div>
                                                  <div class="panel-body">
                                                    {% for subseccion in seccion.subsecciones %}
                                                        <div style="float: left; padding-left: 15px;">
                                                            <label>
                                                                <input {% if subseccion.id in subseccionesSelected %} checked="checked" {% endif %} value="{{ subseccion.id }}" type="checkbox" class="checkpem checkAll checkAll_seccion_{{ seccion.id }}" name="permissions[]"> {{ subseccion.name }}
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                            {% endfor %}
                                            </div></div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div>
                    <label class="control-label">Justificación</label>
                    <textarea name="justification" rows="10" cols="120" required="required" style="width:100%"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div>
                    <label class="control-label">Introduzca su firma</label>
                    <input type="password" name="password" id="box_password" class="form-control" required="required"><br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
            {{ form_widget(createGroup.save, {'attr' : {'class': 'btn btn-primary'}}) }}
            </div>
        </div>

{{ form_end(createGroup) }}

    </div><br />


<script>
    function mastercheck_select(){
        var mastercheck_checked = $('#mastercheck').is(":checked");
        if(mastercheck_checked){
            $('.checkAll').prop('checked', true);
        }
        else{
            $('.checkAll').prop('checked', false);
        }
    }

    function seccion_select(seccion_id){
        var mastercheck_seccion_checked = $('#mastercheck_'+seccion_id).is(":checked");
        if(mastercheck_seccion_checked){
            $('.checkAll_seccion_'+seccion_id).prop('checked', true);
        }
        else{
            $('.checkAll_seccion_'+seccion_id).prop('checked', false);
        }
    }

</script>