{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Groups'|trans}} {% endblock %}

{% block main_title %} {{'Groups'|trans}} {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('nononsense_home_homepage')}}">{{'Home'|trans}}</a>
    </li>
    <li class="active">
        <strong>Grupos</strong>
    </li>
</ol>
{% endblock %}
{% block content %}
    
{% for flashMessage in app.session.flashbag.get('deletedGroup') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }} 
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('createdGroup') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
{% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <a href="{{ path('nononsense_group_create') }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nuevo grupo</a>
            </div><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">

                        <div class="search-form">
                            <form action="{{ path('nononsense_groups_homepage_slash')}}" method="get">
                                <div class="row">
                                    <label class="col-sm-1 control-label item_filter">Grupo</label>
                                    <div class="col-sm-2 item_filter">
                                        <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                                    </div>
                                    <label class="col-sm-1 control-label item_filter">Usuario</label>
                                    <div class="col-sm-2 item_filter">
                                        <input type="text" name="user" class="form-control" value="{{filters.user is defined ? filters.user : ''}}">
                                    </div>

                                    <label class="col-sm-1 control-label item_filter">Estado</label>
                                    <div class="col-sm-2 item_filter">
                                      <select class="form-control" style="width: 100%;" name="state">
                                        <option value=""></option>
                                        <option value="active" {{ filters.state is defined and filters.state=="active" ? 'selected="selected"' : ''}}>Activos</option>
                                        <option value="inactive" {{ filters.state is defined and filters.state=="inactive" ? 'selected="selected"' : ''}} >Inactivos</option>
                                      </select>
                                    </div>

                                    <div class="col-sm-2 item_filter">
                                        <button type="submit" class="btn btn-primary">Filtrar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% for item in groups %}
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3>{% if item.isActive == false %}<button class="btn btn-danger btn-xs " type="button" disabled><i class="fa fa-minus-circle"></i> Inactivo</button>{% endif %}
                                    <a href="{{path('nononsense_group_show', {'id': item.id}) }}"><button class="btn btn-default btn-xs " style="background-color: {{item.color}}; border-color: {{item.color}}" type="button"><i class="fa fa-users"></i></button> {{ item.name }}</a></h3>
                                <p>{{ item.created|localizeddate('medium', 'medium', app.request.locale)}}</p>
                                {{ item.description|escape_tags|striptags|truncate(200)|raw}}
                            </div>
                        {% endfor %}

                        <div class="hr-line-dashed"></div>
                        
                        {% if pagination is defined and pagination.needed %}
                            {% include '::pagination2.html.twig' %}
                        {% endif %}
                        <a href="{{pagination.url}}{{pagination.character}}export_excel=1" target="_blank" class="btn btn-primary pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a> 
                        <a href="{{pagination.url}}{{pagination.character}}export_pdf=1" target="_blank" class="btn btn-primary pull-right" style="margin-right:1px"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a> 
                        {% if count==0 %}
                            <br><b>No se han encontrado grupos para esta búsqueda</b>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
{% endblock %}



