{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Groups'|trans}} {% endblock %}

{% block main_title %} {{'Groups'|trans}} {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('nononsense_home_homepage')}}">{{'Home'|trans}}</a>
    </li>
    <li class="active">
        <strong>{{'Groups'|trans}}</strong>
    </li>
</ol>
{% endblock %}
{% block content %}
    
{% for flashMessage in app.session.flashbag.get('deletedGroup') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }} 
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('createdGroup') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
{% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div>
                <a href="{{ path('nononsense_group_create') }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nuevo grupo</a>
            </div><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        {% if query == 'q' %}
                        <p>
                            {{'Introduce a query term if you wish to filter your results'|trans}}:
                        </p>
                        {% else %}
                        <p>
                            {{paging.results}} 
                            {% if paging.results == 1 %}
                                {{'result'|trans}}
                            {% else %}
                                {{'results'|trans}}
                                {% endif %}
                            {{'found for'|trans}}: <span class="text-navy">“{{query}}”</span>
                        </p>
                        {% endif %}

                        <div class="search-form">
                            <form action="index.html" method="get">
                                <div class="input-group">
                                    <input type="text" id="search" class="form-control"><span class="input-group-btn"> <button type="button" id="searchButton" class="btn btn-primary">{{'Search'|trans}}</button> </span>
                                </div>

                            </form>
                        </div>
                        {% for item in groups %}
                            <div class="hr-line-dashed"></div>
                            <div class="search-result">
                                <h3>{% if item.isActive == false %}<button class="btn btn-warning btn-xs " type="button"><i class="fa fa-lock"></i></button>{% endif %}
                                    <a href="{{path('nononsense_group_show', {'id': item.id}) }}"><button class="btn btn-default btn-xs " style="background-color: {{item.color}}; border-color: {{item.color}}" type="button"><i class="fa fa-users"></i></button> {{ item.name }}</a></h3>
                                <p>{{ item.created|localizeddate('medium', 'medium', app.request.locale)}}</p>
                                {{ item.description|escape_tags|striptags|truncate(200)|raw}}
                            </div>
                        {% endfor %}

                        <div class="hr-line-dashed"></div>
                        
                        {% include '::pagination.html.twig' %}
                        
                    </div>
                </div>
            </div>
        </div>
</div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            
            ActivateMenu('browse_groups');
            $('#side-menu').metisMenu();
            $( "#searchButton" ).click(function( ) {
                if ($("#search").val() == ''){
                    path = "{{ path(paging.path)}}";
                    window.location.href = path;
                }else if ($("#search").val().length < 3) {
                    toastr.error('{{'The search term needs to include at least three characters.'|trans}}','{{'Warning'|trans}}');
                }else {
                    path = "{{ path(paging.path)}}" + "/1/" + $("#search").val();
                    window.location.href = path;
                }
              });
            
            $( "#search" ).keypress(function( event ) {
                if ( event.which == 13 ) {
                    event.preventDefault();
                    $( "#searchButton" ).click();
                }
            });
            
       });
    </script>
{% endblock %}



