{% extends '::base.html.twig' %}

{% block page_title %}Docoaro - GSK | {{'Group'|trans}} | {{ group.name }} {% endblock %}
{% block head %}
    <link href="/css/plugins/chosen/chosen.css" rel="stylesheet">
    {{ parent() }}
{% endblock %}
{% block main_title %} {{ group.name }} {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('nononsense_home_homepage')}}">{{'Home'|trans}}</a>
    </li>
    <li>
        <a href="{{ path('nononsense_groups_homepage')}}">{{'Groups'|trans}}</a>
    </li>
    <li class="active">
        <strong>{{ group.name }}</strong>
    </li>
</ol>
{% endblock %}
{% block content %}
{% for flashMessage in app.session.flashbag.get('errorDeletingUser') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }} 
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('deletedUser') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('errorAddingUsers') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }} 
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('addedUsers') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
{% endfor %}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Metadata</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <h3 style="font-weight: normal">

                        <button class="btn btn-default " style="background-color: {{group.color}}; border-color: {{group.color}}; margin-right: 10px" type="button"><i class="fa fa-users"></i></button> 
                        {{ group.name }}</h3>{% if group.isActive == false %}<button class="btn btn-danger btn-xs " type="button" disabled><i class="fa fa-minus-circle"></i> Inactivo</button>{% endif %}
                    <address style="line-height: 18px">
                        <i class="fa fa-calendar"> </i> <strong>{{'Created'|trans}}:</strong> {{ group.created|localizeddate('medium', 'medium', app.request.locale)}}<br />
                    </address>
                    <h4>{{'Description'|trans}}</h4>
                    {{group.description|escape_tags|raw}}
                    
                    <div class="row">
                        {% if editable %}
                        <div class="col-xs-6">
                            <a href="{{ path('nononsense_group_edit', {"id" : group.id})}}" class="btn btn-primary btn-xs btn-block"><i class="fa fa-edit"></i> {{'Edit'|trans}}</a>
                        </div>
                        {% endif %}
                        {% if clonable %}
                        <div class="col-xs-6">
                            <a href="{{ path('nononsense_group_clone', {"id" : group.id})}}" class="btn btn-success btn-xs btn-block"><i class="fa fa-copy"></i> {{'Clone'|trans}}</a>
                        </div>
                        {% endif %}
                    </div>
                    
                </div>

            </div>
        </div>
                <div class="col-md-7">
                    
                    <div class="ibox" id="addusers" style="display: none">
                        <div class="ibox-title">
                            <h5>Add users </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a id="restart">
                                <i class="fa fa-times"></i>
                            </a>
                            </div>
                        </div>
                        <div class="ibox-content" id="loadusers"> 
                            <div class="text-center" style="font-size: 22px">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <br />
                        </div>
                    </div>
                    
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>{{'Administrators'|trans}}
                                {% if editable %}
                                   &nbsp; <span  class="btn btn-primary btn-xs " id="addAdmin"><i class="fa fa-user"> </i> &nbsp;{{'Add administrators'|trans}}</span>
                                {% endif %}
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" id="adminlist"> 
                            <div class="text-center" style="font-size: 22px">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>    
                        </div>
                    </div>
                    
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>{{'Members'|trans}}
                                {% if editable %}
                                    &nbsp; <span  class="btn btn-primary btn-xs " id="addMember"><i class="fa fa-user"> </i> &nbsp;{{'Add members'|trans}}</span>
                                {% endif %}
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" id="memberlist">
                            <div class="text-center" style="font-size: 22px">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
                            
        <div class="modal inmodal fade" id="removeModal" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close'|trans}}</span></button>
                        <h4 class="modal-title">{{'Remove'|trans}}</h4>
                    </div>
                    <div class="modal-body" id="modal-data">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">{{'Close'|trans}}</button>
                        <button type="button" class="btn btn-primary" id="deleteUser">{{'Remove'|trans}}</button>
                    </div>
                </div>
            </div>
        </div>

    {% if signatures is defined and signatures is not empty %}
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Usuario</th>
                    <th>Acción</th>
                    <th>Justificación</th>
                </tr>
                </thead>
                <tbody>
                    {% for signature in signatures %}
                        <tr>
                            <td>{% if signature.modified is defined and signature.modified is not null %}{{signature.modified|date("d/m/Y H:i:s")|gskdate}}{% endif %}</td>
                            <td>{{signature.user.name}}</td>
                            <td>{{signature.description}}</td>
                            <td>{{signature.justification}}</td>
                        </tr>
                        <tr><td colspan="4" class="changes_groups">{{signature.changes|raw}}</td></tr>
                    {% endfor %}
            </tbody>
        </div>
    {% endif %}

{% endblock %}
{% block scripts %}
    {{ parent() }}

    <!-- Chosen -->
    <script src="/js/plugins/chosen/chosen.jquery.js"></script>
    
    <script>
        window.members = {};
        function deleteUser(data, type) {
            content = '<div class="text-center"><img alt="image" class="img-circle" style="width: 112px; height: 112px" src="' + data.image + '"><h3>' + data.name + '</h3></div>';
            $('#deleteUser').click(function(){window.location.href="{{ path('nononsense_group_remove_user')}}" + '/{{group.id}}/' + type + '/' + data.user});
            $('#modal-data').html(content);
            $('#removeModal').modal('toggle');
        }
        
        function insertUser (id, type) {            
            $('#instructions').hide();
            $('#userlist').append('<li id="user_' + id + '"><i class="fa fa-spinner fa-spin"> </i></li>');
            $('#user_' + id ).load('{{ url('nononsense_group_addone')}}?id=' + id);
        }
        
        function removeNewUser (id) {
            delete members['id_' + id]
            $('#newUser_' + id).parent().remove();
        }
        
        function addListOfUsers (type) {
            users = JSON.stringify(window.members);
            if (users != '{}') {
                window.location.href = '{{ url('nononsense_group_addbulk')}}?users=' + users + '&id={{group.id}}&type=' + type;
            } else {
                toastr.error('{{'There are no users selected.'|trans}}','{{'Warning'|trans}}');
            }
        }
        
        $(document).ready(function(){
            
            ActivateMenu('browse_groups');
            $('#side-menu').metisMenu();
            
            $('#adminlist').load('{{ path('nononsense_group_users', {"id" : group.id, "type": "admin" })}}', function(){
                $('.remove_admin').click(function(){deleteUser($(this).data(), 'admin')});
            });
            
            $('#memberlist').load('{{ path('nononsense_group_users', {"id" : group.id, "type": "member" })}}', function(){
                $('.remove_member').click(function(){deleteUser($(this).data(), 'member')});
            });
            
            /*add users*/
            
            $('#addAdmin').click(function() {newUsers('admin')});
            $('#addMember').click(function() {newUsers('member')});
            $('#restart').click(function() {
                $('#addMember').show();
                $('#addAdmin').show();
                $('#addusers').hide();
                $('#userlist').html('<div class="text-center" style="font-size: 22px"><i class="fa fa-spinner fa-spin"></i></div>');
                window.members = {};
            });
            
            
            function newUsers (type) {
                
                $('#addusers').show();
                $('#addMember').hide();
                $('#addAdmin').hide();
                if (type == 'admin') {
                    h5 = '{{'Add administrators'|trans}}';
                    $('#loadusers').load('{{ url('nononsense_group_addusers', {"id" : group.id, "type": "admin"})}}');
                } else {
                    h5 = '{{'Add members'|trans}}';
                    $('#loadusers').load('{{ url('nononsense_group_addusers', {"id" : group.id, "type": "member"})}}');
                }
                $('#addusers h5').html(h5);
                
            }
            
            
       });
    </script>
{% endblock %}


