<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Docoaro - GSK</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name"><img src="/img/logo_portada.png" /></h1>

            </div>
            <h3>{{'Password recovery'|trans}}</h3>
            <p>{{'Introduce the email address used in your registration procedure and you will receive an email with the required instructions.'|trans}}</p>
            {% if error == 1 %}
                <div class="alert alert-danger alert-dismissable" style="text-align: center;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    &emsp;&emsp;{{'Bad credentials.'|trans}}
                </div>
            {% elseif error == 2 %}
                <div class="alert alert-success alert-dismissable" style="text-align: center;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    &emsp;&emsp;{{'An email has been sent. Please, check your inbox.'|trans}}
                </div>
            {% elseif error == 3 %}
                <div class="alert alert-danger alert-dismissable" style="text-align: center;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    &emsp;&emsp;{{'Because of security reasons ADMINISTRATORS can not change their password trhough this interface.'|trans}}
                </div>
            {% endif %}
            {{ form_start(form) }}
            {% if form_errors(form.email) %}
                <div class="alert alert-danger alert-dismissable" style="text-align: center;">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    &emsp;&emsp;{{ form_errors(form.email) }}
                </div>
            {% endif %}
                <div class="form-group">
                    {{ form_widget(form.email, {'attr': {'style': 'width: 250px', 'class': 'margint10', 'placeholder': 'Enter a valid email address'|trans}}) }}
                </div>
                <button type="submit" name="_submit" class="btn btn-primary block full-width m-b">{{'Generate New Password'|trans}}*</button>
                <p class="text-muted text-center"><small style="color: #b70000">*{{'In case you do not receive the email message, please, check your mail <strong>spam</strong> folder.'|trans|raw}}</small></p>
            {{ form_end(form) }}
            <p class="m-t"> <small>No-nonsense Labs &copy; 2015</small> </p>
        </div>
    </div>

    <!-- scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
