{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Categorías de retención'|trans}} {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/js/plugins/sweetalert/sweetalert.min.css') }}">
{% endblock %}
{% block main_title %} Listado de plantillas de categoría de retención {% endblock %}
{% block content %}
    {% set _isOnlyDestroyedFiltered = filters.destruction_option is defined and filters.destruction_option is same as ('only_destroyed') %}
    {% set _isOnlyExpiredFiltered = filters.destruction_option is defined and filters.destruction_option is same as ('only_expired') %}
    {% set _isAnnualReviewFiltered = filters.destruction_option is defined and filters.destruction_option is same as ('annual_revision') %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div>
                    <div>
                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ flashMessage }}
                            </div>
                            <br>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('message') %}
                            <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ flashMessage }}
                            </div>
                            <br>
                        {% endfor %}
                    </div>
{#                    Filtros de búsqueda#}
                    <form id="form_item" action="{{ path('nononsense_retention_categories_template_list') }}" method="GET">
                        <div class="row">
                            <div class="col-md-2 col-sm-5 form-group">
                                <label class="control-label">Área</label>
                                <div>
                                    <select class="form-control select_template" name="f_area">
                                        <option value=""></option>
                                        {% for area in areas %}
                                            <option value="{{area.id}}">{{area.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-5 form-group">
                                <label class="control-label">Categorías de Retención</label>
                                <div>
                                    <select class="form-control select_template" name="f_retention_category">
                                        <option value=""></option>
                                        {% for retention_category in retention_categories %}
                                            <option value="{{retention_category.id}}">{{retention_category.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-5 form-group">
                                <label class="control-label">Fecha de Destrucción</label>
                                <div class="input-group input-daterange">
                                    <input type="text" name="f_destruction_date_start" id="destruction_date_start" class="form-control" value="{{ filters.destruction_date_start is defined ? filters.destruction_date_start : ''}}">
                                    <div class="input-group-addon">hasta</div>
                                    <input type="text" name="f_destruction_date_end"  id="destruction_date_end" class="form-control" value="{{filters.destruction_date_end is defined ? filters.destruction_date_end : ''}}">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-5 form-group">
                                <label class="control-label">Título</label>
                                <div>
                                    <input type="text" name="f_template_title" class="form-control" value="{{filters.template_title is defined ? filters.template_title : ''}}">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-5 form-group">
                                <label class="control-label">Código</label>
                                <div>
                                    <input type="text" name="f_code" class="form-control" value="{{filters.code is defined ? filters.code : ''}}">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-5 form-group">
                                <label class="control-label">Estado</label>
                                <div>
                                    <select class="form-control select_template" name="f_state">
                                        <option value=""></option>
                                        {% for state in states %}
                                            <option value="{{state.id}}" {{ filters.state is defined and filters.state is not null and filters.state==state.id ? 'selected="selected"' : ''}}>{{state.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-5 form-group">
                                <label class="control-label">Representante de Retención</label>
                                <div>
                                    <select class="form-control select_template" name="f_retention_representative">
                                        <option value=""></option>
                                        {% for retention_representative in retention_representatives %}
                                            <option value="{{retention_representative.id }}" {{ filters.retention_representative is defined and filters.retention_representative is not null and filters.f_retention_representative==state.id ? 'selected="selected"' : ''}}>{{retention_representative.username}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 form-group">
                                <label class="control-label">Fecha Inicio Periodo de Destrucción</label>
                                <div class="input-group input-daterange">
                                    <input type="text" name="f_destruction_start_period" class="form-control" value="{{ filters.destruction_start_period is defined ? filters.destruction_start_period : '' }}">
                                    <div class="input-group-addon">hasta</div>
                                    <input type="text" name="f_destruction_end_period" class="form-control" value="{{   filters.destruction_end_period is defined ? filters.destruction_end_period : '' }}">
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-5 form-group">
                                <label class="control-label">Ver destruidos</label>
                                <div>
                                    <input type="radio" name="f_destruction_option" class="i-checks" value="only_destroyed" {{ _isOnlyDestroyedFiltered ? "checked" : "" }}>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-5 form-group">
                                <label class="control-label">Solo vencidos</label>
                                <div>
                                    <input type="radio" name="f_destruction_option" class="i-checks" value="only_expired" {{ _isOnlyExpiredFiltered ? "checked" : "" }}>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-5 form-group">
                                <label class="control-label">Revisión anual</label>
                                <div>
                                    <input type="radio" name="f_destruction_option"  class="i-checks" value="annual_revision" {{ _isAnnualReviewFiltered ? "checked" : "" }}>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-4 form-group">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </div>
                            <div class="col-md-1 col-sm-4 form-group">
                                <a href="{{ path('nononsense_retention_categories_template_list') }}" class="btn btn-primary">
                                    <i class="fa fa-trash"></i>
                                    Resetear
                                </a>
                            </div>

                        </div>

                    </form>
{#                    /Filtros de búsqueda#}
                    {% set _hasData = hasData is defined and hasData%}
                    {% if _hasData %}
                        <div>
{#                          Botones de destrucción, revisión y firma (revisión anual)#}
                            {% if _isAnnualReviewFiltered %}
                                <div class="row pull-right">
                                    <div class="col-md-12 col-sm-5 form-group">
                                        <button type="button" class="btn btn-danger ml-3" id="destroySelected" disabled>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            <span>Destruir seleccionados</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ml-3" id="revisarSeleccionados" disabled>
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>Revisar seleccionados</span>
                                        </button>
                                        <button type="button" class="btn btn-success ml-3" id="finalizarRevisionAnual">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span>Finalizar revisión anual</span>
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
{#                          /Botones de destrucción, revisión y firma (revisión anual)#}

{#                          Listado#}
                            <div class="row col-12">
                                <table class="table table-striped ml-auto mr-auto" id="tabla" style="width:90%;margin-left:15px;">
                                    <thead>
                                    <tr>
                                        {% if _isAnnualReviewFiltered %}
                                            <th><input type="checkbox" id="toggleAll"/></th>
                                        {% endif %}
                                        <th>Fecha de Destrucción</th>
                                        <th>Título</th>
                                        <th>Categoría de Retención más restrictiva</th>
                                        <th>Código</th>
                                        <th>Edición</th>
                                        <th>Área</th>
                                        <th>Estado</th>
                                        <th>Representante de Retención</th>
                                        <th>Fecha inicio período de retención</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>
                                    {% for item in data.items %}
                                        <tr id="{{ item.id }}">
                                            {% if _isAnnualReviewFiltered %}
                                                <td>
                                                    <input type="checkbox"/>
                                                </td>
                                            {% endif %}
                                            <td>
                                                {% set _hasDestroyDate = item.destroyDate is not null and item.destroyDate is not empty %}

                                                {% if _hasDestroyDate %}
                                                    {{ item.destroyDate | date("d/m/Y") | gskdate }}
                                                {% endif %}
                                            </td>
                                            <td>
                                                <a href="{{ path('nononsense_retention_categories_template_detail', {'id': item.id }) }}">
                                                    {{ item.title }}
                                                </a>
                                            </td>
                                            <td> {{ item.mostRestrictiveCategoryName }}  </td>
                                            <td> {{ item.code }} </td>
                                            <td> {{ item.edition }}  </td>
                                            <td> {{ item.area }} </td>
                                            <td> {{ item.state }}    </td>
                                            <td> Repr. de retención </td>
                                            <td> {{ item.startDateRetention | date("d/m/Y") | gskdate }} </td>
                                            <td>
                                                <div class="btn-group btn-xs">
                                                    <button type="button" class="btn btn-xs btn-primary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                                    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                        <span class="caret"></span>
                                                        <span class="sr-only">Opciones del menú</span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{{path('nononsense_tm_template_audit_trail', {'id': item.id})}}"><i class="fa fa-book"></i> {{ 'Audit Trail'|trans }}</a></li>
                                                        <li><a href="{{path('nononsense_tm_template_cover_page', {'id': item.id})}}"><i class="fa fa-print"></i> {{ 'Imprimir plantilla' |trans }}</a></li>
                                                        {% if item.toggleDestructionButton %}
                                                            <li><a href="{{path('nononsense_tm_template_cover_page', {'id': item.id})}}"><i class="fa fa-trash"></i> {{ 'Destruir' |trans }}</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
{#                          /Listado#}
{#                          Botones de destrucción, revisión y firma (revisión anual)#}
                                {% if _isAnnualReviewFiltered %}
                                    <div class="row pull-right">
                                        <div class="col-md-12 col-sm-5 form-group">
                                            <button type="button" class="btn btn-danger ml-3" id="destroySelected" disabled>
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                <span>Destruir seleccionados</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-3" id="revisarSeleccionados" disabled>
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>Revisar seleccionados</span>
                                            </button>
                                            <button type="button" class="btn btn-success ml-3" id="finalizarRevisionAnual">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                <span>Finalizar revisión anual</span>
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
{#                          /Botones de destrucción, revisión y firma (revisión anual)#}
{#                          Paginación#}
                            {% set _hasPagination = pagination is defined and pagination.needed %}
                            {% if _hasPagination %}
                                {% include '::pagination2.html.twig' %}
                            {% endif %}
{#                          /Paginación#}
                        </div>
                    {% else %}
                        <div>
                            Debe filtrar por al menos un criterio
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalSignReview">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Firmar solicitud para finalizar la revisión anual</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="formSignAnnualReview" action="{{ path('nononsense_retention_categories_template_annual_review') }}">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <b>Comentarios</b><br>
                                <div class="form-group mt-3">
                                    <textarea class="form-control" name="description" rows="10" cols="40" style="width:100%" required="required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1">
                                <div id="signature-pad" class="input-group">
                                    <label id="formAnnualReviewPassword">Introduzca su firma</label><br>
                                    <input type="password" name="password" class="form-control" required="required"><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" id="formAnnualReview" value="Firmar revisión">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

    {{ parent() }}

    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script>
      $(function () {
        ActivateMenu('retention_admin');
        $('#side-menu').metisMenu();
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script>
        const selectedRows = new Set();
        $('#tabla').on('click', 'tr', function() {
            const selectedRowId = $(this).attr('id');
            if (selectedRowId !== undefined) {
                ($(this).find(':checkbox').prop('checked'))
                    ? selectedRows.add(parseInt(selectedRowId))
                    : selectedRows.delete(parseInt(selectedRowId))
                ;
            }

            toggleDestroyAndReviewButtons(!(selectedRows.size > 0));

            if (selectedRows.size === 0) {
                $("#toggleAll").prop("checked", false);
            }
        });

        $("#toggleAll").on("click", function() {
            const isChecked = $(this).is(':checked');
            if (!isChecked) {
                selectedRows.clear();
            } else {
                selectAllIds()
            }
            $("#tabla tr :checkbox").prop('checked', isChecked);
        });

        function selectAllIds() {
            {% set _hasData = data is defined and data.items is defined and data.items | length > 0 %}
            {% if _hasData %}
                {% for i in range(0, data.items | length - 1 ) %}
                    selectedRows.add({{ data.items[i].id }});
                {% endfor %}
            {% endif %}
        }
    </script>
    <script>
        $(function() {
            $("#destroySelected, #destroySelected2").on("click", function() {
                if (selectedRows.size > 0) {
                    const selectedRowsCSV =[...selectedRows].join(",");
                    $.ajax({
                        url: "{{ path('nononsense_retention_categories_template_destroy') }}",
                        type: 'POST',
                        dataType: 'json',
                        async: false,
                        data: {ids: selectedRowsCSV},
                        success: function(response) {
                            let title; let icon;
                            if (response.result) {
                                title = "Éxito";
                                icon = "success";
                            } else {
                                title = "Error";
                                icon = "error";
                            }
                            swal({
                                title,
                                text: response.message,
                                icon,
                                confirmButtonColor: '#62bbe2',
                                confirmButtonText: "Ok",
                                closeOnConfirm: true
                            });
                        },
                        error: function() {
                            swal({
                                title: "Error",
                                text: "Algunas plantillas no se marcaron para su destrucción",
                                icon: 'error',
                                confirmButtonColor: '#62bbe2',
                                confirmButtonText: "Ok",
                                closeOnConfirm: true
                            });
                        }
                    });
                }
            });
        });
    </script>
    <script>
        $("#finalizarRevisionAnual, #finalizarRevisionAnual2").on("click", function(){
            $('#modalSignReview').modal('show');
        });
    </script>
    <script>
        function toggleDestroyAndReviewButtons(visible) {
            $("#destroySelected, #destroySelected2").prop("disabled", visible);
            $("#revisarSeleccionados, #revisarSeleccionados2").prop("disabled", visible);
        }
    </script>
{% endblock %}
                        