{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Categorías de retención'|trans}} {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block main_title %} Listado de categorías de retención{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
            <form id="form_item" action="{{ path('nononsense_retention_categories_list') }}" method="GET">
                <div class="row">
                    <div class="col-md-2 col-sm-5 form-group">
                        <label class="control-label">Nombre</label>
                        <div>
                            <input type="text" name="f_name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 form-group">
                        <label class="control-label">Descripción</label>
                        <div>
                            <input type="text" name="f_description" class="form-control" value="{{filters.description is defined ? filters.description : ''}}">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 form-group">
                        <label class="control-label">Tipo</label>
                        <div>
                            <select class="form-control" name="f_type" id="f_type">
                                <option value=""></option>
                                {% for type in types %}
                                    <option value="{{type.id}}" {{ filters.type is defined and filters.type is not null and filters.type==type.id ? 'selected="selected"' : ''}}>{{type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 form-group">
                        <label class="control-label">Estado</label>
                        <div>
                            <select class="form-control" name="f_state" id="f_state">
                                <option value=""></option>
                                {% for state in states %}
                                    <option value="{{state.id}}" {{ filters.state is defined and filters.state is not null and filters.state==state.id ? 'selected="selected"' : ''}}>{{state.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-5 form-group">
                        <label class="control-label">Activo</label>
                        <div>
                            <select class="form-control" name="f_active">
                                <option value=""></option>
                                <option value="0" {{ filters.active is defined and filters.active is not null and filters.active==0 ? 'selected="selected"' : ''}}>No</option>
                                <option value="1" {{ filters.active is defined and filters.active is not null and filters.active==1 ? 'selected="selected"' : ''}}>Si</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-5 form-group">
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ path('nononsense_retention_categories_edit', {'id' : 0}) }}" class="btn btn-primary pull-right">
                <i class="fa fa-plus"></i>
                <span> Nueva categoría</span>
            </a>
            <br/>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id.</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Estado</th>
                    <th>Tiempo</th>
                    <th>Confirma</th>
                    <th>Activo</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                {% if items is defined %}
                    {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td>{{ item.type.name }}</td>
                        <td>{{ item.documentState.name }}</td>
                        <td>
                            <span>{{ item.retentionDaysFormatted['years'] }}a </span>
                            <span>{{ item.retentionDaysFormatted['months'] }}m </span>
                            <span>{{ item.retentionDaysFormatted['days'] }}d </span>
                        </td>
                        <td>
                            {% if item.destroyUser is defined and item.destroyUser is not null %}
                                {{ item.destroyUser.name }}
                            {% else %}
                                {% if item.destroyGroup is defined and item.destroyGroup is not null %}
                                    {{ item.destroyGroup.name }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>{{ item.active ? 'Activo' : 'Inactivo' }}</td>
                        <td>
                            {% if item.active %}
                                <a href="{{ path('nononsense_retention_categories_edit', {'id' : item.id}) }}" class="btn btn-xs">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                    <span> Editar</span>
                                </a>
                            {% else %}
                                <a href="{{ path('nononsense_retention_categories_setActive', {'id' : item.id}) }}" class="btn btn-xs">
                                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                                    <span>Activar</span>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </table>
            {% if count==0 %}
                <br><b>No se han encontrado datos disponibles</b>
            {% endif %}
            {% if pagination is defined and pagination.needed %}
                {% include '::pagination2.html.twig' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>
  $(function () {
    ActivateMenu('retention_admin');
    $('#side-menu').metisMenu();
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
    <script>
        $("#f_type").on("change", function() {
            let estadosPorTipoCategorias = [];
            {% if states is defined and types is defined %}
                const GESTION_PLANTILLAS = 1; const CUMPLIMENTACION = 2;
                const type = parseInt($(this).val());
                if (GESTION_PLANTILLAS === type) {
                    {% for i in range(0, states|length-1) %}
                        {% if states[i].type == 1 %}
                            estadosPorTipoCategorias.push({{ states[i].id }});
                        {% endif %}
                    {% endfor %}
                }

                if (CUMPLIMENTACION === type) {
                    {% if states is defined and states | length > 0 %}
                        {% for i in range(0, states|length-1) %}
                            {% if states[i].type == 2 %}
                                estadosPorTipoCategorias.push({{ states[i].id }});
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                }

                const state = document.getElementById("f_state");
                let options = "";
                for (let i = 0; i < estadosPorTipoCategorias.length; i++) {
                    {% for state in states %}
                    if (estadosPorTipoCategorias[i] === {{state.id}}) {
                        options += '<option value="{{state.id}}"' +
                            '{{ category.documentState.id is defined and category.documentState.id is not null and category.documentState.id==state.id ? 'selected="selected"' : ''}}' +
                            '>{{state.name}}</option>';
                    }
                    {% endfor %}
                }
                state.innerHTML = options;
            {% endif %}
        });
    </script>
{% endblock %}
                        