<div class="row">
	<a href="{{path('nononsense_tm_template_detail', {'id': template.id})}}" class="btn btn-primary pull-right"><i class="fa fa-info-circle"></i> {{ ' Detalle solicitud'|trans }}</a>
	<a href="{{path('nononsense_tm_template_changes_history', {'id': template.id})}}" class="btn btn-primary pull-right" style="margin-right:4px"><i class="fa fa-file-text-o"></i> {{ ' Historial de cambios'|trans }}</a>
	<a href="{{path('nononsense_tm_template_audit_trail', {'id': template.id})}}" class="btn btn-primary pull-right" style="margin-right:4px"><i class="fa fa-book"></i> {{ 'Audit Trail'|trans }}</a>
	<a href="{{path('nononsense_tm_template_cover_page', {'id': template.id})}}" class="btn btn-primary pull-right" style="margin-right:4px"><i class="fa fa-print"></i> {{ 'Imprimir plantilla'|trans }}</a>
</div>