{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/nononsensehome/css/adminlte.css') }}">
{% endblock %}
{% block main_title %} {{'Cancelación de plantilla'|trans}}{% endblock %}
{% block content %}


<div class="wrapper wrapper-content">
    <h3>{{template.name}} {{template.number}}</h3>

    <div class="row">
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ flashMessage }}
            </div><br>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                {{ flashMessage }}
            </div><br>
        {% endfor %}

        {% if template.openedBy is defined and template.openedBy is not empty and template.openedBy.id!=app.user.id %}
            <div class="col-lg-4">
                <div class="callout callout-warning">
                    <h4>¡Atención!</h4>
                    <p>La plantilla esta abierta por {{template.openedBy.name}}</p>
                </div>
            </div>
        {% endif %}

        <div class="col-lg-6">
            <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Elaboradores</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    {% for wfitem in elabs %}
                        {% if not wfitem.signed %}<div class="box box-danger">{% else %}<div class="box box-success">{% endif %}
                            <div class="box-header">
                                <h3 class="box-title">{{wfitem.userEntiy is defined and wfitem.userEntiy is not null ? ('<i class="fa fa-user"></i> '~wfitem.userEntiy.name)|escape_tags|raw : ('<i class="fa fa-users"></i> '~wfitem.groupEntiy.name)|escape_tags|raw}}</h3>

                                {% if not wfitem.signed %}<small class="label pull-right bg-red">Pendiente</small>{% else %}<small class="label pull-right bg-green">Elaborado</small>{% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- /.box-body -->
            </div>   
        </div>

        <div class="col-lg-6">
            <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Elaboración actual</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <a href="{{downloadUrl}}" class="btn btn-primary pull-right" style="margin-left:4px"><i class="fa fa-download"></i> Descargar plantilla actual</a>
                        <a href="{{configurationUrl}}" class="btn btn-primary pull-right" target="_blank"><i class="fa fa-magic"></i> Ver configuración actual</a>
                    </div>   
                </div>
                <!-- /.box-body -->
            </div>  

            <div class="box box-default">
                <div class="box-header with-border">
                  <h3 class="box-title">Firmar cancelación</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_tm_elaborate_update_cancel', {'id': template.id}) }}" method="POST"  enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 mb-3">
                                    <div class="input-group">
                                        <label for="box_password">Introduzca su firma</label><br>
                                        <input type="password" name="password" id="box_password" class="form-control" required="required"><br>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-10 col-lg-offset-1 mb-3">
                                    <button type="submit" class="btn btn-danger" data-action="17">Rechazar</button>
                                    <button type="submit" class="btn btn-primary" data-action="16"><i class="fa fa-floppy-o" aria-hidden="true"></i> Aceptar</button>
                                </div>
                            </div>
                            <br><br>
                        </div>
                        <input type="hidden" name="action" value="16">
                    </form>
                </div>
                {% if template.openedBy is defined and template.openedBy is not empty and template.openedBy.id!=app.user.id %}
                    <div class="overlay">
                      <i class="fa fa-cog fa-spin"></i>
                    </div>
                {% endif %}
                <!-- /.box-body -->
            </div>  
        </div>
        <div class="col-lg-12">
            {% include 'NononsenseHomeBundle:TemplateManagement:list_tests.html.twig' %}
        </div>
    </div>
</div>

{% if template is defined %}
    {% include 'NononsenseHomeBundle:TemplateManagement:action_template.html.twig' %}<br><br><br>
{% endif %}



{% endblock %}
{% block scripts %}
{{ parent() }}
<script>

$( document ).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();

    $('#form_item').on('submit', function(e){
        if (!$("#box_password").val()){
            toastr.error("La firma es obligatoria",'aviso');
            return false;
        }

        if (!gpassword_valid($("#box_password").val())){
            toastr.error("La firma no es correcta",'aviso');
            return false;
        }

        $("[name='action']").val($(document.activeElement).data("action"));
        return true;  

    });

});

function sign_cancel(){
    $('#modalSignCancel').modal('show');
}
</script>
{% endblock %}
