{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Documentos {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Solicitud gestión de plantilla {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_documents_update',{'id': item.id is defined ? item.id : 0}) }}" method="POST"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="checkbox">
                                    <label>
                                        <input name="request_type" value="1" type="radio" checked="checked"> Nueva plantilla
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="request_type" value="2" type="radio"> Nueva edición
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="box_existent_template" style="display:none">
                            <label class="col-sm-2 control-label">Buscar Plantilla</label>
                            <div class="col-sm-4">
                                <input type="text" name="search_template" class="form-control" value="" required="required">
                            </div>
                        </div>

                        <div id="box_new_template">
                            {% if areas is defined %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Area</label>
                                    <div class="col-sm-4">
                                      <select class="form-control" name="area" style="width: 100%;" required="required">
                                        <option value=""></option>
                                        {% for area in areas %}
                                          <option value="{{area.id}}">{{area.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div> 
                            {% endif %}

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre Plantilla</label>
                                <div class="col-sm-4">
                                    <input type="text" name="name" class="form-control" value="" required="required">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Desc. solicitud</label>
                            <div class="col-sm-4">
                                <textarea name="description" rows="10" cols="40" required="required" style="width:100%"></textarea>
                            </div>
                        </div> 



                        {% if users is defined %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Dueño</label>
                                <div class="col-sm-4">
                                  <select class="form-control" name="owner" style="width: 100%;" required="required">
                                    <option value=""></option>
                                    {% for user in users %}
                                      <option value="{{user.id}}">{{user.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            </div> 
                        {% endif %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Backup</label>
                            <div class="col-sm-2">    
                                <input type='file' name="template" id="template" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha entrada en vigor</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="public_date" id="public_date" value="">
                            </div>
                        </div> 
                        
                        
                    </div>          
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div id="master_workflow">
                        <h1>Workflow</h1>
                        <div class="row">
                            <div class="col-sm-3 pre_col_workflow">
                                <div class="col_workflow">
                                    <h2>Administrador</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                        <div class="form-group">
                                            <div class="col-sm-4 masterbox_type_workflow">
                                                <select class="form-control type_workflow" name="type_admin[]" data-type="admin" style="width: 100%;">
                                                    <option value="1">Grupo</option>
                                                    <option value="2" selected="selected">Usuario</option>
                                                </select>
                                            </div>

                                            <div class="master_box_group" style="display:none">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_admin[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for group in groups %}
                                                            <option value="{{group.id}}">{{group.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_user">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_admin[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}">{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_remove">
                                                <div class="col-sm-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="admin"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                            <div class="col-sm-3 pre_col_workflow">
                                <div class="col_workflow">
                                    <h2>Elaboradores</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                        <div class="form-group">
                                            <div class="col-sm-4 masterbox_type_workflow">
                                                <select class="form-control type_workflow" name="type_elab[]" data-type="elab" style="width: 100%;">
                                                    <option value="1">Grupo</option>
                                                    <option value="2" selected="selected">Usuario</option>
                                                </select>
                                            </div>

                                            <div class="master_box_group" style="display:none">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_elab[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for group in groups %}
                                                            <option value="{{group.id}}">{{group.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_user">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_elab[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}">{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_remove">
                                                <div class="col-sm-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="elab"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                            <div class="col-sm-3 pre_col_workflow">
                                <div class="col_workflow">
                                    <h2>Testers</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                        <div class="form-group">
                                            <div class="col-sm-4 masterbox_type_workflow">
                                                <select class="form-control type_workflow" name="type_test[]" data-type="test" style="width: 100%;">
                                                    <option value="1">Grupo</option>
                                                    <option value="2" selected="selected">Usuario</option>
                                                </select>
                                            </div>

                                            <div class="master_box_group" style="display:none">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_test[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for group in groups %}
                                                            <option value="{{group.id}}">{{group.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_user">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_test[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}">{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_remove">
                                                <div class="col-sm-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="test"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                            <div class="col-sm-3 pre_col_workflow">
                                <div class="col_workflow">
                                    <h2>Aprobadores</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                        <div class="form-group">
                                            <div class="col-sm-4 masterbox_type_workflow">
                                                <select class="form-control type_workflow" name="type_aprob[]" data-type="aprob" style="width: 100%;">
                                                    <option value="1">Grupo</option>
                                                    <option value="2" selected="selected">Usuario</option>
                                                </select>
                                            </div>

                                            <div class="master_box_group" style="display:none">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_aprob[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for group in groups %}
                                                            <option value="{{group.id}}">{{group.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_user">
                                                <div class="col-sm-6">
                                                    <select class="form-control" name="relationals_aprob[]" style="width: 100%;" required="required">
                                                        <option value=""></option>
                                                        {% for user in users %}
                                                            <option value="{{user.id}}">{{user.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="master_box_remove">
                                                <div class="col-sm-2">
                                                    <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="aprob"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>

    <div style="display:none">
            <div id="box_groups">
                <div class="master_box_group">
                    <div class="col-sm-6">
                        <select class="form-control" name="relationals[]" style="width: 100%;" required="required">
                            <option value=""></option>
                            {% for group in groups %}
                                <option value="{{group.id}}">{{group.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div id="box_users">
                <div class="master_box_user">
                    <div class="col-sm-6">
                        <select class="form-control" name="relationals[]" style="width: 100%;" required="required">
                            <option value=""></option>
                            {% for user in users %}
                                <option value="{{user.id}}">{{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div id="box_remove">
                <div class="master_box_remove">
                    <div class="col-sm-1">
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <did style="display:none" id="new_line">
            <div class="row line_workflow">
                <div class="form-group">
                    <div class="col-sm-4 masterbox_type_workflow">
                        <select class="form-control type_workflow" name="types[]" style="width: 100%;">
                            <option value="1">Grupo</option>
                            <option value="2" selected="selected">Usuario</option>
                        </select>
                    </div>
                </div>
            </div> 
        </did>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
    <script>
    $( document ).ready(function() {

        $(document).on('click', '.remove_line', function() {
            $(this).closest(".line_workflow").remove();
        });

        $(document).on('click', '.add_line', function() {

            switch($(this).data("type")){
                case "admin": var name = "relationals_admin";break
                case "elab": var name = "relationals_elab";break
                case "test": var name = "relationals_test";break
                case "aprob": var name = "relationals_aprob";break
            }

            $(this).closest(".pre_col_workflow").find(".col_workflow").append($("#new_line").html().replace("types[]", "type_"+name+"[]"));
            $(this).closest(".pre_col_workflow").find(".masterbox_type_workflow:last").after($("#box_users").html().replace("relationals[]", name+"[]")+$("#box_remove").html());
        });

        $(document).on('change', '.type_workflow', function() {
            switch($(this).data("type")){
                case "admin": var name = "relationals_admin";break
                case "elab": var name = "relationals_elab";break
                case "test": var name = "relationals_test";break
                case "aprob": var name = "relationals_aprob";break
            }
            switch($(this).val()){
                case "1":
                    $(this).closest(".line_workflow").find(".master_box_user").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_groups").html().replace("relationals[]", name+"[]"));
                    break;
                case "2":
                    $(this).closest(".line_workflow").find(".master_box_group").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_users").html().replace("relationals[]", name+"[]"));
                    break;
            }
        });

        $(document).on('change', '[name="request_type"]', function() {
            switch($(this).val()){
                case "1":
                    $("#box_new_template").show();
                    $("#box_existent_template").hide();
                    break;
                case "2":
                    $("#box_new_template").hide();
                    $("#box_existent_template").show();
                    break;
            }
        });


        $('#public_date').datepicker({
          autoclose: true,
          orientation: 'bottom auto',
          format: 'yyyy-mm-dd',
          language: 'es'
        });

    });
    </script>
{% endblock %}


