{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block main_title %} Solicitudes {% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div >
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_documents')}}" method="GET">
                        <div class="row">

                            <label class="col-sm-1 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="name" class="form-control" value="{{filters.name is defined ? filters.name : ''}}">
                            </div>

                            {% if areas is defined %}
                                <label class="col-sm-1 control-label item_filter">Area</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="area">
                                    <option value=""></option>
                                    {% for area in areas %}
                                      <option value="{{area.id}}" {{ filters.area is defined and filters.area==area.id ? 'selected="selected"' : ''}}>{{area.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}

                            {% if users is defined %}
                                <label class="col-sm-1 control-label item_filter">Solicitante</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="applicant">
                                    <option value=""></option>
                                    {% for user in users %}
                                      <option value="{{user.id}}" {{ filters.applicant is defined and filters.applicant==user.id ? 'selected="selected"' : ''}}>{{user.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}

                            
                        </div><br>
                        <div class="row">  
                            {% if users is defined %}
                                <label class="col-sm-1 control-label item_filter">Dueño</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="owner">
                                    <option value=""></option>
                                    {% for user in users %}
                                      <option value="{{user.id}}" {{ filters.owner is defined and filters.owner==user.id ? 'selected="selected"' : ''}}>{{user.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}

                            {% if states is defined %}
                                <label class="col-sm-1 control-label item_filter">Estado</label>
                                <div class="col-sm-2 item_filter">
                                  <select class="form-control" style="width: 100%;" name="state">
                                    <option value=""></option>
                                    {% for state in states %}
                                      <option value="{{state.id}}" {{ filters.state is defined and filters.state==state.id ? 'selected="selected"' : ''}}>{{state.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                            {% endif %}

                            <div class="col-sm-4 item_filter">
                                <button type="submit" class="btn btn-primary">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <br>
                <div class="row">
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nº.</th>
                            <th>Nombre</th>
                            <th>Area</th>
                            <th>Solicitante</th>
                            <th>Fecha</th>
                            <th>Dueño</th>
                            <th>Backup</th>
                            <th>Estado</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        {% if items is defined %}
                            {% for item in items %}
                            <tr>
                                <td>{{item.id}}</td>
                                <th></th>
                                <td><a href="{{path('nononsense_tm_request_preadmin', {'id': item.id}) }}">{{item.name}}</a></td>
                                <td>{{item.nameArea}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th></th>
                                <td></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                    {% if count==0 %}
                        <br><b>No se han encontrado solicitudes disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>

</script>
{% endblock %}
