{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | Documentos {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
    <link rel="stylesheet" href="/plugins/select2/dist/css/select2.min.css">
{% endblock %}
{% block main_title %} Solicitud gestión de plantilla {% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        {% endfor %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_documents_update',{'id': item.id is defined ? item.id : 0}) }}" method="POST"  enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="checkbox">
                                    <label>
                                        <input name="request_type" value="1" type="radio" checked="checked"> Nueva plantilla
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="request_type" value="2" type="radio"> Nueva edición
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="box_existent_template" style="display:none">
                            <label class="col-sm-2 control-label">Buscar Plantilla</label>
                            <div class="col-sm-4">
                              <select class="form-control select_template" style="width: 100%;" required="required">
                              </select>
                            </div>
                            <input type="hidden" name="template" value="">
                        </div>

                        <div id="box_new_template">
                            {% if areas is defined %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Area</label>
                                    <div class="col-sm-4">
                                      <select class="form-control" name="area" style="width: 100%;" required="required">
                                        <option value=""></option>
                                        {% for area in areas %}
                                          <option value="{{area.id}}">{{area.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div> 
                            {% endif %}

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nombre Plantilla</label>
                                <div class="col-sm-4">
                                    <input type="text" name="name" class="form-control" value="" required="required">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Desc. solicitud</label>
                            <div class="col-sm-4">
                                <textarea name="description" rows="10" cols="40" required="required" style="width:100%"></textarea>
                            </div>
                        </div> 



                        {% if users is defined %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Dueño</label>
                                <div class="col-sm-4">
                                  <select class="form-control" name="owner" style="width: 100%;" required="required">
                                    <option value=""></option>
                                  </select>
                                </div>
                            </div> 
                        {% endif %}

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Backup</label>
                            <div class="col-sm-4">
                                <select class="form-control" name="backup" style="width: 100%;" required="required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha entrada en vigor</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="public_date" id="public_date" value="" required="required">
                            </div>
                        </div> 
                        
                        
                    </div>          
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div id="master_workflow">
                        <h1>Workflow</h1>
                        <div class="row">
                            <div class="col-sm-3 pre_col_workflow"  data-bloque-type="admin">
                                <div class="col_workflow">
                                    <h2>Administrador</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                        
                                    </div>
                                </div> 
                                <div class="row">
                                    <input type="hidden" class="add_line" data-type="admin">
                                </div><br> 
                            </div>
                            <div class="col-sm-3 pre_col_workflow" data-bloque-type="elab">
                                <div class="col_workflow">
                                    <h2>Elaboradores</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                    
                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="elab"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                            <div class="col-sm-3 pre_col_workflow" data-bloque-type="test">
                                <div class="col_workflow">
                                    <h2>Testers</h2>
                                    <hr>
                                    <div class="row line_workflow">

                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="test"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                            <div class="col-sm-3 pre_col_workflow" data-bloque-type="aprob">
                                <div class="col_workflow">
                                    <h2>Aprobadores</h2>
                                    <hr>
                                    <div class="row line_workflow">
                                        
                                        
                                    </div>
                                </div> 
                                <div class="row">
                                    <button type="button" class="btn btn-default pull-right add_line" data-type="aprob"><i class="fa fa-plus"></i> Añadir</button>
                                </div><br> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                    </div><br>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-11">
                    <button type="submit" class="btn btn-primary  pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
                </div>
            </div>
        </form>
    </div>

    <div style="display:none">
            <div id="box_groups">
                <div class="master_box_group">
                    <div class="col-sm-6">
                        <select class="form-control select_groups" name="relationals[]" style="width: 100%;" required="required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="box_users">
                <div class="master_box_user">
                    <div class="col-sm-6">
                        <select class="form-control select_users" name="relationals[]" style="width: 100%;" required="required">
                            <option value=""></option>}
                        </select>
                    </div>
                </div>
            </div>

            <div id="box_remove">
                <div class="master_box_remove">
                    <div class="col-sm-1">
                        <a href="javascript:void(0)" class="btn btn-xs btn-danger remove_line"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <did style="display:none" id="new_line">
            <div class="row line_workflow">
                <div class="form-group">
                    <div class="col-sm-4 masterbox_type_workflow">
                        <select class="form-control type_workflow" name="types[]" style="width: 100%;">
                            <option value="1">Grupo</option>
                            <option value="2" selected="selected">Usuario</option>
                        </select>
                    </div>
                </div>
            </div> 
        </did>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
    <script src="/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="/plugins/select2/es.js"></script>
    <script>
    var dataworkflow;
    $( document ).ready(function() {
        $.fn.select2.defaults.set('language', 'es');

        /* Eliminamos linea en ese paso del workflow */
        $(document).on('click', '.remove_line', function() {
            $(this).closest(".line_workflow").remove();
        });

        /* Añadimos linea en ese paso del workflow */
        $(document).on('click', '.add_line', function() {
            add_line($(this));
        });

        /* Nos traemos los usuarios y grupos para cada paso del workflow según el area */
        $(document).on('change', '[name="area"]', function() {
            load_users_to_area($(this).val());
        });

        /* No podemos añadir un mismo usuario en un mismo paso del workflow */        
        $(document).on('change', '.select_users', function() {
            element=$(this);
            index=element.closest(".col_workflow").find(".select_users").index(element);
            element.closest(".col_workflow").find(".select_users").each(function() {
                index_aux=element.closest(".col_workflow").find(".select_users").index($(this));
                if(index!=index_aux && element.val()==$(this).val()){
                    toastr.error("No puede añadir el mismo usuario dentro del mismo paso en el workflow", 'Error');
                    element.val("");
                }
            });
        });

        /* No podemos añadir un usuario como aprobador si ya está como elaborador o como tester */
        $(document).on('change', "div[data-bloque-type='aprob'] .select_users", function() {
            element=$(this);
            $("div[data-bloque-type='elab']").find(".select_users").each(function() {
                if(element.val() && element.val()==$(this).val()){
                    toastr.error("Un mismo usuario no puede estar como aprobador si ya está elaborador", 'Error');
                    element.val("");
                }
            });

            $("div[data-bloque-type='test']").find(".select_users").each(function() {
                if(element.val() && element.val()==$(this).val()){
                    toastr.error("Un mismo usuario no puede estar como aprobador si ya está como tester", 'Error');
                    element.val("");
                }
            });
        });

        /* No podemos añadir un usuario como elaborador o como tester si ya está como aprobador */
        $(document).on('change', "div[data-bloque-type='elab'] .select_users, div[data-bloque-type='test'] .select_users", function() {
            element=$(this);
            $("div[data-bloque-type='aprob']").find(".select_users").each(function() {
                if(element.val() && element.val()==$(this).val()){
                    toastr.error("Un mismo usuario no puede estar como elaborador/tester si ya está aprobador", 'Error');
                    element.val("");
                }
            });
        });
        

        /* Si cambiamos el tipo dentre usuario y grupo, se actualiza el selector correspondiente con los usuarios o grupos correspondientes */
        $(document).on('change', '.type_workflow', function() {
            type=$(this).closest(".pre_col_workflow").find(".add_line").data("type");
            switch(type){
                case "admin": var name = "relationals_admin";break
                case "elab": var name = "relationals_elab";break
                case "test": var name = "relationals_test";break
                case "aprob": var name = "relationals_aprob";break
            }
            
            switch($(this).val()){
                case "1":
                    $(this).closest(".line_workflow").find(".master_box_user").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_groups").html().replace("relationals[]", name+"[]"));
                    fill_groups($(this).closest(".line_workflow").find(".masterbox_type_workflow").next(),type);
                    break;
                case "2":
                    $(this).closest(".line_workflow").find(".master_box_group").remove();
                    $(this).closest(".line_workflow").find(".masterbox_type_workflow").after($("#box_users").html().replace("relationals[]", name+"[]"));
                    fill_users($(this).closest(".line_workflow").find(".masterbox_type_workflow").next(),type);
                    break;
            }
        });

        /* Si cambiamos el tipo de solicitud, limpiamos workflow y cambiamos los campos visibles según el tipo de solicitud */
        $(document).on('change', '[name="request_type"]', function() {
            switch($(this).val()){
                case "1":
                    $("#box_new_template").show();
                    $("#box_existent_template").hide();
                    break;
                case "2":
                    $("#box_new_template").hide();
                    $("#box_existent_template").show();
                    break;
            }

            clear_workflow();
        });


        $('#public_date').datepicker({
          autoclose: true,
          orientation: 'bottom auto',
          format: 'yyyy-mm-dd',
          language: 'es'
        });

        /* Buscamos la plantilla sobre la que queremos crear una nueva edición */
        $(".select_template").select2({
            templateResult: format_template,
            minimumInputLength: 3,
                ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
                  url: function () {
                    return url_templates_json();
                  },
                  dataType: 'json',
                  quietMillis: 250,
                  data: function (params, page) {
                      return {
                          name: params.term, // search term
                      };
                      
                  },
                  processResults: function (data, page) { // parse the results into the format expected by Select2.
                    return {results: data.items};
                  },
                  cache: false
            },
            escapeMarkup: function(m) { return m; }
        });

        $('.select_template').on("select2:select", function(e) { 
            $('input[name ="template"]').val(e.params.data.id);
            load_users_to_area(e.params.data.area);
        });

    });

    /* Añadimos una nueva linea */
    function add_line(element){

        switch(element.data("type")){
            case "admin": var name = "relationals_admin";break
            case "elab": var name = "relationals_elab";break
            case "test": var name = "relationals_test";break
            case "aprob": var name = "relationals_aprob";break
        }
        element.closest(".pre_col_workflow").find(".col_workflow").append($("#new_line").html().replace("types[]", "type_"+name+"[]"));
        element.closest(".pre_col_workflow").find(".masterbox_type_workflow:last").after($("#box_users").html().replace("relationals[]", name+"[]")+$("#box_remove").html());

        fill_users(element.closest(".pre_col_workflow").find(".masterbox_type_workflow:last").next(),element.data("type"));
    }

    /* Rellenamos el selector con los usuarios de ese tipo */
    function fill_users(element,type){
        if (typeof dataworkflow !== 'undefined' && typeof dataworkflow.users !== 'undefined') {
            $.each(dataworkflow.users[type],function(key, value){
                element.find('select').append('<option value=' + key + '>' + value.name + '</option>');
            });
        }
    }

    /* Rellenamos el selector con los grupos de ese tipo */
    function fill_groups(element,type){
        if (typeof dataworkflow !== 'undefined' && typeof dataworkflow.groups !== 'undefined') {
            $.each(dataworkflow.groups[type],function(key, value){
                element.find('select').append('<option value=' + key + '>' + value.name + '</option>');
            });
        }
    }

    function format_template (option) {
      if (!option.id) { return option.text; }
      var ob = option.text;  // replace image source with option.img (available in JSON)
      return ob;
    }

    /* Buscamos el json de usuarios y grupos para el area seleccionado */
    function load_users_to_area(area){
        url_users=url_users_json(area);
        $.ajax({
            type: 'GET',
            dataType: "json",
            url: url_users,
            success: function(data){
                console.log(data);
                if(data.users || data.groups){
                    dataworkflow=data;
                    reset_workflow();
                }
                else{
                    toastr.error("No ha sido posible carcar los usuarios para definir el workflow','", 'Error');
                }

            },
            error: function (request, status, error) {
                console.log(request);
                toastr.error("No ha sido posible carcar los usuarios para definir el workflow','", 'Error');
            }
        });
    }

    /* Reseteamos el workflow y añadimos una linea */
    function reset_workflow(data){
        clear_workflow();
        $('[name="owner"]').find('option').not(':first').remove();
        $('[name="backup"]').find('option').not(':first').remove();

        $.each(dataworkflow.users.dueno,function(key, value){
            $('[name="owner"]').append('<option value=' + key + '>' + value.name + '</option>');
            $('[name="backup"]').append('<option value=' + key + '>' + value.name + '</option>');
        });

        $(".pre_col_workflow").find(".add_line").each(function() {
            add_line($(this));
        });
    }

    /* Vaciamos el workflow */
    function clear_workflow(){
        $(".col_workflow").find(".line_workflow").remove();
    }

    function url_users_json(area){
        url="{{ path('nononsense_prepare_workflow_json', {'area': 'value_id'}) }}";
        url=url.replace("value_id", area);
        return url;
    }

    function url_templates_json(){
       url="{{ path('nononsense_templates_active_json') }}";
       return url;
    }
</script>
{% endblock %}


