{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block main_title %} {{'Audit Trail'|trans}}{% endblock %}
{% block content %}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">

            <h3>{{item.name}} {{item.number}}</h3>
            {% if signatures is defined and signatures|length > 0 %}
            <table id="inProcess" class="table ">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                    <th>Fecha</th>
                    <th>Firma</th>
                </tr>
                </thead>
                {% for key,signature in signatures %}

                    <tr>
                        <td>{{key+1}}</td>
                        <td>{{signature.userEntiy.name}}</td>
                        <td>{{signature.action.name}}</td>
                        <td>{{signature.created is defined and signature.created is not null ? signature.created|date("d/m/Y H:i:s") : ''}}</td>
                        <td rowspan="2"><img src="{{signature.signature}}" style="height:100px"></td>
                    </tr>
                    <tr>
                        <td colspan="4">{{signature.description}}</td>
                    </tr>
                    
                {% endfor %}
            </table>
            {% else %}
            <p>No hay acciones registradas en el audittrail</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}
