{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}
{% block main_title %} {{'Historial de cambios'|trans}}{% endblock %}
{% block content %}


<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">

            <h3>{{item.name}} {{item.number}}</h3>
            {% if templates is defined and templates|length > 0 %}
            <table id="inProcess" class="table ">
                <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nº.Edición</th>
                    <th>Solicitante</th>
                    <th>Dueño</th>
                    <th>Backup</th>
                    <th>Elaboradores</th>
                    <th>Tester/s</th>
                    <th>Aprobador/es</th>
                    <th>Administrador</th>
                    <th></th>
                    <th>Fecha efectiva</th>
                    <th>Fecha obsoleta</th>
                    <th>Fecha baja</th>
                    
                </tr>
                </thead>
                {% for key,template in templates %}

                    <tr {{item.id==template.id ? 'style="background-color:#F9F9F9"' : ''}}>
                        <td>{{template.number}}</td>
                        <td>{{template.numEdition}}</td>
                        <td>{{template.applicantName}}</td>
                        <td>{{template.ownerName}}</td>
                        <td>{{template.backupName}}</td>
                        <td>{{template.elab is defined  ? template.elab : ''}}</td>
                        <td>{{template.test is defined  ? template.test : ''}}</td>
                        <td>{{template.aprob is defined  ? template.aprob : ''}}</td>
                        <td>{{template.admin is defined  ? template.admin : ''}}</td>
                        <td>
                            <div class="btn-group btn-xs">
                                <button type="button" class="btn btn-xs btn-primary" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    {% if template.status == 6 %}
                                        <li><a href="{{path('nononsense_tm_request')}}?id={{template.id}}"><i class="fa fa-archive"></i> {{ 'Nueva edición'|trans }}</a></li>
                                    {% endif %}
                                    <li><a href="{{path('nononsense_tm_template_changes_history', {'id': template.id})}}"><i class="fa fa-file-text-o"></i> {{ ' Historial de cambios'|trans }}</a></li>
                                    <li><a href="{{path('nononsense_tm_template_audit_trail', {'id': template.id})}}"><i class="fa fa-book"></i> {{ 'Audit Trail'|trans }}</a></li>
                                    <li><a href="{{path('nononsense_tm_template_cover_page', {'id': template.id})}}"><i class="fa fa-print"></i> {{ 'Imprimir plantilla'|trans }}</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{template.effectiveDate is defined and template.effectiveDate is not null ? template.effectiveDate|date("d/m/Y") : ''}}</td>
                        <td>{{templates[(key+1)].effectiveDate is defined and templates[(key+1)].effectiveDate is not null ? templates[(key+1)].effectiveDate|date("d/m/Y") : ''}}</td>
                        <td></td>
                        
                    </tr>
                    <tr {{item.id==template.id ? 'style="background-color:#F9F9F9"' : ''}}>
                        <td colspan="13">{{template.historyChange}}</td>
                    </tr>
                    <tr>
                        <td colspan="13"><br><br><br></td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No hay historial de cambios asociado a esta plantilla</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script>
    $(document).ready(function () {

    });
</script>
{% endblock %}
