{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{ 'Homepage'|trans }} {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/js/plugins/sweetalert/sweetalert.min.css') }}">
{% endblock %}
{% block main_title %} Guardar limpieza{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="wrapper-content">
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_mclean_cleans_save',{'id': code}) }}" method="POST">
            <input type="hidden" id='url_get_data_input_json' value="{{ path('nononsense_mclean_material_get_data_json',{'id': 'xxx'}) }}" />
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Código asociado</label>
                    <div class="col-sm-7">
                        <input type="text" name="code" class="form-control" required="required" readonly="readonly"
                               value="{{ code }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Centro de trabajo</label>
                    <div class="col-sm-7">
                        <select class="form-control select-center" name="center"
                                {{ materialCleanCode.idCenter.id ? 'readonly="readonly"' : '' }}>
                            {% if materialCleanCode.idCenter.id is defined and materialCleanCode.idCenter.id is not null %}
                                {% for center in centers %}
                                    {% if materialCleanCode.idCenter.id == center.id %}
                                        <option value="{{ center.id }}" selected="selected">{{ center.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option value=""></option>
                                {% for center in centers %}
                                    <option value="{{ center.id }}" {{ materialCleanCode.idCenter.id is defined and materialCleanCode.idCenter.id==center.id ? 'selected="selected"' : '' }}>{{ center.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Material</label>
                    <div class="col-sm-7" id="cont-material">
                        <select class="form-control select-material" name="material"
                                {{ materialCleanCode.idMaterial.id ? 'readonly="readonly"' : '' }}>
                            {% if materialCleanCode.idMaterial.id is defined and materialCleanCode.idMaterial.id is not null %}
                                {% for material in materials %}
                                    {% if materialCleanCode.idMaterial.id == material.id %}
                                        <option value="{{ material.id }}" selected="selected">{{ material.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <option value="">Selecciona un centro de trabajo</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="form-group other-name-input" style="display:none;">
                    <label class="col-md-2 col-sm-4 control-label">Información de material Otros</label>
                    <div class="col-sm-7">
                        <input type="text" name="materialOther" class="form-control">
                    </div>
                </div>
                <div class="form-group additional-info-input"
                    {% if materialCleanCode.idMaterial.additionalInfo is defined and materialCleanCode.idMaterial.additionalInfo != 1 %}
                        style="display:none;"
                    {% endif %}
                >
                    <label class="col-md-2 col-sm-4 control-label">Información Adicional</label>
                    <div class="col-sm-7">
                        <input type="text" name="additionalInfo" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Fecha de limpieza</label>
                    <div class="col-sm-7">
                        <input type="text" name="cleanDate" class="form-control" required="required" readonly="readonly"
                               value="{{ cleanDate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Caduca</label>
                    <div class="col-sm-7">
                        <input type="text" name="expirationDate" class="form-control" required="required" readonly="readonly"
                               value="{{ expirationDate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Realizado por</label>
                    <div class="col-sm-7">
                        <input type="text" name="user" class="form-control" required="required" readonly="readonly"
                               value="{{ app.user.name }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-12">
                        <a href="#" class="btn btn-primary pull-right btn-submit">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar limpieza
                        </a>
                    </div>
                </div>
            </div>
            <input type="hidden" name="password">
            <input type="hidden" name="passCheck" value="{{ path('nononsense_mclean_get_sign_valid') }}">
        </form>
        <input type="hidden" id="url_get_materials_json" value="{{ materialsUrl }}"/>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script>
        $(function () {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            ActivateMenu('admin_cleans');
            $('#side-menu').metisMenu();

            $(document).on('click', '.btn-submit', function (e) {
                e.preventDefault();
                let error = false;

                if(!checkCenter()){
                    toastr.error("Debe seleccionar un centro de trabajo", 'aviso');
                    error = true;
                }

                if(!checkMaterial()){
                    toastr.error("Debe seleccionar un material", 'aviso');
                    error = true;
                }

                const other = $('input[name="materialOther"]');
                if (other[0].hasAttribute('required') && other.val() === ''){
                    toastr.error("Debe escribir el nombre o la descripción del material", 'aviso');
                    error = true;
                }

                if(!error){
                    saveClean();
                }
            });

            $(document).on('change','.select-material',function(){
                if(checkMaterial()){
                    show_loader();
                    let url = $('#url_get_data_input_json').val();
                    url = url.replace("xxx", $('.select-material').val());
                    $.ajax({
                        async:true,
                        url: url,
                        type: 'GET',
                        complete: function ( response ) {
                            hide_loader();
                            let datos = JSON.parse(response.responseText);
                            if(datos.status === 200){
                                if(datos.data.cleanDate != 'undefined'){
                                    $('input[name="cleanDate"]').val(datos.data.cleanDate);
                                }
                                $('input[name="expirationDate"]').val(datos.data.expirationDate);
                                if(datos.data.otherName){
                                    showOtherInput();
                                }else{
                                    hideOtherInput();
                                }
                                if(datos.data.additionalInfo){
                                    showAdditionalInput();
                                }else{
                                    hideAdditionalInput();
                                }
                            }else{
                                $('input[name="expirationDate"]').val('');
                                hideOtherInput();
                                toastr.error("Ha ocurrido un error al intentar cargar la fecha de caducidad", 'aviso');
                            }
                        }
                    });
                }else{
                    $('input[name="expirationDate"]').val('');
                }
            });

            $(document).on('change','.select-center',function(e){
                const url_get_products_json = $('#url_get_materials_json').val();
                const selectedCenter = $('.select-center').val();
                show_loader();
                $.ajax({
                    url: url_get_products_json.replace('xxx', selectedCenter),
                    type: 'GET',
                    dataType: 'json',
                    success: function(response) {
                        hide_loader();
                        const res = JSON.parse(response);
                        if(res.status === 200){
                            $('#cont-material').html(res.data);
                        }
                    },
                    error: function() {
                        hide_loader();
                        console.log("No se ha podido obtener la información");
                    }
                });
            });

            $(document).on('click','#borrar-firma', function (e) {
                e.preventDefault();
                signaturePad.clear();
            });

            function checkCenter(){
                return $('.select-center').val() > 0;
            }

            function checkMaterial(){
                return $('.select-material').val() > 0;
            }

            function showOtherInput()
            {
                $('.other-name-input').show();
                $('input[name="materialOther"]').attr('required','required');
            }

            function hideOtherInput()
            {
                $('.other-name-input').hide();
                $('input[name="materialOther"]').removeAttr('required');
            }

            function showAdditionalInput()
            {
                $('.additional-info-input').show();
                $('input[name="additionalInfo"]').attr('required','required');
            }

            function hideAdditionalInput()
            {
                $('.additional-info-input').hide();
                $('input[name="additionalInfo"]').removeAttr('required');
            }

            function saveClean()
            {
                swal({
                    title: "Contraseña necesaria",
                    text: "Introduce tu contraseña para guardar la limpieza del material.",
                    type: "input",
                    inputType: "password",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#62bbe2',
                    cancelButtonColor: '#ac2925',
                    confirmButtonText: "Guardar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                }, function (password) {
                    if(password !== false && password !== ''){
                        $.ajax({
                            url: $('input[name="passCheck"]').val(),
                            type: 'POST',
                            dataType: 'json',
                            data: {password: password},
                            success: function(response) {
                                if(response.valid){
                                    $('input[name="password"]').val(password);
                                    $('#form_item').submit();
                                }else{
                                    swal({
                                        title: "Error",
                                        text: "La contraseña no es válida",
                                        icon: 'warning',
                                        showCancelButton: false,
                                        confirmButtonColor: '#62bbe2',
                                        confirmButtonText: "Ok",
                                        closeOnConfirm: true
                                    });
                                }
                            },
                            error: function() {
                                swal({
                                    title: "Error",
                                    text: "Ha ocurrido un error al intentar validar la contraseña",
                                    icon: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#62bbe2',
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: true
                                });
                            }
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}
