{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK |  Materiales / {{material.id is not null ? 'Editar' : 'Crear'}} material {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/js/plugins/sweetalert/sweetalert.min.css') }}">
{% endblock %}
{% block main_title %} Materiales / {{material.id is not null ? 'Editar' : 'Crear'}} material{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content animated fadeInUp">
        {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            {{ flashMessage }}
        </div>
        <br>
        {% endfor %}
        {% if material.id is not null and material.updateUser is not null %}
            <div class="row">
                <div class="alert alert-info col-lg-4 col-lg-offset-1">
                    <p>Última modificación: <strong>{{ material.updateUser.name ?? '-' }}</strong></p>
                    <p>Última validación: <strong>{{ material.validateUser.name ?? '-' }}</strong></p>
                    <p>Fecha: <strong>{{ material.updated | date("d-m-Y H:i:s") }}</strong></p>
                </div>
            </div>
        {% endif %}
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_mclean_materials_edit',{'id': material.id is not null ? material.id : 0}) }}" method="POST">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="material_name">Nombre</label>
                            <div class="col-sm-7">
                                <input type="text" name="name" id="material_name" class="form-control" value="{{material.name is not null ? material.name : ''}}" required="required"
                                {% if material.id is not null %} readonly="readonly" {% endif %}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="material_expiration_days">Caducidad limpieza (días)</label>
                            <div class="col-sm-7">
                                <input type="text" name="expiration_days" id="material_expiration_days" class="form-control" value="{{material.expirationDays is not null ? material.expirationDays : ''}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="material_expiration_hours">Caducidad limpieza (horas)</label>
                            <div class="col-sm-7">
                                <input type="text" name="expiration_hours" id="material_expiration_hours" class="form-control" value="{{material.expirationHours is not null ? material.expirationHours : 0}}" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="select_product">Centro</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="center" id="select_center" {{ material.id is not null ? 'disabled="disabled"' : ''}}>
                                    {% for center in centers %}
                                        <option value="{{center.id}}" {{ material.center is defined and material.center is not null and material.center.getId==center.id ? 'selected="selected"' : ''}}>{{center.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="select_product">Producto asociado</label>
                            <div class="col-sm-7">
                                <select class="form-control" name="product" id="select_product" {{ material.id is not null ? 'disabled="disabled"' : ''}}>
                                    <option value="">No aplica</option>
                                    {% for product in products %}
                                        <option value="{{product.id}}" {{ material.product is defined and material.product is not null and material.product.getId==product.id ? 'selected="selected"' : ''}}>{{product.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="check_additional">Información Adicional</label>
                            <div class="col-sm-7">
                                <input name="additionalInfo" value="1" id="check_additional" type="checkbox" {% if material.additionalInfo == true %} checked="checked" {% endif %} {{ material.id is not null ? 'disabled="disabled"' : '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="check_oter">Material Otro</label>
                            <div class="col-sm-7">
                                <input name="otherName" value="1" id="check_oter" type="checkbox" {% if material.otherName == true %} checked="checked" {% endif %} {{ material.id is not null ? 'disabled="disabled"' : '' }}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="check_active">Activo</label>
                            <div class="col-sm-7">
                                <input name="active" value="1" id="check_active" type="checkbox" {% if material.active == true %} checked="checked" {% endif %}>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="password">
                <input type="hidden" name="passCheck" value="{{ path('nononsense_mclean_get_sign_valid') }}">
            </div>
        </form>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-5">
                {% if not material.validated and material.id is not null and material.updateUser is not null and currentUser.id != material.updateUser.id %}
                    <form
                            class="form-horizontal"
                            id="form_validate"
                            action="{{ path('nononsense_mclean_materials_validate',{'id': material.id}) }}"
                            method="POST"
                    >
                        <input type="hidden" name="valPassword">
                        <button type="button" id="validate" class="btn btn-primary  pull-left">
                            <i class="fa fa-check-square" aria-hidden="true"></i> Validar material
                        </button>
                    </form>
                {% endif %}
            </div>
            <div class="col-sm-5">
                <button type="submit" id="save" class="btn btn-primary  pull-right">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> {{material.id is not null ? 'Editar' : 'Registrar'}} material
                </button>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script>

    $( document ).ready(function() {
        ActivateMenu('admin_materials');
        $('#side-menu').metisMenu();

        $(document).on('click', '#save', function (e) {
            e.preventDefault();
            form = document.getElementById("form_item");
            if(form.checkValidity()){
                save();
            }else{
                form.reportValidity();
            }
        });

        $(document).on('click', '#validate', function (e) {
            e.preventDefault();
            validate();
        });

        function save()
        {
            swal({
                title: "Contraseña necesaria",
                text: "Introduce tu contraseña para guardar el material.",
                type: "input",
                inputType: "password",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62bbe2',
                cancelButtonColor: '#ac2925',
                confirmButtonText: "Guardar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            }, function (password) {
                if(password !== false && password !== ''){
                    $.ajax({
                        url: $('input[name="passCheck"]').val(),
                        type: 'POST',
                        dataType: 'json',
                        data: {password: password},
                        success: function(response) {
                            if(response.valid){
                                $('input[name="password"]').val(password);
                                $('#form_item').submit();
                            }else{
                                swal({
                                    title: "Error",
                                    text: "La contraseña no es válida",
                                    icon: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#62bbe2',
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: true
                                });
                            }
                        },
                        error: function() {
                            swal({
                                title: "Error",
                                text: "Ha ocurrido un error al intentar validar la contraseña",
                                icon: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#62bbe2',
                                confirmButtonText: "Ok",
                                closeOnConfirm: true
                            });
                        }
                    });
                }
            });
        }
        function validate()
        {
            swal({
                title: "Contraseña necesaria",
                text: "Introduce tu contraseña para validar.",
                type: "input",
                inputType: "password",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#62bbe2',
                cancelButtonColor: '#ac2925',
                confirmButtonText: "Guardar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            }, function (password) {
                if(password !== false && password !== ''){
                    $.ajax({
                        url: $('input[name="passCheck"]').val(),
                        type: 'POST',
                        dataType: 'json',
                        data: {password: password},
                        success: function(response) {
                            if(response.valid){
                                $('input[name="valPassword"]').val(password);
                                $('#form_validate').submit();
                            }else{
                                swal({
                                    title: "Error",
                                    text: "La contraseña no es válida",
                                    icon: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#62bbe2',
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: true
                                });
                            }
                        },
                        error: function() {
                            swal({
                                title: "Error",
                                text: "Ha ocurrido un error al intentar validar la contraseña",
                                icon: 'warning',
                                showCancelButton: false,
                                confirmButtonColor: '#62bbe2',
                                confirmButtonText: "Ok",
                                closeOnConfirm: true
                            });
                        }
                    });
                }
            });
        }
    });
    </script>
{% endblock %}
