{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{ 'Homepage'|trans }} {% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/js/plugins/sweetalert/sweetalert.min.css') }}">
{% endblock %}
{% block main_title %} Utilización de material{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content">
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <i class="fa fa-check fa-3x" aria-hidden="true"></i> {{ flashMessage }}
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
    <div class="wrapper-content">
        <form class="form-horizontal" id="form_item" action="{{ path('nononsense_mclean_uses_save',{'id': code}) }}" method="POST">
            <div class="row">
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Código asociado</label>
                    <div class="col-sm-7">
                        <input type="text" name="code" class="form-control" required="required" readonly="readonly"
                               value="{{ code }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Centro de trabajo</label>
                    <div class="col-sm-7">
                        <input type="text" name="center" class="form-control" required="required" readonly="readonly"
                               value="{{ center.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Material</label>
                    <div class="col-sm-7">
                        <input type="text" name="material" class="form-control" required="required" readonly="readonly"
                            value="{{ material.name }}{{ materialCleanClean.materialOther is defined and
                            materialCleanClean.materialOther is not empty ? (' - ' ~ materialCleanClean.materialOther) : ''}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Fecha de limpieza</label>
                    <div class="col-sm-7">
                        <input type="text" name="clean-date" class="form-control" required="required" readonly="readonly"
                               value="{{ cleanDate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Caduca</label>
                    <div class="col-sm-7">
                        <input type="text" name="expiration-date" class="form-control" required="required" readonly="readonly"
                               value="{{ cleanExpirationDate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Limpieza realizada por</label>
                    <div class="col-sm-7">
                        <input type="text" name="clean-user" class="form-control" required="required" readonly="readonly"
                               value="{{ cleanUser.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Fecha de utilización</label>
                    <div class="col-sm-7">
                        <input type="text" name="uses-date" class="form-control" required="required" readonly="readonly"
                               value="{{ usesDate }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 col-sm-4 control-label">Process Order</label>
                    <div class="col-sm-7">
                        <input type="text" name="lot-code" class="form-control lot-code-input" readonly="readonly" value="{{ lotCode }}">
                    </div>
                </div>
                {% if material.additionalInfo %}
                    <div class="form-group">
                        <label class="col-md-2 col-sm-4 control-label">Información adicional</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" rows="4" name="additionalInfo"></textarea>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if not error %}
                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <a href="#" class="btn btn-primary pull-right btn-submit">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Registrar verificación
                            </a>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="password">
                <input type="hidden" name="passCheck" value="{{ path('nononsense_mclean_get_sign_valid') }}">
            {% else %}
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2 col-sm-4">
                            <a href="{{ path('nononsense_mclean_uses_scan') }}" class="btn btn-primary pull-right">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i> Volver
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>

{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/plugins/sweetalert/sweetalert.min.js') }}"></script>
    <script>
        $(function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-center",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            ActivateMenu('admin_uses');
            $('#side-menu').metisMenu();

            $(document).on('click', '.btn-submit', function (e) {
                e.preventDefault();
                let error = false;

                if (!$('.lot-code-input').val()) {
                    toastr.error("Debe marcar un process order.", 'aviso');
                    error = true;
                }

                if(!error){
                    saveVerification();
                }
            });

            function saveVerification()
            {
                swal({
                    title: "Contraseña necesaria",
                    text: "Introduce tu contraseña para guardar la utilización del material.",
                    type: "input",
                    inputType: "password",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#62bbe2',
                    cancelButtonColor: '#ac2925',
                    confirmButtonText: "Guardar",
                    cancelButtonText: "Cancelar",
                    closeOnConfirm: false
                }, function (password) {
                    if(password !== false && password !== ''){
                        $.ajax({
                            url: $('input[name="passCheck"]').val(),
                            type: 'POST',
                            dataType: 'json',
                            data: {password: password},
                            success: function(response) {
                                if(response.valid){
                                    $('input[name="password"]').val(password);
                                    $('#form_item').submit();
                                }else{
                                    swal({
                                        title: "Error",
                                        text: "La contraseña no es válida",
                                        icon: 'warning',
                                        showCancelButton: false,
                                        confirmButtonColor: '#62bbe2',
                                        confirmButtonText: "Ok",
                                        closeOnConfirm: true
                                    });
                                }
                            },
                            error: function() {
                                swal({
                                    title: "Error",
                                    text: "Ha ocurrido un error al intentar validar la contraseña",
                                    icon: 'warning',
                                    showCancelButton: false,
                                    confirmButtonColor: '#62bbe2',
                                    confirmButtonText: "Ok",
                                    closeOnConfirm: true
                                });
                            }
                        });
                    }
                });
            }
        });
    </script>
{% endblock %}
