{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Informe de usuarios{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_user_check_requests')}}" method="GET">
                        <div class="form-group">

                            <label class="col-sm-1 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="username" class="form-control" value="{{filters.username is defined ? filters.username : ''}}">
                            </div>


                            <label class="col-sm-2 control-label item_filter">Estado de la solicitud:</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" name="status">
                                    <option value="">Todos</option>
                                    {% for i in 0..1 %}
                                        <option value="{{i}}" {{ filters.status is not empty and filters.status == i ? 'selected="selected"' : ''}}>
                                             {{ i == 1 ? "Aceptada" : "Cancelada"}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                             
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label item_filter">Fecha </label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="from" id="from" value="{{filters.from is defined and filters.from is not empty ? filters.from|date("Y-m-d") : ''}}">
                            </div>

                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="until" id="until" value="{{filters.until is defined and filters.until is not empty ? filters.until|date("Y-m-d") : ''}}">
                            </div>



                            <div class="col-sm-1 item_filter">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row">
                    <table id="inProcessParcial" class="table table-striped">
                        <thead>
                        <tr>

                            <th>Nombre y apellidos</th>
                            <th>Estado de solicitud</th>
                            <th>Fecha de la solicitud</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        {% if accountRequests is defined %}
                            {% for row in accountRequests %}
                            <tr>

                                <td>{{row.username}}</td>
                                <td>
                                    {% if row.status == 1 %}
                                        <dd class="mb-1"><span class="label label-primary">Aprobada</span></dd>
                                    {% elseif row.status is same as(false) %}
                                        <dd class="mb-1"><span class="label label-danger">Cancelada</span></dd>
                                    {% else %}
                                        <dd class="mb-1"><span class="label label-warning">En revision</span></dd>
                                    {% endif %}
                                </td>
                                <td>
                                    {{row.created|date("d-m-Y")}}
                                </td>
                                <td>
                                    <a href="{{ path('nononsense_user_update_requests', {id: row.id})}}" class="btn btn-danger btn-sm" style="color: white"><i class="fa fa-edit"> </i> Revisar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if pagination.count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script>
  $(function () {
    $('#from').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
    $('#until').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });

    ActivateMenu('browse_requests');
    $('#side-menu').metisMenu();
  });
</script>
{% endblock %}
