{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
<style type="text/css">
    .details-table>tbody>tr:nth-child(4n+1) {
        background-color: #f9f9f9;
    }
    .details-row{
        padding: 0px 15px !important;
    }
    .details-row td{
        vertical-align: middle !important;
    }
    .loader {
        border: 12px solid #f3f3f3;
        border-top: 12px solid #1b9cd5;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        animation: spin 1s linear infinite;
    }

    .loader-backdrop{
        position: fixed;
        background: #ffffffc9;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
{% endblock %}
{% block main_title %} Informe de usuarios{% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" action="{{ path('nononsense_user_check_requests')}}" method="GET">
                        <div class="form-group">

                            <label class="col-sm-1 control-label item_filter">Nombre</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="username" class="form-control" value="{{filters.username is defined ? filters.username : ''}}">
                            </div>

                            <label class="col-sm-1 control-label item_filter">MUD ID</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="mudid" class="form-control" value="{{filters.mudid is defined ? filters.mudid : ''}}">
                            </div>

<!--                             <label class="col-sm-2 control-label item_filter">Estado de la solicitud:</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" name="status">
                                    <option value="">Todos</option>
                                    {% for i in 0..1 %}
                                        <option value="{{i}}" {{ filters.status is not empty and filters.status == i ? 'selected="selected"' : ''}}>
                                             {{ i == 1 ? "Aceptada" : "Cancelada"}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div> -->
                             
                            <label class="col-sm-2 control-label item_filter">Tipo de solicitud:</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" name="type">
                                    <option value="">Todos</option>
                                    {% for i in 0..1 %}
                                        <option value="{{i}}" {{ filters.requestType is not empty and filters.requestType == i ? 'selected="selected"' : ''}}>
                                             {{ i == 1 ? "Alta" : "Baja"}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label item_filter">Fecha </label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="from" id="from" value="{{filters.from is defined and filters.from is not empty ? filters.from|date("Y-m-d") : ''}}">
                            </div>

                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="until" id="until" value="{{filters.until is defined and filters.until is not empty ? filters.until|date("Y-m-d") : ''}}">
                            </div>



                            <div class="col-sm-1 item_filter">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row">
                    <table id="inProcessParcial" class="table details-table">
                        <thead>
                            <tr>
                                <th>NUMERO DE SOLICITUD</th>
                                <th>MUD ID</th>
                                <th>SOLICITADO</th>
                                <th>SOLICITANTE</th>
                                <th>FECHA DE SOLICITUD</th>
                                <th>REVISADOS</th>
                                <th>TIPO DE SOLICITUD</th>
                            </tr>
                        </thead>
                        {% if accountRequests is defined %}
                            {% for row in accountRequests %}
                            <tr data-toggle="collapse" data-target="#g_{{row.id}}">
                                <th>{{row.id}}</th>
                                <td>{{row.mudId}}</td>
                                <td>{{row.refUsername}}</td>
                                <td>{{row.username}}</td>
                                <td>{{row.created|date("d-m-Y")}}</td>
                                <td><span class="revised">{{row.revised}}</span>/{{row.request|length}}</td>
                                {# <td>
                                     <a href="{{ path('nononsense_user_update_requests', {id: row.id})}}" class="btn btn-danger btn-sm" style="color: white"><i class="fa fa-edit"> </i> </a> 
                                </td> #}
                                <td>{{row.requestType == 1 ? 'Alta' : 'Baja'}}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="details-row">
                                    <div id="g_{{row.id}}" class="collapse">
                                        <p style="margin-top: 1rem; margin-bottom: 1rem;"><b>Motivo de la solicitud:</b> {{row.description}}</p>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <td>Grupo</td>
                                                    <td>Estado</td>
                                                    <td>Observaciones</td>
                                                    <td>Accion</td>
                                                    <td>Trazabilidad</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for request in row.request %}
                                                    <tr id="p_{{request.id}}">
                                                        <td style="width: 25%">{{ request.groupId.name }}</td>
                                                        <td class="status">
                                                            {% if request.status == 1 %}
                                                                <span class="label label-primary">Aprobada</span>
                                                            {% elseif request.status is same as(false) %}
                                                                <span class="label label-danger">Cancelada</span>
                                                            {% else %}
                                                                <span class="label label-warning">En revision</span>
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            <textarea class="form-control">{{ request.observation }}</textarea>
                                                        </td>
                                                        <td>
                                                            {% if request.status is null or request.status == 0 %}
                                                                <button type="button" class="btn btn-success btn-sm btn-submit" data-value="1" data-id="p_{{request.id}}" data-request="{{row.id}}"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                            {% else %}
                                                                <button type="button" disabled class="btn btn-success btn-sm disabled" data-value="1" data-id="p_{{request.id}}" data-request="{{row.id}}"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                            {% endif %}
                                                            {% if request.status is null %}
                                                                <button type="button" class="btn btn-danger btn-sm btn-submit" data-value="0" data-id="p_{{request.id}}" data-request="{{row.id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                            {% else %}
                                                                <button type="button" disabled class="btn btn-danger btn-sm disabled" data-value="0" data-id="p_{{request.id}}" data-request="{{row.id}}"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                            {% endif %}
                                                        </td>
                                                        <td class="trace">
                                                            {% for extra in request.extra %}
                                                                Solicitud {{extra.status ? 'aprobada' : 'cancelada' }} el {{extra.created|date("d-m-Y")}} por <b>{{extra.validatedBy}}</b> <br>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if pagination.count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ parent() }}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script>
  $(function () {
    $('#from').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
    $('#until').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });

    ActivateMenu('browse_requests');
    $('#side-menu').metisMenu();


    $('.btn-submit').click(function(){

        var that = this;

        var id = $(this).data('id');
        var observation = $('#'+id).find('.form-control').val();
        var status = $(this).data('value');

        var msg = ($(this).data('value')) ? 'aceptar' : 'rechazar';
        var group = $('#'+id).find('td').first();

        if (window.confirm('¿Seguro que desea '+msg+' la solicitud '+$(this).data('request')+', al grupo '+group.text()+'?')) {

            toastr.options = {
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": true,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "1000",
                  "timeOut": "5000",
                  "extendedTimeOut": "1000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
                };

            loader(true);

            $.ajax({
                url: '{{ path("nononsense_user_ajax_update_requests")}}',
                data: {id: id, status: status, observation: observation },
                method: 'PUT',
                success: function(e){
                    toastr[e.type](e.message);
                    var status;
                    var date = new Date();
                    var fullDate = date.toLocaleDateString('es-ES', {  
                        year: 'numeric', 
                        month: '2-digit', 
                        day: '2-digit' 
                    }).replaceAll('/', '-');

                    if (e.type == 'success') {
                        status = '<span class="label label-primary">Aceptada</span>';
                        $(that).prop('disabled', true);
                        $(that).next().prop('disabled', true);
                        $('[data-target="#g_'+$(that).data('request')+'"]').find('.revised').text(parseInt($('[data-target="#g_'+$(that).data('request')+'"]').find('.revised').text())+1)
                    }else if(e.type == 'warning'){
                        status = '<span class="label label-danger">Cancelada</span>';
                        $(that).prop('disabled', true);
                        $('[data-target="#g_'+$(that).data('request')+'"]').find('.revised').text(parseInt($('[data-target="#g_'+$(that).data('request')+'"]').find('.revised').text())+1)
                    }
                    //var status = (e.type == 'success') ? '<span class="label label-primary">Aceptada</span>' : '<span class="label label-danger">Cancelada</span>';
                    $('#'+id).find('.status').html(status)
                    $('#'+id).find('.trace').append('Solicitud '+$(status).text().toLowerCase()+' el '+fullDate+' por <b>{{app.user.username}}</b><br>')
                },
                error: function(jqXHR, textStatus, errorThrown){
                    toastr.error('Actualmente no podemos procesar su solicitud: '+jqXHR.statusText);
                },
                complete: function(e){
                    loader(false);
                }
            });
        }   
    });

    function loader(status){
        $('.loader-backdrop').remove();
        if (status) {
            $('<div class="loader-backdrop"><div class="loader"></div></div>').appendTo('body');
        }
    }
  });
</script>
{% endblock %}
