<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Metadata <small>Todos los campos son obligatorios</small></h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content form-horizontal">
                {% if form_errors(createUser.username) %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ form_errors(createUser.username) }}    
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'Username'|trans}}</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            {{ form_widget(
                                createUser.username, 
                                {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Insert an unique username'|trans
                                        }
                                }
                            ) 
                            }}
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                {% if form_errors(createUser.name) %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ form_errors(createUser.name) }}    
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            {{ form_widget(
                                createUser.name, 
                                {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Insert the user full name'|trans
                                        }
                                }
                            ) 
                            }}
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                {% if form_errors(createUser.position) %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ form_errors(createUser.position) }}    
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Posición</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
                            {{ form_widget(
                                createUser.position, 
                                {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Insert the company position'|trans
                                        }
                                }
                            ) 
                            }}
                        </div>
                    </div>
                </div>  
                {% if create and admin %}
                    {% if createUser.vars.value.password is null or not createUser.vars.valid %}
                        <div class="hr-line-dashed"></div>
                        {% if form_errors(createUser.password.first) %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ form_errors(createUser.password.first) }}    
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contraseña</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{ form_widget(
                                        createUser.password.first, 
                                        {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Password'|trans
                                                }
                                        }
                                    ) 
                                    }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Confirmar contraseña</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                    {{ form_widget(
                                        createUser.password.second, 
                                        {
                                        'attr': {
                                            'class': 'form-control',
                                            'placeholder': 'Confirm password'|trans
                                                }
                                        }
                                    ) 
                                    }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
                {% if admin %}
                    <div class="hr-line-dashed"></div>
                    {% if form_errors(createUser.email.first) %}
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            {{ form_errors(createUser.email.first) }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                {{ form_widget(
                                    createUser.email.first,
                                    {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Insert an unique user email'|trans
                                            }
                                    }
                                )
                                }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Confirmar email</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-check"></i></span>
                                {{ form_widget(
                                    createUser.email.second,
                                    {
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'Confirm user email'|trans
                                            }
                                    }
                                )
                                }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="hr-line-dashed"></div>
                {% if form_errors(createUser.phone) %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ form_errors(createUser.phone) }}    
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">Teléfono</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span> 
                            {{ form_widget(
                                createUser.phone, 
                                {
                                'attr': {
                                    'class': 'form-control',
                                    'placeholder': 'Phone number'|trans
                                        }
                                }
                            ) 
                            }} 
                        </div>
                    </div>
                </div>
                {% if admin %}
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Activo</label>
                    <div class="col-sm-10">
                        <div class="checkbox i-checks">
                            <label>{{ form_widget(createUser.isActive)}}</label>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rol</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="account">
                            <option value="3" {% if rol == 3 %}selected{% endif %}>{{'Administrator'|trans}}</option>
                            <option value="2" {% if rol == 2 %}selected{% endif %}>{{'User'|trans}}</option>
                        </select>
                    </div>
                </div>
                {% endif %}
                <div class="hr-line-dashed"></div>
                <!-- This control is hidden -->
                <div class="hiddenField"> 

                    {{ form_widget(createUser.description, {'value': createUser.description.vars.value|escape_tags}) }}
                </div>
                {% if form_errors(createUser.description) %}    
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        {{ form_errors(createUser.description) }}    
                    </div>
                {% endif %}
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Descripción</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="summernote"><p>Inserte <strong>aquí</strong> la descripción del usuario.</p></div>
                    </div>
                </div>
            </div>  

        </div>          
    </div>              
</div>
