{% extends '::base.html.twig' %}
{% block page_title %}Docoaro - GSK | {{'Users'|trans}} {% endblock %}

{% block main_title %} {{'Users'|trans}} {% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('nononsense_home_homepage')}}">{{'Home'|trans}}</a>
    </li>
    <li class="active">
        <strong>{{'Users'|trans}}</strong>
    </li>
</ol>
{% endblock %}
{% block content %}
    
{% for flashMessage in app.session.flashbag.get('deletedUser') %}
    <div class="alert alert-danger alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }} 
    </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('createdUser') %}
    <div class="alert alert-success alert-dismissable" style="margin: 10px 16px 0 16px">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        {{ flashMessage }}
    </div>
{% endfor %}
    
    <div class="row">
        <div class="col-lg-12">
            <div>
                <a href="{{ path('nononsense_user_create') }}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Nuevo usuario</a>
            </div><br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content" style="padding-bottom: 0">
                <div class="ibox">
                    <div class="ibox-content">
                        {% if query == 'q' %}
                        <p>
                            {{'Introduce a query term if you wish to filter your results'|trans}}:
                        </p>
                        {% else %}
                        <p>
                            {{paging.results}} 
                            {% if paging.results == 1 %}
                                {{'result'|trans}} 
                            {% else %}
                                {{'results'|trans}} 
                                {% endif %}
                            {{'found for'|trans}}: <span class="text-navy">“{{query}}”</span>
                        </p>
                        {% endif %}

                        <div class="search-form">
                            <form action="index.html" method="get">
                                <div class="input-group">
                                    <input type="text" id="search" class="form-control"><span class="input-group-btn"> <button type="button" id="searchButton" class="btn btn-primary">{{'Search'|trans}}</button> </span>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight" style="padding-bottom: 60px">
                <div class="ibox">
                    {% set counter = 0 %}
                    {% for item in users %}
                        {% set counter = counter + 1 %}
                        <div class="col-lg-6" {% if counter is odd %} style="clear: left"  {% endif %}onclick="window.location.href='{{path('nononsense_user_profile', {'id': item.id}) }}'">
                            <div class="contact-box">
                                <a href="{{path('nononsense_user_profile', {'id': item.id}) }}">
                                    <div class="col-sm-5">
                                        {% if item.isActive == false %}<button class="btn btn-warning btn-xs " type="button" style="position: absolute; z-index: 10"><i class="fa fa-lock"></i></button>{% endif %}
                                        <div class="text-center limitSize320">    
                                            <img alt="image" class="img-circle m-t-xs img-responsive" src="{{webPath}}user_{{item.id}}.jpg" style="border: 1px solid #ccc">
                                            <div class="m-t-xs font-bold">{{ item.position}}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-7" style="overflow: hidden">
                                        <h3 style="padding-top: 20px"><strong>{{ item.name }}</strong></h3>
                                        <p><i class="fa fa-calendar"></i> <strong>{{'User since'|trans}}:</strong> {{ item.created|localizeddate('medium', 'none', app.request.locale)}}</p>
                                        <address>
                                            <strong><i class="fa fa-user"> </i> {{'Contact info'|trans}}</strong><br>
                                            <a href="mailto:{{item.email}}" style="text-decoration: underline">{{item.email}}</a><br>
                                            {{ item.phone }}
                                        </address>
                                        {% if app.user.id==1 or  app.user.id==2 or  app.user.id==3  or  app.user.id==4  %}
                                        <p class="m-t-lg">
                                            <a href="{{ path('nononsense_home_homepage', {'_switch_user': item.email}) }}" class="btn btn-danger btn-sm"  style="color: white"><i class="fa fa-users"> </i> Impersonate</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <div class="clearfix"></div>
            <div class="hr-line-dashed"></div>

            {% include '::pagination.html.twig' %}
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            
            $('.contact-box').mouseenter(function() {
                $(this).css('box-shadow', '0 0 5px 1px rgba(55,55,88,0.25)');
            });
            
            $('.contact-box').mouseleave(function() {
                $(this).css('box-shadow', 'none');
            });

            ActivateMenu('browse_users');
            $('#side-menu').metisMenu();
            $( "#searchButton" ).click(function( ) {
                if ($("#search").val() == ''){
                    path = "{{ path(paging.path)}}";
                    window.location.href = path;
                }else if ($("#search").val().length < 3) {
                    toastr.error('{{'The search term needs to include at least three characters.'|trans}}','{{'Warning'|trans}}');
                }else {
                    path = "{{ path(paging.path)}}" + "/1/" + $("#search").val();
                    window.location.href = path;
                }
              });
              
            $( "#search" ).keypress(function( event ) {
                if ( event.which == 13 ) {
                    event.preventDefault();
                    $( "#searchButton" ).click();
                }
            });
            
       });
    </script>
{% endblock %}


