{% extends '::base.html.twig' %}
{% block page_title %}DOCXPRESSO | {{'Homepage'|trans}} {% endblock %}
{% block head %}
{{ parent() }}
<link rel="stylesheet" href="/css/plugins/datapicker/datepicker3.css">
{% endblock %}
{% block main_title %} Log General {% endblock %}
{% block content %}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <div class="row">
                    <form class="form-horizontal" id="form_item" method="GET">
                        <div class="form-group">
                            <label class="col-sm-1 control-label item_filter">MUDID</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="username" class="form-control" value="{{filters.username is defined ? filters.username : ''}}">
                            </div>
                            <label class="col-sm-1 control-label item_filter">Descripción/IP</label>
                            <div class="col-sm-2 item_filter">
                                <input type="text" name="description" class="form-control" value="{{filters.description is defined ? filters.description : ''}}">
                            </div>
                            <label class="col-sm-2 control-label item_filter">Tipo de registro:</label>
                            <div class="col-sm-2 item_filter">
                                <select class="form-control" name="logType">
                                    <option value="">Todos</option>
                                    {% for logType in logsTypes %}
                                        <option value="{{logType.id}}" {{ filters.logType is not empty and filters.logType == logType.id ? 'selected="selected"' : ''}}>
                                        {{logType.name}}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label item_filter">Fecha </label>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="from" id="from" value="{{filters.from is defined and filters.from is not empty ? filters.from|date("Y-m-d") : ''}}">
                            </div>
                            <div class="col-sm-1 item_filter">
                                <input type="text" class="form-control pull-right" autocomplete="off" name="until" id="until" value="{{filters.until is defined and filters.until is not empty ? filters.until|date("Y-m-d") : ''}}">
                            </div>
                            <div class="col-sm-1 item_filter">
                                <button type="submit" class="btn btn-primary pull-right">Filtrar</button>
                            </div>
                        </div>
                      </form>
                </div>
                <div class="row">
                    <table id="inProcessParcial" class="table details-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>TIPO</th>
                                <th>USUARIO</th>
                                <th>DESCRIPCIÓN</th>
                                <th>FECHA</th>
                            </tr>
                        </thead>
                        {% if logs is defined %}
                            {% for log in logs %}
                            <tr data-toggle="collapse">
                                <th>{{log.id}}</th>
                                <td>{{log.type is defined and log.type ? log.type.name : 'Sin definir'}}</td>
                                <td>{{log.user is defined and log.user ? log.user.username : ''}}</td>
                                <td>{{log.description}}</td>
                                <td>{{log.date|date("d-m-Y H:i")}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if pagination.count==0 %}
                        <br><b>No se han encontrado datos disponibles</b>
                    {% endif %}
                    {% if pagination is defined and pagination.needed %}
                        {% include '::pagination2.html.twig' %}
                    {% endif %}
                    <a href="{{pagination.url}}{{pagination.character}}export_excel=1" target="_blank" class="btn btn-primary pull-right"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Excel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{parent()}}
<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/js/plugins/datapicker/locales/bootstrap-datepicker.es.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('#from').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });
    $('#until').datepicker({
      autoclose: true,
      orientation: 'bottom auto',
      format: 'yyyy-mm-dd',
      language: 'es'
    });

    ActivateMenu('browse_access_log');
    $('#side-menu').metisMenu();
</script>
{% endblock %}
